{% extends 'base.html' %}

{% block title %}Login!{%endblock title %}

{% block page_title %}We are in closed beta{%endblock page_title %}

{% block content %}
  {% if not request.user.is_anonymous %}
    <section>
      <a href="{% url 'upgrade' %}">Upgrade</a> your account privileges if you
      have an invitation code.
    </section>
  {% endif %}

  <section>
    Log into a validated account with
    <a href="{% url 'social:begin' 'steam' %}">Steam</a> to apply an upgrade
    code.
  </section>
{%endblock content %}
