{% extends 'base.html' %}

{% block title %}Account Upgrading{%endblock title %}

{% block page_title %}Account Upgrading{%endblock page_title %}

{% block content %}
  {% if request.user.is_authenticated %}

    <button type='submit' class='stripe-button btn btn-small btn-primary'>Upgrade</button>


    <p>Upgrade your account with an invitation code</p>
    <form class='chart-form' action="" method='POST'>
      {% csrf_token %}
      {% include "_form.html" %}
      <div class="control-group">
      <div class="controls pull-right">
        <button type="submit" class="btn btn-small btn-primary">Submit</button>
      </div>
      </div>
    </form>
  {% else %}
    <p>
      Log into an account with
      <a href="{% url 'social:begin' 'steam' %}">Steam</a> to apply an
      upgrade code.
    </p>
  {% endif %}
  <h4>{{ message }}</h4>
{% endblock content %}
{% comment %}

{% block extra_js %}
  <script src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_czwzkTp2tactuLOEOqbMTRzG"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="http://www.icon2s.com/img128/128x128-black-white-metro-google-web-search-icon.png">
</script>
{% endcomment %}
{# {% endblock extra_js %} #}
