{% extends "base.html" %}

{% block extra_nav %}
<ul class="nav nav-tabs">
  <li class="{% if active == "heroes-vitals" %}active{% endif %}"><a href="/heroes/vitals">Vitals</a></li>
  <li class="{% if active == "heroes-lineups" %}active{% endif %}"><a href="/heroes/lineups">Lineups</a></li>
</ul>
{% endblock extra_nav %}

{% block extra_js %}
    <script type="text/javascript">
        $('.hero-tags').tagsInput({
            autocomplete_url:'/heroes/api/getheroes',
            defaultText:'Name'
        });
    </script>
    <script type="text/javascript">
        $('.player-tags').tagsInput({
            autocomplete_url:'/players/api/getplayers',
            defaultText:'Name'
        });
    </script>

{% endblock extra_js %}
