{% extends "base.html" %}
{% block extra_nav %}
  



<div class="navbar navbar-inverse ">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Subindex</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/heroes/vitals">Vitals</a></li>
              <li><a href="/foo">Subindex</a></li>
              <li><a href="#about">Subindex</a></li>
              <li><a href="#contact">Subindex</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% comment %}
{% endcomment %}
{% endblock extra_nav %}
