{% extends "hero_base.html" %}
{% block extra_css %}{% endblock extra_css %}
{% block title %}Hero Vital Stats{% endblock title %}
{% block page_title %}Hero Stat Charts{% endblock page_title %}
{% block content %}
    <div>
    <div style='float:left'>
    <form action="" method='POST'>
        {% csrf_token %}

        {% include "_form.html" %}

        <div class="control-group">
            <div class="controls pull-right">
                <button type="submit" class="btn btn-small btn-primary">Submit</button>
            </div>
        </div>
    </form>
    </div>
    {% if image %}
        <img src="{{MEDIA_URL}}{{imagebase}}">
    {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
    $('.tags').tagsInput({
        autocomplete_url:'http://127.0.0.1:8000/heroes/api/getheroes',

    });
    </script>
{% endblock extra_js %}

