{% extends "hero_base.html" %}

{% block title %}{{ hero.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
  <div class="hero-lore">
    <h1>{{ hero.name }}</h1>
    <div class="infobox">
      {% if hero.mugshot %}
      <img class="hero" src='{{ hero.mugshot.url }}'>
      {% endif %}
    </div>
    <p class="lore">
      {{ hero.lore }}
    </p>
  </div>
  <div class="hero-ability-list">
    {% for ability in abilities %}
      <a href="{% url 'heroes:ability_detail' ability_name=ability.machine_name %}" class="ability thumbnail">
        <img src="{{ ability.picture.url }}" alt="{{ ability.name }}" class="ability">
        <p class='overlayer'>{{ ability.name }}</p>
      </a>
    {% endfor %}
    <div class="clearfix"></div>
  </div>
  <div class="hero-chart-list">
    <span id='chart1'></span>
    <span id='chart2'></span>
    <span id='chart3'></span>
  </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $(function() {
      $.get(
        '{% url "heroes:hero_performance_api" %}',
        {
          hero: '{{ hero.name }}',
          x_var: 'duration',
          y_var: 'kills',
          group_var: 'skill',
        },
        function(json){
          $( "#chart1" ).html('<img id="theImg" src='+json['url']+' />');
        },
        'json'
      );

      $.get(
        '{% url "heroes:hero_performance_api" %}',
        {
          hero: '{{ hero.name }}',
          x_var: 'duration',
          y_var: 'K-D+.5*A',
          group_var: 'skill',
        },
        function(json){
          $( "#chart2" ).html('<img id="theImg" src='+json['url']+' />')
        },
        'json'
      );

      $.get(
        '{% url "heroes:hero_performance_api" %}',
        {
          hero: '{{ hero.name }}',
          x_var: 'duration',
          y_var: 'gold',
          group_var: 'skill',
        },
        function(json){
          $( "#chart3" ).html('<img id="theImg" src='+json['url']+' />')
        },
        'json'
      );
    });
  </script>
{% endblock extra_js  %}



