{% extends "hero_base.html" %}

{% block title %}Hero List{% endblock %}

{% block page_title %}Hero Index{% endblock %}

{% block content %}
  <div class="row">
    {% for hero in hero_list %}
      {% if hero.thumbshot and hero.name %}
        <div class="col-md-2">
          <a href="{% url 'heroes:detail' hero_name=hero.machine_name %}" class="thumbnail">
            <img src="{{ hero.mugshot.url }}" alt="{{ hero.name }}">
            <p class='overlayer'>{{ hero.name }}</p>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
