{% extends "hero_base.html" %}

{% block title %}Testingu!{% endblock title %}

{% block page_title %}Testingu!{% endblock page_title %}

{% block content %}
  <div id='result'></div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $(function () {
    $.get(
      '{% url "heroes:hero_performance_api" %}',
      {
        hero: 'Axe',
        x_var: 'duration',
        y_var: 'kills',
        group_var: 'skill',
      },
      function (json){
        console.log(json.url);
        $("#result").html('<img id="theImg" src=' + json['url'] + ' />');
      },
      'json'
    );
  });
</script>
{% endblock extra_js %}
