[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "datadrivendota/static/bootstrap"]
	path = datadrivendota/static/bootstrap
	url = git://github.com/twbs/bootstrap.git
    ignore = all
[submodule "datadrivendota/static/js/tags"]
	path = datadrivendota/static/js/tags
	url = https://github.com/xoxco/jQuery-Tags-Input
