# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

#Media
media/
assets/

#Tempfiles
datadrivendota/static/temp

# Twelve-factor secret settings in the environment:
.env

# Byproducts of LESS compilation:
datadrivendota/static/css/*.css

#Ignore artifacts of local image construction
1d_*

#Rabbit reset bash script
rabbit_reset

#Folder of management things
convenience files/

#Common data failure output
failface.png

# SublimeText cruft
datadrivendota.sublime-project
datadrivendota.sublime-workspace

# Build artifacts
heroku_static_pages/

#Sublime project
ddd.sublime-project
ddd.sublime-workspace

#Temp pngs
*-*-*-*-*.png

#Nose Coverage
.coverage

#Profiling
kernprof*
