{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock title %}

{% block page_title %}{{ item.name }}{% endblock page_title %}

{% block content %}
  <a class="item thumbnail">
    <img class="item" src="{{ item.mugshot.url }}" alt="{{ item.name }}">
  </a>
  {% if item.description %}
    <p>{{ item.description }}</p>
  {% endif %}
  {% if item.notes %}
    <p>{{ item.notes }}</p>
  {% endif %}
  {% if item.lore %}
    <p class="lore">{{ item.lore }}</p>
  {% endif %}
{% endblock content %}
