{% extends "base.html" %}
{% load staticfiles pipeline navigation_extras steam_extras intercom_extras %}

{% block title %}{{ title }}{% endblock title %}

{% block page_title %}{{ title }}
{% endblock page_title %}

{% block content %}
  {% include "_image_form_embed.html" %}

  <div>{{extra_notes|safe}}</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  var data;
  d3.json('{{MEDIA_URL}}{{json_data}}', function(source){
    data = source;
    window.d3ening.plot(source, '#chart')
  });
</script>
{% endblock extra_js %}
