{% extends "row_base.html" %}

{% block title %}{{ item.name }}{% endblock title %}

{% block page_title %}{{ item.name }}{% endblock page_title %}

{% block content %}

<div class="ability-card thumbnail">
  <div class="aligner">
    <a class="item thumbnail">
      <img class="item" src="{{ item.mugshot.url }}" alt="{{ item.name }}">
    </a>
  </div>

  {% if item.description %}
    <p>{{ item.description }}</p>
  {% endif %}
  {% if item.notes %}
    <p>{{ item.notes }}</p>
  {% endif %}
  {% if item.lore %}
    <blockquote class="lore">{{ item.lore }}</blockquote>
  {% endif %}
{% endblock content %}
</div>
