{% extends "matches_base.html" %}
{% block extra_css %}{{form.media}}{% endblock extra_css %}
{% block title %}Endgame Charts{% endblock title %}
{% block page_title %}Chart Endgame Data{% endblock page_title %}

{% block content %}
    <div>
    <div style='float:left'>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <br>
            <input type='submit' value='Submit'>
        </form>
    </div>
    {% if image %}
        <img src="{{MEDIA_URL}}{{imagebase}}">
    {% endif %}
</div>
{% endblock content %}
