{% extends "matches_base.html" %}

{% block title %}Match Index{% endblock title %}

{% block page_title %}Matches Index{% endblock page_title %}

{% block content %}
{% if match_list %}
  <div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Match ID</th>
          <th>Duration</th>
          <th>Start Time</th>
          <th>Lobby Type</th>
          <th>Game Mode</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for match in match_list %}
          <tr>
            <td>
              <a href="{% url 'matches:match_detail' match_id=match.steam_id %}">{{match.steam_id}}</a>
            </td>
            <td>{{ match.display_duration }}</td>
            <td>{{ match.display_date|date:"D d M Y" }}</td>
            <td>{{ match.lobby_type.description }}</td>
            <td>{{ match.game_mode.description }}</td>
            {% if match.follow_annotations %}
              <td>
              {% for detail in match.follow_annotations %}
                <span>
                  <img src="{{detail.player_image}}">
                  <img src="{{detail.hero_image}}">{{detail.KDA}}
                </span>
              {% endfor %}
              </td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include "_pagination.html" with pages_list=match_list page_links_to_display=match_list.paginator.page_range %}

{% else %}
  <p>
    You do not seem to have any feeds active.  Add players to follow in the
    <a href="{% url 'players:management' %}">management panel</a> to track
    new games here!
  </p>
{% endif %}
{% endblock content %}
