{% extends "matches_base.html" %}

{% block title %}Match Index{% endblock title %}

{% block page_title %}Matches Index{% endblock page_title %}

{% block content %}
<div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Hero</th>
      {% for skill in skill_levels %}
        <th>{{ skill }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for hero, row in match_info.items %}
        <tr>
          <td>{{hero}}, ({{hero.steam_id}})</td>
          {% for skill, set in row.items %}
            <td>
            {% for validity, val in set.items %}
              {{ val }}
              {% if not forloop.last %}
                -
              {% endif %}
            {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock content %}
