{% extends "matches_base.html" %}

{% load staticfiles %}

{% block extra_css %}{{ form.media }}{% endblock extra_css %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block page_title %}Match #{{ match.steam_id }}{% endblock page_title %}

{% block content %}
  <div class="match-data">
    {{ match.game_mode.description }} {{ match.lobby_type.description }},
    {{ match.hms_duration }} @ {{ match.hms_start_time }}
  </div>
  <div>
  <table class='table table-condensed'>
    <thead>
      <tr>
        <td>Hero</td>
        <td>Is Pick?</td>
        <td>Team</td>
      </tr>
    </thead>
    <tbody>

    {% for pb  in match.pickban_set.all %}
      <tr>
        <td>{{pb.hero.name}}</td>
        <td>{{pb.is_pick}}</td>
        <td>{{pb.team}}</td>
        <td>{{pb.order}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
  </div>
  <div>
    <table class="table  table-condensed" id='myTable'>
      <thead>
        <tr>
          <th colspan=3>Player</th>
          <th>K</th>
          <th>D</th>
          <th>A</th>
          <th>K-D+A/2</th>
          <th>Items</th>
          <th>Level</th>
          <th>Last Hits</th>
          <th>Denies</th>
          <th colspan=2>Hero</th>
          <th>Gold/min</th>
          <th>XP/min</th>
          <th>Hero Dmg</th>
          <th>Tower Dmg</th>
          <th>Hero Heal</th>
          <th>Side</th>
        </tr>
      </thead>
      <tbody>
        {% for summary in summaries %}
          <tr>
            <td>{{ summary.player.steam_id }}</td>
            <td><img src="{{ summary.player.avatar }}"></td>
            <td>{{ summary.player.persona_name }}</td>
            <td>{{ summary.kills }}</td>
            <td>{{ summary.deaths }}</td>
            <td>{{ summary.assists }}</td>
            <td>{{ summary.kda }}</td>
            <td>
              {% if summary.item_0.thumbshot %}
                <img src="{{ summary.item_0.thumbshot.url }}">
              {% endif %}
              {% if summary.item_1.thumbshot %}
                <img src="{{ summary.item_1.thumbshot.url }}">
              {% endif %}
              {% if summary.item_2.thumbshot %}
                <img src="{{ summary.item_2.thumbshot.url }}">
              {% endif %}
              {% if summary.item_3.thumbshot %}
                <img src="{{ summary.item_3.thumbshot.url }}">
              {% endif %}
              {% if summary.item_4.thumbshot %}
                <img src="{{ summary.item_4.thumbshot.url }}">
              {% endif %}
              {% if summary.item_5.thumbshot %}
                <img src="{{ summary.item_5.thumbshot.url }}">
              {% endif %}

            </td>

            <td>{{ summary.level }}</td>
            <td>{{ summary.last_hits }}</td>
            <td>{{ summary.denies }}</td>
            <td>{{ summary.hero.name }}</td>

            {% if summary.hero.thumbshot %}
              <td><img src="{{ summary.hero.thumbshot.url }}" width="50%" height="50%"></td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{ summary.gold_per_min }}</td>
            <td>{{ summary.xp_per_min }}</td>
            <td>{{ summary.hero_damage }}</td>
            <td>{{ summary.tower_damage }}</td>
            <td>{{ summary.hero_healing }}</td>
            <td>
              {{ summary.which_side }}
              {% if summary.is_win %} (win){% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if kdc_basename %}
    <img src="{{ MEDIA_URL }}{{ kdc_basename }}">
  {% endif %}
  {% if xg_basename %}
    <img src="{{ MEDIA_URL }}{{ xg_basename }}">
  {% endif %}
{% endblock content %}
