{% extends "matches_base.html" %}
{% load staticfiles compressed navigation_extras steam_extras intercom_extras %}

{% block title %}{{ title }}{% endblock title %}

{% block page_title %}{{ title }}
            <div class='glyphicon glyphicon-question-sign tourglyph'  title='Click me!'></div>
{% endblock page_title %}

{% block content %}
  {% include "_image_form_embed.html" %}

  <div>{{extra_notes|safe}}</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">

var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

var margin = {top: 10, right: 20, bottom: 20, left: 30},
    padding = {top: 0, right: 0, bottom: 0, left: 0},
    outerWidth = 400,
    outerHeight = 400,
    innerWidth = outerWidth - margin.left - margin.right,
    innerHeight = outerHeight - margin.top - margin.bottom,
    width = innerWidth - padding.left - padding.right,
    height = innerHeight - padding.top - padding.bottom;


function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'')
        ;
}

var getVals = function(obj){
   var vals = [];
   for(var key in obj){
      vals.push(obj[key]);
   }
   return vals;
}

d3.json('{{MEDIA_URL}}{{json_data}}',function(d){
  raw_data=getVals(d);
  d3.json('{{MEDIA_URL}}{{params}}',function(p){
    params=p;

    data = d3.nest().key(function(d){return d.split_var}).key(function(d){return d.group_var}).entries(raw_data)

    var svg = d3.select("#chart").selectAll("svg")
        .data(data)
        .enter().append("svg:svg")
        .attr("width", outerWidth)
        .attr("height", outerHeight)

    var line = d3.svg.line()
        .interpolate("linear")
        .x(function(d) { return x(d.x_var); })
        .y(function(d) { return y(d.y_var); });


    var x = d3.scale.linear().domain([params['x_min'],params['x_max']]).range([0, width]);
        var y = d3.scale.linear().domain([params['y_min'], params['y_max']]).range([height,0]);

    var xAxis = d3.svg.axis().scale(x).orient("bottom"),
        yAxis = d3.svg.axis().scale(y).orient("left");

    var color = d3.scale.category10();

    var g = svg.append("g")
        .attr("width", width)
        .attr("height", height)
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    g.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .append("text")
          .attr("y", -16)
          .attr("x", width)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text(params['x_label']);

    g.append("g")
        .attr("class", "y axis")
        .attr("transform", "translate(0,0)")
        .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text(params['y_label']);


    var series = g.selectAll('.series').data(function(d){
            return(d.values);
        }).enter().append('g')
    .attr("class", 'dataset')
    .attr("id", function(d){return convertToSlug(d.key)})

    series.selectAll('.points').data(function(d){return d.values}).enter().append('circle')
    .attr('cx',function(d){return(x(d.x_var)) })
    .attr('cy',function(d){return(y(d.y_var)) })
    .attr('r', 5)
    .style("fill", function(d) { return color(String(d.label));})
    .on("mouseover", function(d) {
            div.transition()
                .duration(200)
                .style("opacity", .9);
            div .html(d.tooltip)
                .style("left", (d3.event.pageX) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
            })
        .on("mouseout", function(d) {
            div.transition()
                .duration(500)
                .style("opacity", 0);
        })
    if(params['draw_path']){
      series.append("svg:path").attr("d", function(d){return(line(d.values))})
      .style("stroke", function(d) { return color(d.values[0].label);})
      .style("stroke-width", 3)
      .style("fill", 'none')
    }
    var legend = svg.append("g")
      .attr("class", "legend")
      .attr("height", 100)
      .attr("width", 100)
    .attr("transform", "translate(10,20)");

    var rows = legend.selectAll('rect')
          .data(function(d){return d.values})
          .enter();
        rows.append("rect")
          .attr("x", 50)
          .attr("y", function(d, i){ return i *  20;})
          .attr("width", 10)
          .attr("height", 10)
          .style("fill", function(d) {
             var return_color = color(d.values[0].label);
             return return_color;
          })
          .on("mouseover",
            function (d, i) {
              d3.selectAll('.dataset').filter(function(p){return convertToSlug(p.key)!=convertToSlug(d.key)})
              .transition().duration(1000).style('opacity',.3)
          })
          .on("mouseout", function(d) {
            div.transition()
                .duration(500)
                d3.selectAll('.dataset').filter(function(p){return convertToSlug(p.key)!=convertToSlug(d.key)})
                .transition().duration(1000).style('opacity',1)
        })

        rows.append('text')
          .attr("x", 62)
          .attr("y", function(d, i){ return 11+(i *  20);})
          .text(function(d){return d.key});
  });
});





</script>

{% block tour %}

<script type="text/javascript">
  $(function () {
    var tour = new Tour({
      backdrop: true
    });

    tour.addSteps([
      {
        orphan: true,
        title: "Welcome!",
        content: "Match pages let you compare end-of-game data across players."
      },
      {
        element: ".chart-form",
        title: "Asking questions",
        content: "Specify who and what to see here."
      },
      {
        element: "ul.nav-tabs",
        title: "Other questions",
        content: "For charts about heroes or players themselves, try these subtabs.",
        placement: "bottom"
      },
      {
        orphan: true,
        title: "Ready to go!",
        content: "Challenge: How do your endgame kills compare to [A]kke's when you both win?"
      }
    ]);

    $(".tourglyph").on("click",function(){
      tour.restart('.page-tour');
    })

  });

</script>
{% endblock tour %}


{% endblock extra_js %}

