{% load url from future %}
{% load bootstrap_tags %}

<div class="subscribe-form">
    <h2>Subscriptions</h2>
    <p class="lead">We let users subscribe and get extra features through a small monthly payment.  Benefits include:</p>
    <ul>
    <li>
        No ads
    </li>
    <li>
        Importing your own data and that of up to 7 other people
    </li>
    <li>
        Requesting particular matches for import
    </li>
    <li>
        Helping the devs cover costs
    </li>
    </ul>
    <p class="lead">
        Pick a plan below and get started today!
    </p>
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <form action="{% url 'payments_ajax_subscribe' %}" class="form ajax"  data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" data-replace-closest=".subscribe-form" method="POST">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input name="stripe_token" type="hidden" />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
    </form>
</div>

