{% extends "base.html" %}

{% load navigation_extras %}

{% block extra_nav %}
  <ul class='nav nav-tabs'>
    <li class="{% active 'payments:payments_subscribe' %}"><a href="{% url 'payments:payments_subscribe' %}">Subscribe</a></li>
    <li class="{% active 'payments:payments_change_card' %}"><a href="{% url 'payments:payments_change_card' %}">Change Card</a></li>

    <li class="{% active 'payments:payments_change_plan' %}"><a href="{% url 'payments:payments_change_plan' %}">Change Plan</a></li>
    <li class="{% active 'payments:payments_history' %}"><a href="{% url 'payments:payments_history' %}">Payment History</a></li>
    <li class="{% active 'payments:payments_cancel' %}"><a href="{% url 'payments:payments_cancel' %}">Cancel</a></li>
  </ul>
{% endblock extra_nav %}


{% block extra_js %}
	<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script>
    $(function() {
        $('body').on("click", '.change-card, .subscribe-form button[type=submit]', function(e) {
          e.preventDefault();
          var $form = $(this).closest("form"),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $form.trigger("submit");
              };

          StripeCheckout.open({
            key:         $form.data("stripe-key"),
            name:        'Payment Method',
            panelLabel:  'Add Payment Method',
            token:       token
          });

          return false;
        });
    });
</script>
{% endblock extra_js %}
