{% extends "payments/pay_base.html" %}
{% load url from future %}

{% block title %}Purchase a Subscription{% endblock title %}

{% block topbar %}{# Let's get rid of the ads on this page. Ads when you're considering paying feels unclassy. #}{% endblock topbar %}
{% block extra_nav %}{# Let's get rid of the tabnav here. #}{% endblock extra_nav %}

{% block content %}
  <div class="row">
      <div class="col-md-3">
          {{ block.super }}
      </div>
      <div class="col-md-9">
          <div class="jumbotron">
              {% with request.user.customer.current_subscription as subscription %}
              {% if not subscription or subscription.status != 'active'  %}
              <h1>Go Pro!</h1>
              {% include "payments/_subscription_status.html" %}
              {% include "payments/_subscribe_form.html" %}
              {% else %}
              <h1>Thanks for subscribing</h1>
              <p class="lead">
                You currently already have an active subscription, which will automatically
                renew in <strong>{{ subscription.current_period_end|timeuntil }}</strong>.
              </p>
              <p>
                If you like, you can
                <ul>
                    <li><a href="{% url 'payments_history' %}">view your payment history</a>,</li>
                    <li><a href="{% url 'payments_change_card' %}">change your card</a> or</li>
                    <li><a href="{% url 'payments_change_plan' %}">change your subscription</a>.</li>
                </ul>
              </p>
              {% endif %}
              {% endwith %}
          </div>
      </div>
  </div>
{% endblock %}
