{% extends "base.html" %}

{% block content %}
<div class='row' id='entry-list'>
    {% if object_list %}
        {% for entry in object_list %}
            {% include "blog/_entry.html" %}
        {% endfor %}
        {% else %}
            <div class='jumbotron'>
            <h1>Your blog is online!</h1>
            <p>Now try adding some entries!</p>
            </div>
    {% endif %}
</div>
{% include "_pagination.html" with pages_list=object_list page_links_to_display=object_list.paginator.page_range_with_ellipses %}

<div class='row'>
    <div class='col-md-12'>
    {% include "accounts/mixins/_login_convert.html" %}
    </div>
</div>
{% endblock content %}
