.d2items {
        background-image: url("../images/mini_spritesheet.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 29px;
        height: 21px;
    }
    i.d2items.chainmail {
        background-position: 0px -0px;
    }
    i.d2items.bottle_invisibility {
        background-position: 0px -42px;
    }
    i.d2items.butterfly {
        background-position: 0px -84px;
    }
    i.d2items.stout_shield {
        background-position: 0px -126px;
    }
    i.d2items.blink {
        background-position: 0px -168px;
    }
    i.d2items.claymore {
        background-position: 0px -210px;
    }
    i.d2items.talisman_of_evasion {
        background-position: 0px -252px;
    }
    i.d2items.veil_of_discord {
        background-position: 0px -294px;
    }
    i.d2items.broadsword {
        background-position: 0px -336px;
    }
    i.d2items.crimson_guard {
        background-position: 0px -378px;
    }
    i.d2items.ancient_janggo {
        background-position: 0px -420px;
    }
    i.d2items.cloak {
        background-position: 0px -462px;
    }
    i.d2items.ward_observer {
        background-position: 0px -504px;
    }
    i.d2items.winter_ham {
        background-position: 0px -546px;
    }
    i.d2items.diffusal_blade {
        background-position: 0px -588px;
    }
    i.d2items.arcane_boots2 {
        background-position: 0px -630px;
    }
    i.d2items.gloves {
        background-position: 0px -672px;
    }
    i.d2items.mystery_toss {
        background-position: 0px -714px;
    }
    i.d2items.black_king_bar {
        background-position: 0px -756px;
    }
    i.d2items.poor_mans_shield {
        background-position: 0px -798px;
    }
    i.d2items.rapier {
        background-position: 0px -840px;
    }
    i.d2items.point_booster {
        background-position: 0px -882px;
    }
    i.d2items.dagon_2 {
        background-position: 0px -924px;
    }
    i.d2items.nian_flag_trap {
        background-position: 0px -966px;
    }
    i.d2items.greevil_whistle {
        background-position: 0px -1008px;
    }
    i.d2items.necronomicon {
        background-position: 0px -1050px;
    }
    i.d2items.tranquil_boots {
        background-position: 0px -1092px;
    }
    i.d2items.orchid {
        background-position: 0px -1134px;
    }
    i.d2items.ring_of_aquila_active {
        background-position: 0px -1176px;
    }
    i.d2items.tango_single {
        background-position: 0px -1218px;
    }
    i.d2items.hand_of_midas {
        background-position: 0px -1260px;
    }
    i.d2items.pers {
        background-position: 0px -1302px;
    }
    i.d2items.ring_of_health {
        background-position: 0px -1344px;
    }
    i.d2items.halloween_rapier {
        background-position: 0px -1386px;
    }
    i.d2items.javelin {
        background-position: 0px -1428px;
    }
    i.d2items.sange {
        background-position: 0px -1470px;
    }
    i.d2items.mjollnir_arc.001 {
        background-position: 0px -1512px;
    }
    i.d2items.monkey_king_bar {
        background-position: 0px -1554px;
    }
    i.d2items.relic {
        background-position: 0px -1596px;
    }
    i.d2items.platemail {
        background-position: 0px -1638px;
    }
    i.d2items.headdress {
        background-position: 0px -1680px;
    }
    i.d2items.oblivion_staff {
        background-position: 0px -1722px;
    }
    i.d2items.firecrackers {
        background-position: 0px -1764px;
    }
    i.d2items.tombstone {
        background-position: 0px -1806px;
    }
    i.d2items.sphere {
        background-position: 0px -1848px;
    }
    i.d2items.emptyitembg {
        background-position: 0px -1890px;
    }
    i.d2items.gem {
        background-position: 0px -1932px;
    }
    i.d2items.satanic {
        background-position: 0px -1974px;
    }
    i.d2items.hyperstone {
        background-position: 0px -2016px;
    }
    i.d2items.winter_cake {
        background-position: 0px -2058px;
    }
    i.d2items.bracer {
        background-position: 0px -2100px;
    }
    i.d2items.band_of_elvenskin {
        background-position: 0px -2142px;
    }
    i.d2items.flying_courier {
        background-position: 0px -2184px;
    }
    i.d2items.ring_of_basilius_active {
        background-position: 0px -2226px;
    }
    i.d2items.gem_of_true_sight {
        background-position: 0px -2268px;
    }
    i.d2items.winter_snowball {
        background-position: 0px -2310px;
    }
    i.d2items.winter_coal {
        background-position: 0px -2352px;
    }
    i.d2items.necronomicon_3 {
        background-position: 0px -2394px;
    }
    i.d2items.basher {
        background-position: 0px -2436px;
    }
    i.d2items.greater_clarity {
        background-position: 0px -2478px;
    }
    i.d2items.blades_of_attack {
        background-position: 0px -2520px;
    }
    i.d2items.mjollnir_arc.002 {
        background-position: 0px -2562px;
    }
    i.d2items.bottle_empty {
        background-position: 0px -2604px;
    }
    i.d2items.blade_mail {
        background-position: 0px -2646px;
    }
    i.d2items.mystery_vacuum {
        background-position: 0px -2688px;
    }
    i.d2items.smoke_of_deceit {
        background-position: 0px -2730px;
    }
    i.d2items.winter_greevil_treat {
        background-position: 0px -2772px;
    }
    i.d2items.sange_and_yasha {
        background-position: 0px -2814px;
    }
    i.d2items.shadow_amulet {
        background-position: 0px -2856px;
    }
    i.d2items.bottle_doubledamage {
        background-position: 0px -2898px;
    }
    i.d2items.tpscroll {
        background-position: 0px -2940px;
    }
    i.d2items.lesser_crit {
        background-position: 0px -2982px;
    }
    i.d2items.greater_salve {
        background-position: 0px -3024px;
    }
    i.d2items.rod_of_atos {
        background-position: 0px -3066px;
    }
    i.d2items.tranquil_boots_active {
        background-position: 0px -3108px;
    }
    i.d2items.assault {
        background-position: 0px -3150px;
    }
    i.d2items.cheese {
        background-position: 0px -3192px;
    }
    i.d2items.dagon_5 {
        background-position: 0px -3234px;
    }
    i.d2items.blade_of_alacrity {
        background-position: 0px -3276px;
    }
    i.d2items.travel_boots_tinker {
        background-position: 0px -3318px;
    }
    i.d2items.courier_dire {
        background-position: 0px -3360px;
    }
    i.d2items.ghost_scepter {
        background-position: 0px -3402px;
    }
    i.d2items.soul_ring {
        background-position: 0px -3444px;
    }
    i.d2items.ring_of_regen {
        background-position: 0px -3486px;
    }
    i.d2items.helm_of_the_dominator {
        background-position: 0px -3528px;
    }
    i.d2items.winter_greevil_garbage {
        background-position: 0px -3570px;
    }
    i.d2items.boots {
        background-position: 0px -3612px;
    }
    i.d2items.power_treads_agi {
        background-position: 0px -3654px;
    }
    i.d2items.refresher {
        background-position: 0px -3696px;
    }
    i.d2items.magic_stick {
        background-position: 0px -3738px;
    }
    i.d2items.urn_of_shadows {
        background-position: 0px -3780px;
    }
    i.d2items.gloves_of_haste {
        background-position: 0px -3822px;
    }
    i.d2items.mjollnir_arc.000 {
        background-position: 0px -3864px;
    }
    i.d2items.mystery_hook {
        background-position: 0px -3906px;
    }
    i.d2items.demon_edge {
        background-position: 0px -3948px;
    }
    i.d2items.mystery_arrow {
        background-position: 0px -3990px;
    }
    i.d2items.circlet {
        background-position: 0px -4032px;
    }
    i.d2items.courier_dire_flying {
        background-position: 0px -4074px;
    }
    i.d2items.winter_skates {
        background-position: 0px -4116px;
    }
    i.d2items.robe {
        background-position: 0px -4158px;
    }
    i.d2items.cyclone {
        background-position: 0px -4200px;
    }
    i.d2items.gauntlets {
        background-position: 0px -4242px;
    }
    i.d2items.bottle_bounty {
        background-position: 0px -4284px;
    }
    i.d2items.bottle_small {
        background-position: 0px -4326px;
    }
    i.d2items.power_treads_str {
        background-position: 0px -4368px;
    }
    i.d2items.abyssal_blade {
        background-position: 0px -4410px;
    }
    i.d2items.vitality_booster {
        background-position: 0px -4452px;
    }
    i.d2items.null_talisman {
        background-position: 0px -4494px;
    }
    i.d2items.ward_sentry {
        background-position: 0px -4536px;
    }
    i.d2items.salve {
        background-position: 0px -4578px;
    }
    i.d2items.soul_booster {
        background-position: 0px -4620px;
    }
    i.d2items.eagle {
        background-position: 0px -4662px;
    }
    i.d2items.armlet_active {
        background-position: 0px -4704px;
    }
    i.d2items.ghost {
        background-position: 0px -4746px;
    }
    i.d2items.helm_of_iron_will {
        background-position: 0px -4788px;
    }
    i.d2items.recipe_scroll {
        background-position: 0px -4830px;
    }
    i.d2items.yasha {
        background-position: 0px -4872px;
    }
    i.d2items.hood_of_defiance {
        background-position: 0px -4914px;
    }
    i.d2items.reaver {
        background-position: 0px -4956px;
    }
    i.d2items.bfury {
        background-position: 0px -4998px;
    }
    i.d2items.courier {
        background-position: 0px -5040px;
    }
    i.d2items.wraith_band {
        background-position: 0px -5082px;
    }
    i.d2items.winter_stocking {
        background-position: 0px -5124px;
    }
    i.d2items.ring_of_basilius {
        background-position: 0px -5166px;
    }
    i.d2items.present {
        background-position: 0px -5208px;
    }
    i.d2items.quelling_blade {
        background-position: 0px -5250px;
    }
    i.d2items.bottle_haste {
        background-position: 0px -5292px;
    }
    i.d2items.armlet {
        background-position: 0px -5334px;
    }
    i.d2items.ethereal_blade {
        background-position: 0px -5376px;
    }
    i.d2items.diffusal_blade_2 {
        background-position: 0px -5418px;
    }
    i.d2items.staff_of_wizardry {
        background-position: 0px -5460px;
    }
    i.d2items.crimson_robe {
        background-position: 0px -5502px;
    }
    i.d2items.mantle {
        background-position: 0px -5544px;
    }
    i.d2items.boots_of_elves {
        background-position: 0px -5586px;
    }
    i.d2items.buckler {
        background-position: 0px -5628px;
    }
    i.d2items.energy_booster {
        background-position: 0px -5670px;
    }
    i.d2items.dagon_4 {
        background-position: 0px -5712px;
    }
    i.d2items.force_staff {
        background-position: 0px -5754px;
    }
    i.d2items.winter_kringle {
        background-position: 0px -5796px;
    }
    i.d2items.heavens_halberd {
        background-position: 0px -5838px;
    }
    i.d2items.dust {
        background-position: 0px -5880px;
    }
    i.d2items.sobi_mask {
        background-position: 0px -5922px;
    }
    i.d2items.mask_of_madness {
        background-position: 0px -5964px;
    }
    i.d2items.bottle {
        background-position: 0px -6006px;
    }
    i.d2items.aegis {
        background-position: 0px -6048px;
    }
    i.d2items.cyclone_2 {
        background-position: 0px -6090px;
    }
    i.d2items.mjollnir {
        background-position: 0px -6132px;
    }
    i.d2items.radiance_inactive {
        background-position: 0px -6174px;
    }
    i.d2items.mekansm {
        background-position: 0px -6216px;
    }
    i.d2items.recipe {
        background-position: 0px -6258px;
    }
    i.d2items.necronomicon_2 {
        background-position: 0px -6300px;
    }
    i.d2items.pipe {
        background-position: 0px -6342px;
    }
    i.d2items.mystery_missile {
        background-position: 0px -6384px;
    }
    i.d2items.dagon_3 {
        background-position: 0px -6426px;
    }
    i.d2items.halloween_candy_corn {
        background-position: 0px -6468px;
    }
    i.d2items.radiance {
        background-position: 0px -6510px;
    }
    i.d2items.slippers {
        background-position: 0px -6552px;
    }
    i.d2items.ring_of_aquila {
        background-position: 0px -6594px;
    }
    i.d2items.winter_mushroom {
        background-position: 0px -6636px;
    }
    i.d2items.magic_wand {
        background-position: 0px -6678px;
    }
    i.d2items.arcane_boots {
        background-position: 0px -6720px;
    }
    i.d2items.mithril_hammer {
        background-position: 0px -6762px;
    }
    i.d2items.power_treads_int {
        background-position: 0px -6804px;
    }
    i.d2items.sheepstick {
        background-position: 0px -6846px;
    }
    i.d2items.tango {
        background-position: 0px -6888px;
    }
    i.d2items.winter_woolies {
        background-position: 0px -6930px;
    }
    i.d2items.dagon {
        background-position: 0px -6972px;
    }
    i.d2items.greevil_whistle_toggle {
        background-position: 0px -7014px;
    }
    i.d2items.bottle_illusion {
        background-position: 0px -7056px;
    }
    i.d2items.bottle_regeneration {
        background-position: 0px -7098px;
    }
    i.d2items.winter_greevil_chewy {
        background-position: 0px -7140px;
    }
    i.d2items.ogre_axe {
        background-position: 0px -7182px;
    }
    i.d2items.invis_sword {
        background-position: 0px -7224px;
    }
    i.d2items.ring_of_protection {
        background-position: 0px -7266px;
    }
    i.d2items.heart {
        background-position: 0px -7308px;
    }
    i.d2items.winter_coco {
        background-position: 0px -7350px;
    }
    i.d2items.lifesteal {
        background-position: 0px -7392px;
    }
    i.d2items.branches {
        background-position: 0px -7434px;
    }
    i.d2items.greater_crit {
        background-position: 0px -7476px;
    }
    i.d2items.slippers_of_halcyon {
        background-position: 0px -7518px;
    }
    i.d2items.phase_boots {
        background-position: 0px -7560px;
    }
    i.d2items.ultimate_scepter {
        background-position: 0px -7602px;
    }
    i.d2items.clarity {
        background-position: 0px -7644px;
    }
    i.d2items.power_treads {
        background-position: 0px -7686px;
    }
    i.d2items.shivas_guard {
        background-position: 0px -7728px;
    }
    i.d2items.medallion_of_courage {
        background-position: 0px -7770px;
    }
    i.d2items.winter_cookie {
        background-position: 0px -7812px;
    }
    i.d2items.ultimate_orb {
        background-position: 0px -7854px;
    }
    i.d2items.maelstrom {
        background-position: 0px -7896px;
    }
    i.d2items.vanguard {
        background-position: 0px -7938px;
    }
    i.d2items.mystic_staff {
        background-position: 0px -7980px;
    }
    i.d2items.bottle_medium {
        background-position: 0px -8022px;
    }
    i.d2items.vladmir {
        background-position: 0px -8064px;
    }
    i.d2items.manta {
        background-position: 0px -8106px;
    }
    i.d2items.quarterstaff {
        background-position: 0px -8148px;
    }
    i.d2items.firework_mine {
        background-position: 0px -8190px;
    }
    i.d2items.void_stone {
        background-position: 0px -8232px;
    }
    i.d2items.courier_radiant_flying {
        background-position: 0px -8274px;
    }
    i.d2items.orb_of_venom {
        background-position: 0px -8316px;
    }
    i.d2items.flask {
        background-position: 0px -8358px;
    }
    i.d2items.flask2 {
        background-position: 0px -8400px;
    }
    i.d2items.courier_radiant {
        background-position: 0px -8442px;
    }
    i.d2items.place_building {
        background-position: 0px -8484px;
    }
    i.d2items.travel_boots {
        background-position: 0px -8526px;
    }
    i.d2items.desolator {
        background-position: 0px -8568px;
    }
    i.d2items.skadi {
        background-position: 0px -8610px;
    }
    i.d2items.bloodstone {
        background-position: 0px -8652px;
    }
    i.d2items.belt_of_strength {
        background-position: 0px -8694px;
    }
    