/*! project specific LESS goes here. */

/*
Trick or Treat palette:
http://www.colourlovers.com/palette/54697/Trick_or_Treat
Dark navy: #130912;
Rich purple: #3e1c33;
Purple: #602749;
Ochre: #b14623;
Pumpkin: #f6921d;
*/
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative|Roboto:400,700,400italic,700italic);

@body-bg: #3e1c33;
@text-color: #f4cff1;
// @link-color: #f6921d;
// @link-color-hover: #b14623;

@brand-primary: #f6921d;
@brand-success: #f4cff1;
@brand-info: #b55ab0;
@brand-warning: #543780;
@brand-danger: #c74052;

@navbar-inverse-color: #f4cff1;
@navbar-inverse-bg: #3e1c33;
@navbar-inverse-border: darken(@navbar-inverse-bg, 7.5%);
@navbar-inverse-link-active-bg: darken(@navbar-inverse-bg, 7.5%);

@nav-tabs-active-link-hover-bg: @brand-info;

/*
@nav-tabs-border-color
@nav-tabs-link-hover-border-color
@nav-tabs-active-link-hover-color
@nav-tabs-active-link-hover-border-color
*/


/**
 * Colors!
 * #b55ab0 // Bright purple
 * #ec7ef2 // Pale fuchsia
 * #c74052 // Calm pomegranate
 * #543780 // Saturated medium purple
 * #3e1c33 // Rich purple
 * #f4cff1 // Pale lavender
 * #f6921d // Does Not Occur in Nature orange
 * #b14623 // Terracotta
 */

/**
 * Color variables!

 * @brand-primary
 * @brand-success
 * @brand-warning
 * @brand-danger
 * @brand-info

 * @body-bg
 * @text-color
 * @link-color
 * @link-hover-color

 * @code-color
 * @code-bg
 * @pre-color
 * @pre-bg
 * @pre-border-color

 * @component-active-color
 * @component-active-bg

 * @btn-link-disabled-color

 * @btn-default-color
 * @btn-default-bg
 * @btn-default-border

 * @btn-success-color
 * @btn-success-bg
 * @btn-success-border

 * @btn-primary-color
 * @btn-primary-bg
 * @btn-primary-border

 * @btn-warning-color
 * @btn-warning-bg
 * @btn-warning-border

 * @btn-info-color
 * @btn-info-bg
 * @btn-info-border

 * @btn-danger-color
 * @btn-danger-bg
 * @btn-danger-border

 * @state-success-text
 * @state-success-bg
 * @state-success-border

 * @state-warning-text
 * @state-warning-bg
 * @state-warning-border

 * @state-danger-text
 * @state-danger-bg
 * @state-danger-border

 * @state-info-text
 * @state-info-bg
 * @state-info-border

 * @navbar-default-color
 * @navbar-default-bg
 * @navbar-default-border

 * @navbar-inverse-color
 * @navbar-inverse-bg
 * @navbar-inverse-border

 * @navbar-default-link-color
 * @navbar-default-link-hover-color
 * @navbar-default-link-hover-bg
 * @navbar-default-link-active-color
 * @navbar-default-link-active-bg
 * @navbar-default-link-disabled-color
 * @navbar-default-link-disabled-bg

 * @navbar-inverse-link-color
 * @navbar-inverse-link-hover-color
 * @navbar-inverse-link-hover-bg
 * @navbar-inverse-link-active-color
 * @navbar-inverse-link-active-bg
 * @navbar-inverse-link-disabled-color
 * @navbar-inverse-link-disabled-bg

 * @navbar-default-brand-color
 * @navbar-default-brand-hover-color
 * @navbar-default-brand-hover-bg

 * @navbar-inverse-brand-color
 * @navbar-inverse-brand-hover-color
 * @navbar-inverse-brand-hover-bg

 * @navbar-default-toggle-hover-bg
 * @navbar-default-toggle-icon-bar-bg
 * @navbar-default-toggle-border-color

 * @navbar-inverse-toggle-hover-bg
 * @navbar-inverse-toggle-icon-bar-bg
 * @navbar-inverse-toggle-border-color

 */

@font-family-sans-serif: 'Roboto', sans-serif;
@headings-font-family: 'Cinzel Decorative', cursive;
@icon-font-path: '../bootstrap/fonts/';

// @btn-primary-bg: #f4cff1;
