body {
  background-image: url('../images/background.png');
  background-repeat: repeat-x;
  background-position: top;
}

#body.container {
  margin-bottom: 70px;
}

.navbar-brand {
  font-family: 'Cinzel Decorative', cursive;
  font-variant: small-caps;
}

.chart-form {
  margin-right: 15px;
  width: 250px;
}

form ul {
  list-style: none;
}

label.active {
  font-style: italic;
}

img.ability {
  height: 105px;
  width: 105px;
}

img.item {
  float: right;
  height: 64px;
  margin: 0 0 1em 1em;
  width: 85px;
}

.lore {
  font-style: italic;
  width: 700px;
  letter-spacing: 0.03em;
}

.infobox {
  float: right;
  width: 300px;

  img.hero {
    margin: 0 auto;
  }
}

.help-block {
    font-style: italic;
}

.tour-tour {
  color: #000;
}

.form-container {
  float: left;
}

div#IntercomDefaultWidget {
  bottom: 80px;
}

.databaru {
  height: 4px;
}

.pos {
  background-color: darkgreen;
}

.neg {
  background-color: red;
}

.overlayer {
  z-index: 100;
  position: absolute;
  color: #f6f7f0; /* @text-color */
  left: 20px;
  top: 80px;
}

a.thumbnail:hover, a.thumbnail:focus {
  border-color: #ef6d3b; /* @brand-danger, but it looks good. */
}

a.ability {
  display: inline-block;
  position: relative;

  p.overlayer {
    display: inline-block;
    top: auto;
    bottom: -5px;
    left: 5px;
  }
}

/*Enfootening*/
html,
body {
  height: 100%;    /* to keep .footer on bottom */
  margin: 0;       /* to get rid of scroll bar, because (100% + default margin = scroll) */
}

#main-wrap {
  min-height: 100%;   /* to keep .footer on bottom */
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  font-size: smaller;
  font-style: italic;
}

img.hero-portrait {
  height: 90px;
  width: 160px;
}

.player-infobox {
  float: right;
  width: 330px;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 20px 10px;

  img {
    display: block;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }
}

.pagination-wrap {
  text-align: center;
}

.match-data {
  font-style: italic;
}

.pickban-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

#dire-pick,
#radiant-pick {
  li {
    img {
      height: 72px;
      width: 128px;
    }
  }
}

.dire-pickban,
.radiant-pickban {
  height: 410px;
  text-align: center;
}
svg{background:#534A80;}

text{
  fill:#000000;
}
