body {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navbar-brand {
  font-family: 'Cinzel Decorative', cursive;
  font-variant: small-caps;
}

.chart-form {
  margin-right: 15px;
}

form ul {
  list-style: none;
}

label.active {
  font-style: italic;
}
