@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

@import url(//fonts.googleapis.com/css?family=Cinzel+Decorative|Roboto:400,700,400italic,700italic);

@body-bg: #000;

@brand-danger: #ef6d3b;
@brand-info: #f6dca2;
@brand-primary: #AA37CA;
@brand-success: #90c5a9;
@brand-warning: #fa8b60;


// For some custom elements.
@interest-focus: #B63BD9;
@rich_background: #770055;


@font-family-sans-serif: 'Roboto', sans-serif;
@icon-font-path: '../bootstrap/fonts/';

@nav-tabs-active-link-hover-bg: @brand-info;
@container-large-desktop: @container-desktop;

// Most of this is switching to a dark theme.
@body-bg: #000000;
@sectional-bg: #444;
@jumbotron-bg: @sectional-bg;
@jumbotron-color: #FFF;
@text-color: #f6f7f0;
@main_block_background: #333333;
@well-bg: @sectional-bg;
@panel-bg: @sectional-bg;
@list-group-bg: @sectional-bg;
@list-group-link-heading-color: @text-color;
@legend-color: @text-color;



