// Are you modifying a core html element?  That CSS probably lives here.

body {
  background-image: url('../images/background.png');
  background-repeat: repeat-x;
  background-position: top;
}

h1, h2, h3, h4, h5, h6{
  color: #FFFFFF;
}

p, ol, li {
  color: #CCCCCC;
  line-height: 1.6;
  font-size: 16px;
  font-kerning: normal;
}

/*Enfootening*/
html,
body {
  margin: 0;       /* to get rid of scroll bar, because (100% + default margin = scroll) */
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: @brand-primary;
}

label.active {
  font-style: italic;
}

blockquote{
    color: @text-color;
}

blockquote.lore{
    border-left: none;
    font-style: italic;
    letter-spacing: 0.03em;
}

.thumbnail{
  max-width: 100%
}
// Hack for making entire divs linky.  See http://stackoverflow.com/questions/796087/make-a-div-into-a-link
span.default-link{
  /* all rules required to make the whole div clickable */
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* this is a fix for IE7-9 */
  background-color:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity:0;
}

.select2-selection__choice{
  color: black;
}
