/* Cards! */
@import "../variables.less";


div.hero-card{

}

div.league-card{
  position: relative;
}


div.match-card{
  margin-top:5px;
  margin-bottom:5px;
}
.match-card-header{
  font-size: 25px;
}


div.buttons{
  h1 { padding: 0 30px; }
  .col-md-2 { width: 18.6667%; }
  .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
             margin: 20px; background: #eee; padding: 30px; }
  .buttons > div a { margin: 5px 10px; }
  .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                     padding-top: 10px; text-align: center; }
  .user-details { text-align: center; font-size: 16px; font-weight: bold; }
  .disconnect-form { padding: 0; margin: 0px 10px; }
  .disconnect-form > a { display: block; margin: 5px 0 !important; }

}


// Needs to go into a player card
.player-match-row {
  margin-bottom: 20px;
}


.ability-thumbshot{
  max-width:32px;
  max-height:32px;
}


.dire-pickban,
.radiant-pickban {
  height: 410px;
  text-align: center;
}

.radiant-abilities,
.dire-abilities{
  margin-top:20px;
  margin-bot:20px;
}

#combobox{
  #combo-select{
    width:100px;
  }
  .select2{
    margin-top:5px;
  }
  #combo-button{
    margin-top:8px;
    margin-left:3px
  }
}
.select2-container{
  .select2-search__field{
    color:black;
  }
}


.tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(100, 100, 100, 0.8);
  color: #fff;
  border-radius: 2px;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
}

// Private posts
.blog-entry.publicity-2 {
  background-color: red;
}

.Radiant.winning-side{
 box-shadow: 0 0 6px 6px @radiant-green;  /* inner white */
}
.Dire.winning-side{
 box-shadow: 0 0 6px 6px @dire-red;  /* inner white */
}


.parsed-match {
    box-shadow: 0px 0px 10px 10px @brand-primary;
}
