{% extends "row_base.html" %}
{% block title %}
    Teams!
{% endblock title %}
{% block page_title %}
    Teams!
{% endblock page_title %}
{% block content %}
    {% for team in team_list %}
        <div class='col-md-2'>
            <a href="{% url 'teams:detail' steam_id=team.steam_id %}" class='thumbnail'>
                <img  src="{{team.image}}" alt='{{team.name}}'>
            </a>
            <p class='overlayer'>{{team.name}}</p>

        </div>
    {% endfor %}


{% endblock content %}

{% block content_foot %}
    {% include "_pagination.html" with pages_list=team_list page_links_to_display=team_list.paginator.page_range_with_ellipses %}
{% endblock content_foot  %}
