{% extends "row_base.html" %}

{% load staticfiles player_extras %}
{% block title %}
    {{team.name}}
{% endblock title %}
{% block page_title %}
    {{team.name}}
{% endblock page_title %}
{% block content %}
    <div class='row'>
    <div class='col-md-4'>
        <h4>90 Day Hero Winrate</h4>
        <div id='winrate_chart'></div>
    </div>
    <div class='col-md-4'>
        <h4>90 Day Pick/Bans</h4>
        <div id='pick_ban'></div>
    </div>
    <div class="team-infobox col-md-4">
      <img class='thumbnail' style='margin-top:10px'src="{{ team.image }}">

      <h2>{{ team.name }}</h2>
      <h6>Roster:</h6>
      <ul>
              <li>
                  {% player_link team.player_0 %}
              </li>
              <li>
                  {% player_link team.player_1 %}
              </li>
              <li>
                  {% player_link team.player_2 %}
              </li>
              <li>
                  {% player_link team.player_3 %}
              </li>
              <li>
                  {% player_link team.player_4 %}
              </li>
      </ul>
      {% if team.admin %}
      <h6>Admin:</h6>

          <ul><li>
              {% player_link team.admin %}
          </li></ul>
      {% endif %}
    </div>


{% endblock content %}

{% block content_foot %}
    {% if match_list %}
      {% for match in match_list %}
        {% include "matches/_match_card.html" %}
      {% endfor %}
      {% include "_pagination.html" with pages_list=match_list page_links_to_display=match_list.paginator.page_range_with_ellipses %}
    {% endif %}
{% endblock content_foot  %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
  Promise.resolve(
    $.ajax(
      '{% url "rest-api:hero-winrate-list"%}?'+$.param(
        {team_id:{{team.steam_id}}}
      )
    )
  )
  .then(function(data){
      window.Chartreuse.winrate_scatter(data, '#winrate_chart')
  })
  .catch(function(e){
    console.log(e)
  });

  Promise.resolve(
    $.ajax(
      '{% url "rest-api:hero-pickban-list"%}?'+$.param(
        {team_id:{{team.steam_id}}}
      )
    )
  )
  .then(function(data){
      window.Chartreuse.pickban_scatter(data, '#pick_ban')
  })
  .catch(function(e){
    console.log(e)
  })

})
</script>
{% endblock extra_js %}
