{% extends "base.html" %}
{% load staticfiles compressed navigation_extras steam_extras intercom_extras i18n %}
{% block page_title %}{% endblock page_title %}
{% block topbar %}
{% endblock topbar %}
{% block content %}
  {% block link %}{% endblock link %}
  {% block script %}{% endblock script %}
  <div class="container">
    <div id="header">
      {% block breadcrumbs %}{% endblock breadcrumbs %}
    </div>
    {% block slider %}{% endblock slider %}
    <div class="row">
      <div id="content" class="hfeed col-sm-9">
        {% block blog-content %}
        <div class="links">
          <h3>{% trans "Useful links" %}</h3>
          <ul>
            <li>
              <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Weblog index" %}">
                {% trans "Weblog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="search">
          <h3>{% trans "Search" %}</h3>
          {% include "zinnia/tags/search_form.html" %}
        </div>
        {% endblock blog-content %}
      </div>
      <div id="sidebar" class="col-sm-3">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </div>
  </div>
{% endblock content %}
