{% extends "row_base.html" %}
{% load backend_utils static %}


{% block title %}Account Social Auth{% endblock title %}
{% block page_title %}Account Social Auth{% endblock page_title %}


{% block content %}
    {% include "mixins/_messages.html" %}

    <div class="buttons">
      {% if user.is_authenticated %}
        <div class="user-details">
          You are logged in as <code>{{ user.username }}</code>!
          <a class="btn btn-primary" href="{% url 'logout' %}">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>

        </div>

      {% endif %}

      <div class="social">
          <div class="btn-group-vertical" role="group">
        {% for sublist in available_backends|social_backends %}
            {% for name, backend in sublist %}
              {% associated backend %}
              {% if association %}
                <form class="disconnect-form" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">{% csrf_token %}
                  <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
                    <i class="fa fa-{{ name|icon_name }}"></i>
                    Disconnect {{ backend|backend_name }}
                  </a>
                </form>
              {% else %}
                <a class="btn btn-default" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}">
                  <i class="fa fa-{{ name|icon_name }}"></i>
                  {{ backend|backend_name }}
                </a>
              {% endif %}
            {% endfor %}
        {% endfor %}
        {% for name, backend in available_backends|legacy_backends %}
          {% associated backend %}
          {% if association %}
            <form class="disconnect-form" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">{% csrf_token %}
              <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
                <i class="fa fa-{{ name|icon_name }}"></i>
                Disconnect {{ backend|backend_name }}
              </a>
            </form>
          {% else %}
            <a class="btn btn-default" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}">
              <i class="fa fa-{{ name|icon_name }}"></i>
              {{ backend|backend_name }}
            </a>
          {% endif %}
        {% endfor %}
        </div>

      </div>

    </div>

    <div id="email-modal" class="modal fade">
      <form action="{% url "social:complete" "email" %}" method="post" role="form">{% csrf_token %}
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Email Authentication</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label class="control-label" for="email">Email address:</label>
                <input class="form-control" id="email" type="email" name="email" value="" />
              </div>

              <div class="form-group">
                <label class="control-label" for="password">Password:</label>
                <input class="form-control" id="password" type="password" name="password" value="" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>


    {% if backend %}
      <div id="email-required-modal" class="modal fade">
        <form action="{% url "social:complete" backend=backend %}" method="post" role="form">{% csrf_token %}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email required</h4>
              </div>

              <div class="modal-body">
                <p>An email address is required.</p>
                <div class="form-group">
                  <label class="control-label" for="email">Email address:</label>
                  <input class="form-control" id="email" type="email" name="email" value="" />
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Continue</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    <div id="validation-sent-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Email Validation Sent</h4>
          </div>

          <div class="modal-body">
            <p>An email validation was sent{% if email %} to <code>{{ email }}</code>{% endif %}.</p>
            <p>Click the link sent to finish the authentication process.</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block extra_js %}

    <script type="text/javascript">

      var loginMethod = "{{ method|escapejs }}";

      var modalDialog = function (modalId, modalLinkName, submitHandler) {
        var $modal;

        $modal = $(modalId).modal({show: modalLinkName === loginMethod});

        $modal.on('click', '.btn-primary', submitHandler || function (event) {
          $modal.find('form').submit();
        });

        if (modalLinkName) {
          $('a[name="' + modalLinkName + '"]').on('click', function (event) {
            event.preventDefault();
            $modal.modal('toggle');
          });
        }

        return $modal;
      };

      $(function () {
        var $validationModal, $emailRequired;

        modalDialog('#email-modal', 'email');
        $validationModal = modalDialog('#validation-sent-modal');
        $emailRequired = modalDialog('#email-required-modal');

        $('.disconnect-form').on('click', 'a.btn', function (event) {
          event.preventDefault();
          console.log((event.target).closest('form'));
          $(event.target).closest('form').submit();
        });

        {% if validation_sent %}
          $validationModal.modal('show');
        {% endif %}

        {% if email_required %}
          $emailRequired.modal('show');
        {% endif %}
      });
    </script>
{% endblock extra_js %}

{% block extra_css %}
  <style>
    h1 { padding: 0 30px; }
    .col-md-2 { width: 18.6667%; }
    .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
               margin: 20px; background: #555; padding: 30px; }
    .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                       padding-top: 10px; text-align: center; }
    .user-details { text-align: center; font-size: 16px; font-weight: bold; }
    .disconnect-form { padding: 0; margin: 0px 10px; }
    .disconnect-form > a { display: block; margin: 5px 0 !important; }
    .social { text-align: center; }
  </style>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock extra_css %}
