{% extends "row_base.html" %}

{% block title %}Match Import Request{% endblock title %}
{% block page_title %}Match Import Request ({{user.userprofile.requested.count}}/{{user.userprofile.request_limit}} used){% endblock page_title %}

{% block content %}
    <div class='form-container'>
      <form class='chart-form' action="" method='POST'>
       {% csrf_token %}
        {% include "_form.html" %}
        <div class="control-group">
          <div class="controls pull-right">
            <button id='request-button' type="submit" class="btn btn-small btn-primary">Request!</button>
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
