{% extends "djstripe/base.html" %}

{% block title %}Change Card{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><a href="{% url 'djstripe:account' %}">Home</a></li>
      <li class="active">Change Card</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Current Card</h2>
    <p class="lead">
    {% if customer.card_kind and customer.card_last_4 %}
    Current card on file is a <strong>{{ customer.card_kind }}</strong>
    ending in the digits <strong>{{ customer.card_last_4 }}</strong>.
    {% else %}
    You do not currently have a card on file.
    {% endif %}
    </p>

    {% if stripe_error %}
    <div class="alert alert-error">{{ stripe_error }}</div>
    {% endif %}

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default credit-card-box">
        <div class="panel-heading display-table">
          <div class="row display-tr">
            <h3 class="panel-title display-td">Payment Details</h3>
          </div>
        </div>
        <div class="panel-body">
          <form role="form" id="payment-form" method="POST" action="">
            {% csrf_token %}
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardNumber">CARD NUMBER</label>
                  <div class="input-group">
                    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus >
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                  <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required>
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cardCVC">CV CODE</label>
                  <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <input type="submit" class="subscribe btn btn-success btn-lg btn-block" value="Change card">
              </div>
            </div>
            <div class="row" style="display:none;">
              <div class="col-xs-12">
                <p class="payment-errors"></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
// This identifies your website in the createToken call below
Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY }}');
jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);
    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);
    var expiry = $form.find('[name=cardExpiry]').val().split('/');
    var exp_month = expiry[0];
    var exp_year = expiry[1];
    var ccData = {
      number: $form.find('[name=cardNumber]').val().replace(/\s/g,''),
      cvc: $form.find('[name=cardCVC]').val(),
      exp_month: exp_month,
      exp_year: exp_year
    };
    Stripe.card.createToken(ccData, stripeResponseHandler);
    // Prevent the form from submitting with the default action
    return false;
  });
  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');
    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripe_token" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
});
</script>
{% endblock javascript %}

{% block extra_css %}
<style>
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
  display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
  width: 100%;
}
.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
</style>
{% endblock extra_css %}
