<optgroup label='Hero Attributes'>
  <option value='agility'>
          Agility
  </option>
  <option value='agility_total'>
          Agility Total
  </option>
  <option value='strength'>
          Strength
  </option>
  <option value='strength_total'>
          Strength Total
  </option>
  <option value='intelligence'>
          Intelligence
  </option>
  <option value='intelligence_total'>
          Intelligence Total
  </option>
  <option value='armor'>
          Armor
  </option>
  <option value='base_damage'>
          Base Damage
  </option>
  <option value='bonus_damage'>
          Bonus Damage
  </option>
  <option value='total_damage'>
          Total Damage
  </option>
  <option value='health'>
          Health
  </option>
  <option value='max_health'>
          Max Health
  </option>
  <option value='pct_health'>
          Percent Health
  </option>
  <option value='mana'>
          Mana
  </option>
  <option value='max_mana'>
          Max Mana
  </option>
  <option value='pct_mana'>
          Percent Mana
  </option>
</optgroup>
<optgroup label='Combat'>
  <option value='kills'>
          Kills
  </option>
  <option value='deaths'>
          Deaths
  </option>
  <option value='assists'>
          Assists
  </option>
  <option value='last_hits'>
          Last Hits
  </option>
  <option value='denies'>
          Denies
  </option>
  <option value='misses'>
          Misses
  </option>
  <option value='healing'>
          Healing
  </option>
  <option value='roshan_kills'>
          Roshan Kills
  </option>
  <option value='nearby_creep_deaths'>
          Nearby Creep Deaths
  </option>
  <option value='tower_kills'>
          Tower Kills
  </option>
  <option value='hero_dmg_dealt'>
          Hero Damage Dealt
  </option>
  <option value='hero_dmg_taken'>
          Hero Damage Taken
  </option>
  <option value='other_dmg_taken'>
          Other Damage Taken
  </option>
  <option value='other_dmg_dealt'>
          Other Damage Dealt
  </option>
  <option value='key_bldg_dmg_dealt'>
          Key Building Damage Dealt
  </option>
</optgroup>
<optgroup label='Gold and XP'>
  <option value='total_earned_gold'>
          Total Earned Gold
  </option>
  <option value='creep_kill_gold'>
          Creep Kill Gold
  </option>
  <option value='hero_kill_gold'>
          Hero Kill Gold
  </option>
  <option value='income_gold'>
          Income Gold
  </option>
  <option value='shared_gold'>
          Shared Gold
  </option>
  <option value='reliable_gold'>
          Reliable Gold
  </option>
  <option value='unreliable_gold'>
          Unreliable Gold
  </option>
  <option value='buyback_expense'>
          Buyback Gold Lost
  </option>
  <option value='death_expense'>
          Death Gold Lost
  </option>
  <option value='xp'>
          All Xp
  </option>
  <option value='creep_xp'>
          Creep XP
  </option>
  <option value='hero_xp'>
          Hero XP
  </option>
</optgroup>
