{% load staticfiles player_extras %}

<div class="row">
  <div class="col-md-1">
    <div class='cast'>
      <img class='side-pip' src="{% static 'images/pips/pip_radiant.png' %}" alt='{{ summary.side }}' title='Radiant'>
      {% if radiant_cast_list.0.is_win %}
        <div class='glyphicon glyphicon-ok-circle win-glyph side-win-pip ' title='Won'></div>
      {% endif %}
    </div>
  </div>
  {% for summary in radiant_cast_list %}
    <div class="col-md-2">
      <div class='radiant cast'>

      {% include "matches/_single_match_card.html" %}
      </div>
    </div>
  {% endfor %}
  {% if match.radiant_team %}
    <div class="col-md-1">
      <div class='cast'>
      <img class='thumbnail league-pip' src="{{match.radiant_team.image}}" alt='{{ match.radiant_team.name }}' title='{{match.radiant_team.name}}'>
      </div>
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-1">
    <div class='cast'>
    <img class='side-pip' src="{% static 'images/pips/pip_dire.png' %}" alt='{{ summary.side }}'  title='Dire'>
      {% if dire_cast_list.0.is_win %}
        <div class='glyphicon glyphicon-ok-circle win-glyph side-win-pip' title='Won'></div>
      {% endif %}
    </div>
  </div>
  {% for summary in dire_cast_list %}
    <div class="col-md-2">
      <div class='dire cast'>

      {% include "matches/_single_match_card.html" %}
      </div>
    </div>
  {% endfor %}
  {% if match.dire_team %}
    <div class="col-md-1">
      <div class='cast'>

      <img class='thumbnail league-pip' src="{{match.dire_team.image}}" alt='{{ match.dire_team.name }}' title='{{match.dire_team.name}}'>
      </div>
    </div>
  {% endif %}
</div>




