{% for match in match_data %}
  <a href="{% url 'matches:match_detail' match_id=match.match_data.id %}" class="thumbnail">
    <div class="row">

      <div class="col-md-12">
        <span class='match-topbar'>
          <p class='small-date' style='background-color:#222222'>
            {{match.match_data.display_date}}, {{match.match_data.display_duration}}
            {{ match.match_data.game_mode }}
          </p>
        </span>
      </div>


      <div class="radiant col-md-6">

        <div class='scorebar topscore'
              data-raw-score='{{ match.match_data.Radiant.kills }}/{{ match.match_data.Radiant.deaths }}/{{ match.match_data.Radiant.assists }}'
              data-kda2='{{ match.match_data.Radiant.KDA2}}'
        >
          {{match.match_data.Radiant.kills}}/{{match.match_data.Radiant.deaths}}/{{match.match_data.Radiant.assists}}
        </div>

        <div class='row'>
        {% for key, detail in match.pms_data.Radiant.iteritems %}
          <div class="col-md-2">
            <div>
              <img
                src="{{ detail.hero_image }}"
                alt="{{ detail.hero_name }}"
                class="match-index-thumbshot"
                {% if detail.player_image %}
                  data-player-image="{{detail.player_image}}"
                {% endif %}
                {% if detail.hero_image %}
                  data-hero-image="{{ detail.hero_image }}"
                {% endif %}
              >
            </div>
            {% if detail.player_image %}
              <div><img
                src="{{ detail.player_image }}"
                alt="{{ detail.player_name }}"
                class="match-index-player"
              ></div>
            {% else %}
              <div alt="None/Anonymous" class="match-index-player"></div>
            {% endif %}
              <div class='scorebar'
              data-raw-score='{{ detail.kills }}/{{ detail.deaths }}/{{ detail.assists }}'
              data-kda2='{{ detail.KDA2}}'
              >
              {{ detail.kills }}/{{ detail.deaths }}/{{ detail.assists }}
              </div>
          </div>
        {% endfor %}
        {% if match.match_data.Radiant.is_win %}
        <div class='col-md-2 glyphicon glyphicon-ok-circle win-glyph' title='Won'></div>
        {% endif %}
        </div>
      </div>

      <div class="dire col-md-6 ">

        <div class='scorebar topscore'
              data-raw-score='{{ match.match_data.Dire.kills }}/{{ match.match_data.Dire.deaths }}/{{ match.match_data.Dire.assists }}'
              data-kda2='{{ match.match_data.Dire.KDA2}}'
        >
          {{match.match_data.Dire.kills}}/{{match.match_data.Dire.deaths}}/{{match.match_data.Dire.assists}}
        </div>

        <div class='row'>
          {% for key, detail in match.pms_data.Dire.iteritems %}
            <div class="col-md-2">
              <img
                src="{{ detail.hero_image }}"
                alt="{{ detail.hero_name }}"
                class="match-index-thumbshot"
                {% if detail.player_image %}
                  data-player-image="{{detail.player_image}}"
                {% endif %}
                {% if detail.hero_image %}
                  data-hero-image="{{ detail.hero_image }}"
                {% endif %}
              >
              {% if detail.player_image %}
                <img
                  src="{{ detail.player_image }}"
                  alt="{{ detail.player_name }}"
                  class="match-index-player"
                >
              {% else %}
                <div alt="None/Anonymous" class="match-index-player"></div>
              {% endif %}
              <div class='scorebar'
              data-raw-score='{{ detail.kills }}/{{ detail.deaths }}/{{ detail.assists }}'
              data-kda2='{{ detail.KDA2}}'
              >
              {{ detail.kills }}/{{ detail.deaths }}/{{ detail.assists }}
              </div>
            </div>
          {% endfor %}
        {% if match.match_data.Dire.is_win %}
        <div class='col-md-2 glyphicon glyphicon-ok-circle win-glyph' title='Won'></div>
        {% endif %}

        </div>
      </div>

    </div>
  </a>
{% endfor %}
