{% load staticfiles player_extras %}

<div class='container'>

  <h2>
    <a href="/matches/{{match.steam_id}}">Match: {{match.steam_id}}</a>
  </h2>

  <div class="row">

    {% for summary in match.radiant %}
          {% include "matches/_pms_card.html" %}
    {% endfor %}

    {% if match.radiant_team %}
      <div class="col-md-2">
        <img class='thumbnail league-pip' src="{{match.radiant_team.image}}" alt='{{ match.radiant_team.name }}' title='{{match.radiant_team.name}}'>
      </div>
    {% endif %}

  </div>

  <div class="row">

    {% for summary in match.dire %}
          {% include "matches/_pms_card.html" %}
    {% endfor %}

    {% if match.dire_team %}
      <div class="col-md-2">
        <img class='thumbnail league-pip' src="{{match.dire_team.image}}" alt='{{ match.dire_team.name }}' title='{{match.dire_team.name}}'>
      </div>
    {% endif %}

  </div>

</div>
