<div class='col-md-2 col-xs-6 col-sm-2'>


    {% if summary.match.radiant_win == summary.is_radiant %}
    <div class='{{summary.side}} winning-side'>
    {% else %}
    <div class='{{summary.side}}'>
    {% endif %}

    {% if summary.match.is_parsed %}
        <a class='thumbnail' style='margin-bottom:0px' href="{% url 'matches:performance' %}?match_id={{summary.match.steam_id}}&pmses={{summary.player_slot}}">
    {% else %}
    <div class='pms-portrait'>

    {% endif %}

        <img
        src="{{ summary.hero.mugshot_url }}"
        alt="{{ summary.hero.name }}"
        title="{{ summary.hero.name }}"
        class="topbar-hero-mugshot player-slot-{{summary.slot}}">

        {% if summary.improper_player %}
            <div
                class='glyphicon glyphicon-remove-circle validity-glyph'
                title='Improper Player (Left/Did Not Connect/Bot)'
            ></div>
        {% endif %}

        {% if summary.player.avatar %}
            <img
                style='position:absolute;left:40%;bottom:-10px'
                class='cast-player-image'
                src="{{summary.player.avatar}}"
                title='{{summary.player.display_name}}'
            >
        {% endif %}

    {% if summary.match.is_parsed %}
        </a>
    {% else %}
    </div>
    {% endif %}

    </div>



</div>
