{% if summary.hero_mugshot %}
  <div>
    <img src="{{ summary.hero_mugshot_url }}" alt="{{ summary.name }}" title="{{ summary.hero.name }}" class="topbar-hero-mugshot thumbnail">
  </div>

  {% if summary.improper_player %}
    <div class='glyphicon glyphicon-remove-circle validity-glyph' title='Improper Player (Left/Did Not Connect/Bot)'></div>
  {% endif %}

  {% if summary.player_image %}
    <img class='cast-player-image' src="{{summary.player_image}}" title='{{summary.player_name}}'>
  {% endif %}

  <a href="{% url 'matches:match_hero_context' matches=match.steam_id hero_name=summary.hero_name win='both'%}">
  <i class='glyphicon glyphicon-signal chart-pip'  title='Click me!' style='display:inline-block'></i>
  </a>
{% else %}
  <div></div>
{% endif %}
