<div class="container">
    <div class="row">
        <div class="col-sm-4 text-left">
            <span id='combobox'>
                <select id="combo-select"></select>
                <button
                    type='button'
                    class='btn btn-small btn-primary click-selector'
                    id='combo-button'>
                    Select
                </button>
            </span>
        </div>
        <div class="col-sm-4 text-center">
            <div class="btn-group" role="group">
                <button
                    id='back-animation'
                    type="button"
                    class="btn btn-primary btn-lg animation-button">
                    <span class="info glyphicon glyphicon-backward">
                </button>
                <button
                    id='pause-play'
                    type='button'
                    class='btn btn-primary btn-lg animation-button'>
                    <span class="info glyphicon glyphicon-play">
                </button>
                <button
                    id='forward-animation'
                    type="button"
                    class="btn btn-primary btn-lg animation-button">
                    <span class="info glyphicon glyphicon-forward">
                </button>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <button
                id='face-toggle'
                type="button"
                class="btn btn-primary btn-lg">
                Toggle Faces
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="progress">
                <div
                 id="progress-bar"
                 class="progress-bar"
                 role="progressbar"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: 0%;">
                    <span class="centered-amounts">
                        <span id="progress-bar-current"></span>
                        /
                        <span id="progress-bar-max"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
