<div class='container'>
    <div class='row' id='buttons'>
    <div >
        <div class='col-md-8'>
            <div class='row'>
                <div class='col-md-2'>
                    <button id='stop-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">Stop</button>
                </div>
                <div class='col-md-2'>
                    <button id='start-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">Start</button>
                </div>
                <div class='col-md-2'>
                    <button id='back-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">
                        <span  class="info glyphicon glyphicon-backward">
                    </button>
                </div>
                <div class='col-md-2'>
                    <button id='forward-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">
                        <span  class="info glyphicon glyphicon-forward">
                    </button>
                </div>
                <div class='col-md-4'>
                    <button id='face-toggle' type="button" class="btn btn-primary btn-lg btn-block">Toggle Faces</button>
                </div>

            </div>
        </div>
        <div class='col-md-2'>
            <input style='margin-top:5px' id='time-display' class='form-control' type='text' placeholder='Replay Time' readonly>
        </div>

        <div class='col-md-2'>
            <label>Start</label>
            <label style='float:right'>End</label>
            <div id='slider'></div>
        </div>
    </div>
    </div>
</div>
