{% extends "row_base.html" %}

{% load staticfiles player_extras %}

{% block title %}Analytic Charts{% endblock title %}

{% block aligned_content %}
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>
        Analytic Charts
      </h2>
    </div>
    <p>See data down to the second from <a href="{% url 'matches:parsed_index' %}">parsed</a> matches.</p>
  </div>

  <div class='col-md-12'>
    {% include "matches/_density_advice.html" %}
  </div>

  {% include "mixins/_match_form.html" %}

  {% include "matches/_recent_statcards.html" %}


  <div class='col-md-6'>
      <h4>Controls</h4>
      <form>
      <div class='row'>
          <div class='col-md-12'>
            <div class="form-group">
              <label>
                Data
                <i class="fa fa-asterisk required" aria-hidden="true"></i>
              </label>
              <select class="form-control" id='data'>
              {% include "matches/_attr_selections.html" %}
              </select>
            </div>
          </div>
          <div class='col-md-7'>
            <div class="form-group">
              <label>
              Match IDs
                <i class="fa fa-asterisk required" aria-hidden="true"></i>
              </label>
              <select id='shards' multiple='multiple' style='width:100%'></select>
            </div>
            <div class="form-group">
              <label>Labels</label>
                <input type="textarea" class="form-control" id="labels" placeholder="(comma-separated, ex 'Fast Midas,Fast Radiance')">
            </div>
          </div>
          <div class='col-md-5'>
            <div style='margin-top:20px'>
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#match-select">
                Find Matches
              </button>
              <ul id="filtered-matches" class="list-unstyled">
              </ul>
            </div>
          </div>


          <div class='col-md-12'>
            <div class="form-group">
              <label >Start Time</label>
              <input type="textarea" class="form-control" id="start_time" placeholder="Start Time (eg 12:41)">
            </div>
          </div>

          <div class='col-md-12'>
            <div class="form-group">
              <label >End Time</label>
              <input type="textarea" class="form-control" id="end_time" placeholder="End Time (eg 23:10)">
            </div>
          </div>

          <div class='col-md-12'>
            <div class="form-group">
              <label >Chart Position</label>
              <select class="form-control" id='destination'>
                <option value='top'>Top</option>
                <option value='middle'>Middle</option>
                <option value='bottom'>Bottom</option>
              </select>
            </div>
          </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button id='chart-button' type="button" class="btn btn-primary btn-lg">
                  Chart! <i class="fa fa-line-chart"></i>
                </button>
              </div>
            </div>
        </div>
      </div>
  </form>
  </div>


  <div class='col-md-6'>
    <div id='top' class='vert-md-6'>
    </div>

    <div id='middle' class='vert-md-3'>
    </div>

    <div id='bottom'  class='vert-md-3'>
    </div>
  </div>

<div class='col-md-12'>
  {% include "accounts/mixins/_login_convert.html" %}
</div>
{% endblock aligned_content %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
  $('#match-select form').submit(function(evt) {
    evt.preventDefault();
    var data = {
      limit: 5
    };
    $('#match-select form').serializeArray().map(function(elem) {
      data[elem.name] = elem.value;
    });
    $.ajax('/rest-api/matches/', {
      data: data,
      success: function(matches) {
        $('#filtered-matches').html('');
        $.each(matches, function(index, elem) {
          var template = `<li><a href="/matches/${elem.steam_id}/" target="_blank">${elem.steam_id}</a> <i class="glyphicon glyphicon-copy clippable" title="Copy match id" data-clipboard-text="${elem.steam_id}"></i></li>`;
          $('#filtered-matches').append(
              $(template)
              );
        });
        $('#match-select').modal('hide');
      },
    });
  });
});
</script>
<script type="text/javascript">
  $(function(){
    inputs.pms_select2('#shards', true);

    $('#chart-button').click(function(){
      var shards = $('#shards').select2('data');
      var destination = '#'+$('#destination :selected').val();
      var facet = $('#data :selected').val();
      var labels = $('#labels').val().split(',');

      var params = {
        end_time: $('#end_time').val(),
        start_time: $('#start_time').val(),
      };

      shards.map(function(d, i){
        d.name = labels[i] ? labels[i] : d.name;
      })
      var combatlog_flag = [
        'buyback_expense',
        'creep_xp',
        'death_expense',
        'hero_dmg_dealt',
        'hero_dmg_taken',
        'hero_xp',
        'key_bldg_dmg_dealt',
        'other_dmg_dealt',
        'other_dmg_taken',
      ].indexOf(facet);
      if(combatlog_flag===-1){
        d7.extensions.charts.replays.stat_lineup(
          shards,
          facet,
          destination,
          params,
          'statelog'
        );
      }else{
          d7.extensions.charts.replays.stat_lineup(
          shards,
          facet,
          destination,
          params,
          'combatseries'
        );
      }
    });
  });
</script>
{% endblock extra_js %}

{% block extra_css %}
<style type="text/css">
  .select2-result-pms__avatar{
    height:36px;
    width:64px;
  }
  .select2-result-pms__title{
    color: black;
  }
  .required{
    color:#D42E34;
  }
</style>
{% endblock extra_css %}
