{% extends "matches/base.html" %}

{% load staticfiles player_extras %}

{% block extra_css %}{{ form.media }}{% endblock extra_css %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block page_title %}Match #{{ match.steam_id }}
<small>  {{ match.game_mode.description }} {{ match.lobby_type.description }},
    {{ match.hms_duration }} @ {{ match.hms_start_time }}</small>{% endblock page_title %}

{% block content %}
  <div class="match-data">
  </div>

  <div class="charts col-md-6">
  <h4>Level Progression</h4>
    <a href="{% url 'matches:ability_build' %}?split_var=side&match={{match.steam_id}}">
      {% if abilities_json %}
        <span id='abilities'></span>
      {% endif %}
    </a>
  </div>
  <div class="charts col-md-6">
  <h4>Matchup Data</h4>
    {% if kill_dmg_json %}
      <span id='kill_dmg'></span>
    {% endif %}
    {% if xp_gold_json %}
      <span id='xp_gold'></span>
    {% endif %}
  </div>

  {% if dire_bans %}
    <div class="row">
      <div class="dire-pickban col-md-6">
        <h3>Dire</h3>
        <div class="row">
          <div class="col-md-3">
            <h4>Ban</h4>
            <ul class="pickban-list" id="dire-ban">
              {% for pb in dire_bans %}
                <li data-pborder="{{ pb.order }}">
                  <a href="#" class="thumbnail">
                    <img src="{{ pb.hero.thumbshot.url }}" alt="{{ pb.hero.name }}" title="{{ pb.hero.name }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-9">
            <h4>Pick</h4>
            <ul class="pickban-list" id="dire-pick">
              {% for pb in dire_picks %}
                <li data-pborder="{{ pb.order }}">
                  <a href="#" class="thumbnail">
                    <img src="{{ pb.hero.mugshot.url }}" alt="{{ pb.hero.name }}" title="{{ pb.hero.name }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="radiant-pickban col-md-6">
        <h3>Radiant</h3>
        <div class="row">
          <div class="col-md-3">
            <h4>Ban</h4>
            <ul class="pickban-list" id="dire-ban">
              {% for pb in radiant_bans %}
                <li data-pborder="{{ pb.order }}">
                  <a href="#" class="thumbnail">
                    <img src="{{ pb.hero.thumbshot.url }}" alt="{{ pb.hero.name }}" title="{{ pb.hero.name }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-9">
            <h4>Pick</h4>
            <ul class="pickban-list" id="dire-pick">
              {% for pb in radiant_picks %}
                <li data-pborder="{{ pb.order }}">
                  <a href="#" class="thumbnail">
                    <img src="{{ pb.hero.mugshot.url }}" alt="{{ pb.hero.name }}" title="{{ pb.hero.name }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row controls-button">
      <div class="col-sm-12 text-center">
        <button class="btn btn-default" id="pickban-reveal">Reveal pick/ban</button>
      </div>
    </div>
  {% endif %}

  <div>
    <h4>Abilities</h4>
    <div class='radiant-abilities'>
    <h5>Radiant</h5>
      {% for summary in radiant_summaries %}
        <div class='ability-row'>
          {% if summary.hero.thumbshot %}
            <span class='ability-row-hero'>
              <img src="{{ summary.hero.thumbshot.url }}" alt="{{ summary.hero.name }}" title="{{ summary.hero.name }}" style='height:35px'>
            </span>
              {% else %}
            <span class='ability-row-hero'>
            </span>

          {% endif %}
          {% for sb in summary.skillbuild_set.all %}
              <img class='ability-thumbshot' src="{{sb.ability.picture.url}}">
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class='dire-abilities'>
    <h5>Dire</h5>
      {% for summary in dire_summaries %}
        <div class='ability-row'>
          {% if summary.hero.thumbshot %}
            <span class='ability-row-hero'>
              <img src="{{ summary.hero.thumbshot.url }}" alt="{{ summary.hero.name }}" title="{{ summary.hero.name }}" style='height:35px'>
            </span>
              {% else %}
            <span class='ability-row-hero'>
            </span>

          {% endif %}
          {% for sb in summary.skillbuild_set.all %}
              <img class='ability-thumbshot' src="{{sb.ability.picture.url}}">
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div style='margin-top:20px;'>
    <table class="table  table-condensed" id='myTable'>
      <thead>
        <tr>
          <th>Hero</th>
          <th colspan="2">Player</th>
          <th title='Kills'>K</th>
          <th title='Deaths'>D</th>
          <th title='Assists'>A</th>
          <th title='Kills - Deaths + Assists/2'>K-D+A/2</th>
          <th title='Items'>Items</th>
          <th title='Level'>Lvl</th>
          <th title='Last Hits'>LH</th>
          <th title='Denies'>DN</th>
          <th title='Gold per minute'>GPM</th>
          <th title='Experience per minute'>XPM</th>
          <th title='Damage to heroes'>Hero Dmg</th>
          <th title='Damage to Towers'>Tower Dmg</th>
          <th title='Heal to heroes'>Hero Heal</th>
          <th title='Which side did they play for?'>Side</th>
        </tr>
      </thead>
      <tbody>
        {% for summary in summaries %}
          <tr{% if summary.is_win %} class="winner"{% endif %}>
            {% if summary.hero.thumbshot %}

            <td><img src="{{ summary.hero.thumbshot.url }}" alt="{{ summary.hero.name }}" title="{{ summary.hero.name }}" class="summary-hero-thumbshot"></td>
            {% else %}
            <td></td>

            {% endif %}

            <td>{% player_link summary.player %}</td>
            <td><img src="{{ summary.player.avatar }}" class="summary-hero-thumbshot"></td>
            <td>{{ summary.kills }}</td>
            <td>{{ summary.deaths }}</td>
            <td>{{ summary.assists }}</td>
            <td>{{ summary.kda }}</td>

            <td class="match-summary-images">
              {% if summary.item_0.mugshot %}
                <img src="{{ summary.item_0.thumbshot.url }}">
              {% endif %}
              {% if summary.item_1.thumbshot %}
                <img src="{{ summary.item_1.thumbshot.url }}">
              {% endif %}
              {% if summary.item_2.thumbshot %}
                <img src="{{ summary.item_2.thumbshot.url }}">
              {% endif %}
              {% if summary.item_3.thumbshot %}
                <img src="{{ summary.item_3.thumbshot.url }}">
              {% endif %}
              {% if summary.item_4.thumbshot %}
                <img src="{{ summary.item_4.thumbshot.url }}">
              {% endif %}
              {% if summary.item_5.thumbshot %}
                <img src="{{ summary.item_5.thumbshot.url }}">
              {% endif %}

            </td>

            <td>{{ summary.level }}</td>
            <td>{{ summary.last_hits }}</td>
            <td>{{ summary.denies }}</td>
            <td>{{ summary.gold_per_min }}</td>
            <td>{{ summary.xp_per_min }}</td>
            <td>{{ summary.hero_damage }}</td>
            <td>{{ summary.tower_damage }}</td>
            <td>{{ summary.hero_healing }}</td>
            <td>
              {{ summary.which_side }}
              {% if summary.is_win %} (win){% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $('.dire-pickban, .radiant-pickban').hide()
    $('#pickban-reveal').click(function () {
      $('.pickban-list li').fadeOut();
      $('.dire-pickban, .radiant-pickban').show()
      $('#pickban-reveal').attr('disabled', 'disabled');
      var PICKBAN_LIMIT = 20;
      var PICKBAN_REVEAL_SECONDS = 2;
      for (var i = 0; i < PICKBAN_LIMIT; i++) {
        setTimeout(function (count) {
          $('[data-pborder=' + count + ']').fadeIn();
        }, i * PICKBAN_REVEAL_SECONDS * 1000, i);
      }
      setTimeout(function () {
        $('#pickban-reveal').removeAttr("disabled");
      }, i * PICKBAN_REVEAL_SECONDS * 1000);
    });
  });
</script>
<script type="text/javascript">
    {% if kill_dmg_json %}
      var kill_raw_data;
      d3.json('{{MEDIA_URL}}{{kill_dmg_json}}', function(source){
        raw_data=source
        window.d3ening.plot(source,'#kill_dmg')
      })
    {% endif %}
    {% if xp_gold_json %}
      var xp_raw_data;
      d3.json('{{MEDIA_URL}}{{xp_gold_json}}', function(source){
        xp_raw_data=source
        window.d3ening.plot(source,'#xp_gold')
      })
    {% endif %}
    {% if abilities_json %}
      var xp_raw_data;
      d3.json('{{MEDIA_URL}}{{abilities_json}}', function(source){
        xp_raw_data=source
        window.d3ening.plot(source,'#abilities')
      })
    {% endif %}
</script>
{% endblock extra_js %}
