{% extends "matches/base.html" %}
{% block title %}Match Index{% endblock title %}
{% block page_title %}Matches Index{% endblock page_title %}

{% block content %}
{% if match_data and lineup_thumbs %}
<div class="row">
    {% for key, match in match_data.iteritems %}
        <div class="col-md-3">
          <a href="{% url 'matches:match_detail' match_id=key %}" class="thumbnail">
            <div><br> </div>
              <div>
                {% for key, detail in match.pms_data.Radiant.iteritems %}
                  <img src="{{ detail.hero_image }}" alt="{{ detail.hero_name }}" class="match-index-thumbshot">
                {% endfor %}
              </div>
              <div>
              {% for key, detail in match.pms_data.Dire.iteritems %}
                <img src="{{ detail.hero_image }}" alt="{{ detail.hero_name }}" class="match-index-thumbshot"
                {% if detail.player_image %}
                  data-player-image={{detail.player_image}}
                {% endif %}
                {% if detail.hero_image %}
                  data-hero-image={{ detail.hero_image }}
                {% endif %}

                >
              {% endfor %}
              </div>
              <div><br> </div>
              <p class='overlayer'>
                {{ match.match_data.game_mode }}
                {{match.match_data.Radiant.Kills}}/{{match.match_data.Radiant.Deaths}}/{{match.match_data.Radiant.Assists}}/{{match.match_data.Radiant.KDA2}} : {{match.match_data.Dire.Kills}}/{{match.match_data.Dire.Deaths}}/{{match.match_data.Dire.Assists}}/{{match.match_data.Dire.KDA2}}
              </p>
              <p class='overlayer-top-right'>{{match.match_data.display_date}}, {{match.match_data.display_duration}}</p>
          </a>
        </div>

    {% endfor %}
</div>

{% include "_pagination.html" with pages_list=match_list page_links_to_display=match_list.paginator.page_range %}

{% elif match_data and players %}
<div class="row">
    {% for key, match in match_data.iteritems %}
        <div class="col-md-3">
          <a href="{% url 'matches:match_detail' match_id=key %}" class="thumbnail">
            <div><br> </div>
              <div>
                {% for key, detail in match.pms_data.Radiant.iteritems %}
                  {% if detail.player_image %}
                    <img src="{{ detail.player_image }}" alt="{{ detail.player_name }}" class="match-index-thumbshot">
                  {% else %}
                    <img src="{{ detail.hero_image }}" alt="{{ detail.hero_name }}" class="match-index-thumbshot">
                  {% endif %}
                {% endfor %}
              </div>
              <div>
              {% for key, detail in match.pms_data.Dire.iteritems %}
                  {% if detail.player_image %}
                    <img src="{{ detail.player_image }}" alt="{{ detail.player_name }}" class="match-index-thumbshot">
                  {% else %}
                    <img src="{{ detail.hero_image }}" alt="{{ detail.hero_name }}" class="match-index-thumbshot">
                  {% endif %}

              {% endfor %}
              </div>
              <div><br> </div>
              <p class='overlayer'>
                {{ match.match_data.game_mode }}
                {{match.match_data.Radiant.Kills}}/{{match.match_data.Radiant.Deaths}}/{{match.match_data.Radiant.Assists}}/{{match.match_data.Radiant.KDA2}} : {{match.match_data.Dire.Kills}}/{{match.match_data.Dire.Deaths}}/{{match.match_data.Dire.Assists}}/{{match.match_data.Dire.KDA2}}
              </p>
              <p class='overlayer-top-right'>{{match.match_data.display_date}}, {{match.match_data.display_duration}}</p>
          </a>
        </div>

    {% endfor %}
</div>


{% else %}
  <p>
    You do not seem to have any feeds active.  Add players to follow in the
    <a href="{% url 'players:management' %}">management panel</a> to track
    new games here!
  </p>
{% endif %}
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
function rotateImage()
{

  $('img[data-player-image]').fadeOut('fast', function()
    {
      if($(this).attr('src')==$(this).attr('data-player-image')){
        $(this).attr('src', $(this).attr('data-hero-image'));
      }else{
        $(this).attr('src', $(this).attr('data-player-image'));
      }
      $(this).fadeIn('fast');
    }
  );
}

$(document).ready(function()
{
  setInterval (rotateImage, 2500);
});
</script>
{% endblock extra_js %}
