{% extends "matches/base.html" %}
{% block title %}Match Index{% endblock title %}
{% block page_title %}Matches Index{% endblock page_title %}

{% block content %}
{% if match_list %}
<div class="row">
    {% for key, match in match_list.iteritems %}
        <div class="col-md-3">
          <a href="{% url 'matches:match_detail' match_id=key %}" class="thumbnail">
              <div>
                {% for key, detail in match.pms_data.Radiant.iteritems %}
                  <img src="{{ detail.hero_image }}" alt="{{ detail.hero_name }}" class="follow-hero-thumbshot">
                {% endfor %}
              </div>
              <div>
              {% for key, detail in match.pms_data.Dire.iteritems %}
                <img src="{{ detail.hero_image }}" alt="{{ detail.hero_name }}" class="follow-hero-thumbshot">
              {% endfor %}
              </div>
              <p class='overlayer'>{{ match.match_data.game_mode }}</p>
          </a>
        </div>
      
    {% endfor %}
</div>

{% include "_pagination.html" with pages_list=match_list page_links_to_display=match_list.paginator.page_range %}

{% else %}
  <p>
    You do not seem to have any feeds active.  Add players to follow in the
    <a href="{% url 'players:management' %}">management panel</a> to track
    new games here!
  </p>
{% endif %}
{% endblock content %}
