{% extends "matches/base.html" %}
{% load staticfiles compressed navigation_extras steam_extras intercom_extras %}

{% block title %}{{ title }}{% endblock title %}

{% block page_title %}{{ title }}
  <div class='glyphicon glyphicon-question-sign tourglyph' title='Click me!'></div>
{% endblock page_title %}

{% block content %}
  {% include "_image_form_embed.html" %}

  <div>{{extra_notes|safe}}</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  var data;
  d3.json('{{MEDIA_URL}}{{json_data}}', function(source){
    data = source;
    window.d3ening.plot(source, '#chart')
  });
</script>
{% endblock extra_js %}

{% block tour %}
<script type="text/javascript">
  $(function () {
    tour = new Tour({
      backdrop: true
    });

    tour.addSteps([
      {
        orphan: true,
        title: "Welcome!",
        content: "Match pages let you compare end-of-game data across players."
      },
      {
        element: ".chart-form",
        title: "Asking questions",
        content: "Specify who and what to see here."
      },
      {
        element: "ul.nav-tabs",
        title: "Other questions",
        content: "For charts about heroes or players themselves, try these subtabs.",
        placement: "bottom"
      },
      {
        orphan: true,
        title: "Ready to go!",
        content: "Challenge: How do your endgame kills compare to [A]kke's when you both win?"
      }
    ]);

    $(".tourglyph").on("click",function(){
      tour.restart();
    })

  });
</script>
{% endblock tour %}
