{% extends "row_base.html" %}

{% block aligned_content %}
    <div class='col-mid-12'>

    </div>
{% endblock aligned_content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
    inputs.pms_select2('#shards', true);

    var match_id = window.jsUtils.getParameterByName('match_id');
    if(match_id!==undefined){

      $.getJSON('/rest-api/parse-shards/?match_id='+match_id)

      .success(function(shards){

        var slices = window.jsUtils.getParameterByName('pmses').split(',')
        var url_shards = shards.filter(function(shard){
          return slices.includes(shard.dataslice);
        })

        var params = {
          granularity: 30,
        };

        update(url_shards, params);
      });

    }
    var update = function(pmses, params){

    }

});
</script>
{% endblock extra_js %}
