{% extends "row_base.html" %}

{% block aligned_content %}
    <div class='col-md-6' id='target'>

    </div>
    <div class='col-md-6' id='target2'>

    </div>

    <div class='col-md-6' id='minimap'>
    <label></label>
    <div class='chart vert-md-6'></div>
    </div>
{% endblock aligned_content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){

    var url = '/rest-api/parse-shards/?pms_ids=[20329, 20328]';
    $.getJSON(
      url
    )
    .success(function(pmses){

      var params = {
        granularity: 30,
      };

      update(pmses, params);
    });
    var update = function(pmses, params){

      d7.extensions.charts.replays.stat_card(
        pmses[0], '#target', params
      );
      d7.extensions.charts.replays.stat_card(
        pmses[1], '#target2', params
      );
      d7.extensions.charts.replays.minimap(
        pmses, '#minimap', params
      );

    }
    window.jsUtils.playback(0, 1000, 0);

});
</script>
{% endblock extra_js %}
