{% extends "row_base.html" %}
{% block title %}Match List{% endblock title %}

{% block content %}
    <h1>Match List</h1>

    {% if request.user.is_authenticated %}
    <p class="">
      <em>Don't see the match you're looking for? <a href="{% url "parserpipe:import" %}">Import</a> it!</em>
    </p>
    {% endif %}
    {% for match in match_list %}
        <a href="/matches/{{match.steam_id}}">
            <div class='col-md-12' style='margin-bottom:20px'>
                {% include "matches/_match_card.html" %}
            </div>
        </a>
    {% endfor %}

    {% include "_pagination.html" with pages_list=page_obj page_links_to_display=object_list.paginator.page_range_with_ellipses %}

{% endblock content %}
