{% extends "matches/match_base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block match_content %}
  <h4>Abilities</h4>

  <div class="row" id='abilities'>
    <div class='col-md-12'>
      <div class='radiant-abilities'>
      <h5>Radiant</h5>
        {% for key, summary in radiant_infodict.items %}
          <div class='ability-row'>

            {% if summary.hero_thumbshot %}
              <span class='ability-row-hero'>
                <img src="{{ summary.hero_thumbshot_url }}" alt="{{ summary.hero_name }}" title="{{ summary.hero_name }}" style='height:35px'>
              </span>
            {% else %}
              <span class='ability-row-hero'></span>
            {% endif %}

            {% if summary.ability_dict %}
              {% for ability in summary.ability_dict %}

                {% if SHOW_HEROES %}
                <a href="{%url 'heroes:ability_detail' ability_name=ability.machine_name%}">
                    <img class='ability-thumbshot' src="{{ability.picture_url}}" title="{{ability.name}}" >
                </a>
                {% else %}
                  <img class='ability-thumbshot' src="{{ability.picture_url}}" title="{{ability.name}}" >
                {% endif %}

              {% endfor %}
            {% else %}
                <text>Not given :(</text>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class='dire-abilities'>
      <h5>Dire</h5>
        {% for key, summary in dire_infodict.items %}

          <div class='ability-row'>
            {% if summary.hero_thumbshot %}
              <span class='ability-row-hero'>
                <img src="{{ summary.hero_thumbshot_url }}" alt="{{ summary.hero_name }}" title="{{ summary.hero_name }}" style='height:35px'>
              </span>
              {% else %}
              <span class='ability-row-hero'>
              </span>
            {% endif %}
          {% if summary.ability_dict %}
            {% for ability in summary.ability_dict %}


            {% if SHOW_HEROES %}
            <a href="{%url 'heroes:ability_detail' ability_name=ability.machine_name%}">
                <img class='ability-thumbshot' src="{{ability.picture_url}}" title="{{ability.name}}">
              </a>
            {% else %}
                <img class='ability-thumbshot' src="{{ability.picture_url}}" title="{{ability.name}}">
            {% endif %}

            {% endfor %}
          {% else %}
              <text>Not given :(</text>
          {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock match_content %}
