{% extends "matches/match_base.html" %}

{% load staticfiles player_extras %}

{% block extra_css %}{{ form.media }}{% endblock extra_css %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}


{% block match_content %}

  {% include "matches/_match_header_card.html" %}
  {% include "matches/_match_card.html" %}
  {% if match.replay %}
  <div class="alert alert-success" role="alert">
    Parsed replay exists!  See it <a href="{% url "matches:replay_parse" match_id=match.steam_id %}">here.</a>
    </div>
  {% endif %}

  <div class="row">
    <div id='level-row' class="charts col-md-6">
    <h4>Level Progression</h4>
          <div id='abilities' class='vert-md-4 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>

    </div>

    <div id='matchup-charts' class='col-md-6'>
      <div class='row'>
        <div class="charts col-md-6">
          <h4>Kills vs Damage</h4>
          <div id='kill_dmg' class='vert-md-4 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>
        </div>
        <div class="charts col-md-6">
          <h4>Gold vs EXP</h4>
          <div id='xp_gold' class='vert-md-4 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>
        </div>
        <div class="charts col-md-6">
          <h4>Kills vs Deaths</h4>
          <div id='kill_death' class='vert-md-4 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>

        </div>
        <div class="charts col-md-6">
          <h4>Last Hits vs Denies</h4>
          <div id='lh_denies' class='vert-md-4 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>
        </div>

      </div>
  </div>

  <div class="row">
    </div>

    <div class="charts col-md-4">
    <h4>Pushing Damage</h4>
        <div id='tower_damage'></div>
    </div>

    <div class="charts col-md-4">
    <h4>Last Hits</h4>
        <div id='last_hits'></div>
    </div>

    <div class="charts col-md-4">
    <h4>KDA2</h4>
        <div id='kda2'></div>
    </div>
  </div>

{% endblock match_content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
  var url = '{% url "rest-api:player-match-summary-list" %}?match_id={{match.steam_id}}';

  Promise.resolve($.ajax(url))
  .then(function(data){

    d7.extensions.charts.matches.kill_dmg_scatter(
      '#kill_dmg', {match_id:{{match.steam_id}}}
    );


    d7.extensions.charts.matches.xpm_gpm_scatter(
      '#xp_gold', {match_id:{{match.steam_id}}}
    );


    d7.extensions.charts.matches.kill_death_scatter(
      '#kill_death', {match_id:{{match.steam_id}}}
    );

    d7.extensions.charts.matches.lh_denies_scatter(
      '#lh_denies', {match_id:{{match.steam_id}}}
    );


    var destination = '#lh_denies';
    var plot_data = [
      {
        key:'Last Hits vs Denies',
        values:data.map(function(d){
          return {
            x:d.last_hits,
            y:d.denies,
          }
        }),
      }
    ];
    window.Chartreuse.scatter(destination, plot_data, 'Last Hits', 'Denies');


    (function(){
      var destination = '#kda2';
      nv.addGraph(function(){
        var plot_data = [{
          key:'KDA2',
          values:data.map(function(d){
            return {
              label: d.hero.name,
              value: d.kda2
            }
          })
        }];
        chart = nv.models.discreteBarChart(destination, plot_data);
      })
    })();

    // (function(){
    //   var destination = '#last_hits';
    //   nv.addGraph(function(){
    //     var plot_data = [{
    //       key:'Last Hits',
    //       values:data.map(function(d){
    //         return {
    //           label: d.hero.name,
    //           value: d.last_hits
    //         }
    //       })
    //     }];
    //     chart = nv.models.discreteBarChart(destination, plot_data);
    //   })
    // })();

    // d7.extensions.charts.matches.pms_scatter(
    //   '#last_hits', {match_id:{{match.steam_id}}}
    // );


    // (function(){
    //   var destination = '#tower_damage';
    //   nv.addGraph(function(){
    //     var plot_data = [{
    //       key:'KDA2',
    //       values:data.map(function(d){
    //         return {
    //           label: d.hero.name,
    //           value: d.tower_damage
    //         }
    //       })
    //     }];
    //     chart = nv.models.discreteBarChart(destination, plot_data);
    //   })
    // })();

    // (function(){
    //   var destination = '#abilities';
    //   var plot_data = data.map(function(d){
    //     return {
    //       key: d.hero.name,
    //       values: d.skillbuild
    //     }
    //   });
    //   nv.addGraph(function(){
    //     chart = nv.models.lineChart()
    //       .x(function(d){return d.time})
    //       .y(function(d){return d.level})
    //     svg = window.make_svg(destination, 230);
    //     chart_data = svg.datum(plot_data);
    //     chart_data.transition().duration(500).call(chart);

    //   })
    // })();



  })
})
</script>
{% endblock extra_js %}
