{% extends "matches/match_base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}


{% block match_content %}

  <div class="row">

    <div class='col-md-6 vert-md-6' id='kda'>
      <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
    </div>

    <div class='col-md-6 vert-md-6' id='goldxp'>
      <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
    </div>

    <div class='col-md-6 vert-md-6' id='hero-kills'>
      <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
    </div>

    <div class='col-md-6 vert-md-6' id='hero-gold'>
      <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
    </div>

    <div class='col-md-12'>
    <h2>Extra Charting</h2>
    <p>Want to see some other facet of this match?  Just pick one!</p>
      <form>
        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
              <label>
                Data
              </label>
              <select class="form-control" id='data'>
                {% include "matches/_attr_selections.html" %}
              </select>
            </div>
          </div>
          <div class='col-md-6'>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button id='chart-button' type="button" class="btn btn-primary btn-lg">
                  Chart! <i class="fa fa-line-chart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


    <div class='col-md-6 vert-md-6' id='custom-hero'>
      <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
    </div>

    <div class='col-md-6 vert-md-6' id='custom-side'>
      <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
    </div>


    <div id='matchup-charts' class='col-md-6'>

    </div>
  </div>
{% endblock match_content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
  var params = {};

  $.getJSON('/rest-api/parse-shards/?match_id='+{{match.steam_id}})
    .success(function(shards){
      var diff = shards.filter(function(shard){
        return shard.dataslice === 'diff';
      })[0];
      var radiant = shards.filter(function(shard){
        return shard.dataslice === 'radiant';
      })[0];
      var dire = shards.filter(function(shard){
        return shard.dataslice === 'dire';
      })[0];

      var heroes = shards.filter(function(shard){
        return shard.dataslice < 400;
      });

      var radiant_kills = _.clone(radiant);
      radiant_kills.name = 'Radiant Kills'
      radiant_kills.color = '#80FFAD'
      var radiant_assists = _.clone(radiant);
      radiant_assists.name = 'Radiant Assists'
      radiant_assists.color = '#00802E'


      var dire_kills = _.clone(dire);
      dire_kills.name = 'Dire Kills'
      dire_kills.color = '#FF8080'
      var dire_assists = _.clone(dire);
      dire_assists.name = 'Dire Assists'
      dire_assists.color = '#800000'

      var shardfacets1 = [
        [radiant_kills, 'kills', 'statelog'],
        [dire_kills, 'kills', 'statelog'],
        [radiant_assists, 'assists', 'statelog'],
        [dire_assists, 'assists', 'statelog'],
      ];

      var params = {
        label: 'Kills & Assists',
        inset_legend: true
      };

      d7.extensions.charts.replays.multifacet_lineup(
        shardfacets1, '#kda', params
      );

      var diff_income = _.clone(diff);
      diff_income.name = 'Rad-Dire Income'
      diff_income.color = '#DABF00'
      var diff_xp = _.clone(diff);
      diff_xp.name = 'Rad-Dire XP'
      diff_xp.color = '#0C61FE'

      var shardfacets2 = [
        [diff_income, 'earned_income', 'combatseries'],
        [diff_xp, 'xp', 'statelog']
      ];
      var params = {
        label: 'Gold and XP Difference',
        inset_legend: true
      };

      d7.extensions.charts.replays.multifacet_lineup(
          shardfacets2, '#goldxp', params
          );

      var params = {
        label: 'Kills',
        inset_legend: true
      };

      d7.extensions.charts.replays.multifacet_lineup(
          heroes.map(function(d){
            return [d, 'kills', 'statelog']
          }), '#hero-kills', params
          );

      var params = {
        label: 'Earned Income',
        inset_legend: true
      };

      d7.extensions.charts.replays.multifacet_lineup(
          heroes.map(function(d){
            return [d, 'earned_income', 'combatseries']
          }), '#hero-gold', params
      );


      $('#chart-button').click(function(){
        var facet = $('#data :selected').val();

        var params = {
          label: facet,
          inset_legend: true
        };

        var combatlog_flag = [
          'buyback_expense',
          'creep_xp',
          'death_expense',
          'hero_dmg_dealt',
          'hero_dmg_taken',
          'hero_xp',
          'key_bldg_dmg_dealt',
          'other_dmg_dealt',
          'other_dmg_taken',
        ].indexOf(facet);

        if(combatlog_flag===-1){
          d7.extensions.charts.replays.stat_lineup(
            heroes,
            facet,
            '#custom-hero',
            params,
            'statelog'
          );
          d7.extensions.charts.replays.stat_lineup(
            [radiant, dire, diff],
            facet,
            '#custom-side',
            params,
            'statelog'
          );

        }else{
          d7.extensions.charts.replays.stat_lineup(
            heroes,
            facet,
            '#custom-hero',
            params,
            'combatseries'
          );
          d7.extensions.charts.replays.stat_lineup(
            [radiant, dire, dif],
            facet,
            '#custom-side',
            params,
            'combatseries'
          );
        }
      });


    });
  });
</script>
{% endblock extra_js %}
