{% extends "matches/match_base.html" %}

{% load staticfiles player_extras %}

{% block extra_css %}{{ form.media }}{% endblock extra_css %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}


{% block match_content %}

  <div class="row">
    <div class="col-md-6">
    <h4>Level Progression</h4>
          <div id='abilities' class='vert-md-6 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>

    </div>

    <div id='matchup-charts' class='col-md-6'>
      <div class='row'>
        <div class="col-md-6">
          <h4>Kills vs Damage</h4>
          <div id='kill_dmg' class='vert-md-3 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>
        </div>
        <div class="col-md-6">
          <h4>Gold vs EXP</h4>
          <div id='xp_gold' class='vert-md-3 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>
        </div>
        <div class="col-md-6">
          <h4>Kills vs Deaths</h4>
          <div id='kill_death' class='vert-md-3 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>

        </div>
        <div class="col-md-6">
          <h4>Last Hits vs Denies</h4>
          <div id='lh_denies' class='vert-md-3 chart'>
            <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-4">
    <h4>Pushing Damage</h4>
      <div id='tower_damage' class='vert-md-3 chart'>
        <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
      </div>
    </div>

    <div class="col-md-4">
    <h4>Last Hits</h4>
      <div id='last_hits' class='vert-md-3 chart'>
        <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
      </div>
    </div>

    <div class="col-md-4">
    <h4>KDA2</h4>
      <div id='kda2' class='vert-md-3 chart'>
        <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
      </div>
    </div>
  </div>

{% endblock match_content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){

    d7.extensions.charts.matches.kill_dmg_scatter(
      '#kill_dmg', {match_id:{{match.steam_id}}}
    );

    d7.extensions.charts.matches.xpm_gpm_scatter(
      '#xp_gold', {match_id:{{match.steam_id}}}
    );


    d7.extensions.charts.matches.kill_death_scatter(
      '#kill_death', {match_id:{{match.steam_id}}}
    );

    d7.extensions.charts.matches.lh_denies_scatter(
      '#lh_denies', {match_id:{{match.steam_id}}}
    );

    d7.extensions.charts.matches.ability_lines(
      '#abilities', {match_id:{{match.steam_id}}}
    );

    d7.extensions.charts.matches.lh_barchart(
      '#last_hits', {match_id:{{match.steam_id}}}
    );

    d7.extensions.charts.matches.kda2_barchart(
      '#kda2', {match_id:{{match.steam_id}}}
    );

    d7.extensions.charts.matches.tower_dmg_barchart(
      '#tower_damage', {match_id:{{match.steam_id}}}
    );

})
</script>
{% endblock extra_js %}
