{% extends "matches/base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block page_title %}Match #{{ match.steam_id }}
<small>  {{ match.game_mode.description }} {{ match.lobby_type.description }},
    {{ match.hms_duration }} @ {{ match.hms_start_time }}</small>
    {% if match.league.leaguedossier %}
      <br>
      <small>Tournament:
      {% if match.league.leaguedossier.tournament_url %}
        <a href="{{match.league.leaguedossier.tournament_url}}">{{match.league.leaguedossier.display_name}}</a>
      {% else %}
        {{match.league.leaguedossier.display_name}}
      {% endif %}</small>
    {% endif %}
    {% endblock page_title %}

{% block content %}

    <div class='container'>
        <div class='row' id='buttons'>
            <h2>Animation (times approximate):</h2>
            <div class='col-md-1'>
                <button id='stop-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">Stop</button>
            </div>
            <div class='col-md-1'>
                <button id='start-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">Start</button>
            </div>
            <div class='col-md-1'>
                <button id='back-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">
                    <span  class="info glyphicon glyphicon-backward">
                </button>
            </div>
            <div class='col-md-1'>
                <button id='forward-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">
                    <span  class="info glyphicon glyphicon-forward">
                </button>
            </div>
            <div class='col-md-2'>
                <input style='margin-top:5px' id='time-display' class='form-control' type='text' placeholder='Replay Time' readonly>
            </div>

            <div class='col-md-2 col-md-offset-1' id='related-match'>
                <a href="{%url 'matches:match_detail' match_id=match.steam_id%}"><button id='start-animation' type="button" class="btn btn-primary btn-lg btn-block">Match Summary</button></a>
            </div>
            <div class='col-md-2 col-md-offset-1'>
                <button id='face-toggle' type="button" class="btn btn-primary btn-lg btn-block">Toggle Faces</button>
            </div>

        </div>
    </div>

  {% include "matches/_match_cards.html" %}

    <div class='container'>
        <div class='row' >
            <div class='goofyspacer'>
                <div class='col-md-3' id='lh_level'></div>
                    {% comment %}
                    <h4>Hero Kills <span  class="info glyphicon glyphicon-info-sign" data-toggle="tooltip" title="" data-placement="right"></span></h4>
                    {% endcomment %}
                <div class='col-md-3' id='kill_dmg'></div>
                <div class='col-md-3' id='death_dmg'></div>
                <div class='col-md-3' id='gold_exp'></div>
            </div>
        </div>
        <div class='row'>

            <div class='goofyspacer'>
                <div class='col-md-4' id='minimap'></div>
                <div class='col-md-8' id='gold_bars'></div>
            </div>

        </div>
        <div class='row'>

            <div class='goofyspacer'>
                <div class='col-md-8' id='stat_bars'></div>
            </div>

        </div>
        <div class='row'>
            <div class='col-md-6 col-md-offset-3' id='note'>
                <p>Note: This is alpha tech.  There are some known issues, but the gist is here.</p>
            </div>
        </div>

    </div>{% endblock content %}

{% block extra_js %}
<script type="text/javascript">

var timeline
var heroes
$(function(){

    // Config
    var tick_idx = 0;
    var interval_duration = 50;
    var hero_json = {{hero_json|safe}}
    var tooltip_div = d3.select("body").append("div")
      .attr("class", "tooltip")
      .style("opacity", 0);

    // Cosmetics
    $('.chart-pip').remove()
    $('.cast-player-image').remove()
    var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);
    $('#face-toggle').click(function(){
        $('.toggleface').toggle()
    })

    //Utility
    function updateTimer(d){
        $('#time-display').val(String((d-d%60)/60)+':'+String(d%60))
    }
    function loggingu(txt){
        console.log(txt)
    }
    function sortNumber(a,b) {
        return a - b;
    }
    function between(x, min, max) {
        return x >= min && x <= max;
    }
    function slice_timeline(timeline_segment){
        return_ary = $.map(
            timeline_segment,
            function(value, index) {
                if(between(index,0,10)){
                    return [value];
                }
            })
        return return_ary
    }
    function smartTicks(d) {
        if ((d / 1000000) >= 1) {
            return d / 1000000 + "M";
        }
        if ((d / 1000) >= 1) {
            return d / 1000 + "K";
        }
        return d;
    }
    // Charting!
    function healthBars(heroes, timeslice){
        var health_bar_height = 5
        loggingu('In health bars.')

        $.each(heroes, function(idx, val){
            var selector = '.'+val['name']+'_slot'
            var width = $(selector).width()

            var svg = d3.select(selector).insert("svg", 'img')
            .attr("width", width)
            .attr("height", 2*health_bar_height)
            .attr("class", 'lifebar')

            var mbar = svg.append("rect")
            .attr("x", 0)
            .attr("y", health_bar_height)
            .attr("width", width)
            .attr("height", health_bar_height)
            .attr("class", val['name']+' mana-bar');

            var hbar = svg.append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("width", width)
            .attr("height", health_bar_height)
            .attr("class", val['name']+' health-bar');

            // Listen for the update
            $(document).on('update', function(e, snapshot){
                var health_width = width*snapshot[idx]['health']/snapshot[idx]['max_health']
                hbar.transition()
                    .duration(interval_duration)
                    .attr('width', health_width)
                if(health_width === 0){}
                mbar.attr(
                    'width',
                    width*snapshot[idx]['mana']/snapshot[idx]['max_mana']
                )
            })

        })

    }


    function miniMap(heroes, timeslice){
        loggingu('In minimap mode.')

        var selector = 'div#minimap'
        var width = $(selector).width()
        var height = width
        d3.select(selector).style('position', 'relative')
        var svg = d3.select(selector)
            .append('svg')
            .attr('class', 'testchart')
            .attr('width', width)
            .attr('height', height)

        var defs = svg.append('svg:defs');

        defs.append('svg:pattern')
            .attr('id', 'tile-ww')
            .attr('patternUnits', 'userSpaceOnUse')
            .attr('width', width)
            .attr('height', height)
            .append('svg:image')
            .attr('xlink:href', '/assets/images/minimap.png')
            .attr('x', 0)
            .attr('y', 0)
            .attr('width', width)
            .attr('height', height)

        svg.append("rect")
           .attr("fill", "url(#tile-ww)")
           .attr('width', width)
           .attr('height', height)
           .attr('x', 0)
           .attr('y', 0)

        function transX(xVal){
            presumed_min = 71
            scalar = minmax['x']['max'] - presumed_min
            xVal = xVal - 71
            return  20+(260*(xVal/scalar))+'px'
        }
        function transY(yVal){
            presumed_min = 71
            scalar = minmax['y']['max'] - presumed_min
            yVal = yVal - 71
            return  20+(yVal/scalar*240)+'px'
        }

        $.each(timeslice, function(idx, val){

            var icon_class = 'd2mh '+ heroes[idx]['name']
            var hero_icon = d3.select(selector).insert("i")
               .attr('class', icon_class)
               .style('position', 'absolute')
               .attr('width', 32)
               .attr('height', 32)
               .style('bottom', transY(val.y))
               .style('left', transX(val.x))

            // Listen for the update
            $(document).on('update', function(e, snapshot){
                icon_class = selector+' .d2mh.'+ heroes[idx]['name']
                d3.select(icon_class).transition()
                    .style('bottom', transY(snapshot[idx].y))
                    .style('left', transX(snapshot[idx].x))
            })

        })

    }

    function updatingScatter(heroes, timeslice, minmax, x_var, y_var, target,params){
        loggingu('Updating '+target)
        var selector = target
        var width = $(selector).width()
        var height = width // Mmm, squares
        params['width'] = width
        params['height'] = height
        var margin = {top: 15, right: 15, bottom: 25, left: 35},
            width = params.width - margin.right - margin.left,
            height = params.height - margin.top - margin.bottom;


        var x = d3.scale.linear()
            .domain([
                    minmax[x_var]['min'],
                    minmax[x_var]['max']
                ])
            .range(
                [0, width]
            )
        var y = d3.scale.linear()
            .domain([
                    minmax[y_var]['min'],
                    minmax[y_var]['max']
                ])
            .range(
                [height, 0]
            )

        var svg = d3.select(selector).insert('svg')
            // .attr('class', 'kill_dmg')
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            // .style("margin-left", -margin.left + "px")
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        var xAxis = svg.append('g').attr('class', 'x axis')
            .attr('transform', 'translate(0,'+height+')')
            .call(
                d3.svg.axis().scale(x).orient("bottom")
                .tickFormat(smartTicks).ticks(5)
            )

        xAxis.append("text")
            .attr("class", "x-axis-label")
            .attr("y", -16)
            .attr("x", width)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(params['x_label'])

        var yAxis = svg.append('g').attr('class', 'y axis')
            .attr('transform', 'translate(0,0)')
            .call(
                y.axis = d3.svg.axis().scale(y)
                .orient('left').tickFormat(smartTicks).ticks(5)
            )

        yAxis.append("text")
            .attr("class", "y-axis-label")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(params['y_label']);

        // Put hero icons on dots
        d3.select(selector).style('position', 'relative')
        $.each(timeslice, function(idx, val){
            d3.select(selector)
                .append('i')
                .attr('class', 'toggleface d2mh '+heroes[val.hero_idx]['name'])
                .style('position', 'absolute')
                .style("left", margin.left+x(val[x_var])+'px')
                .style("top", margin.top+y(val[y_var])+'px')
        })

        svg.selectAll(selector +' circle').data(timeslice)
            .enter().append("circle")
            .attr("cx", function(d) {
                 return x(d[x_var]);
            })
            .attr("cy", function(d) {
                 return y(d[y_var]);
            })
            .attr("class", function(d) {
                 return heroes[d.hero_idx]['name'];
            })
            .attr("r", 3)
            .on("mouseover", function(d) {
                tooltip_div.transition()
                  .duration(200)
                  .style("opacity", 0.9);
                tooltip_div.html(heroes[d.hero_idx]['hero_name'])
                  .style("left", (d3.event.pageX) + "px")
                  .style("top", (d3.event.pageY - 28) + "px");
                }
            )
            .on("mouseout", function(d) {
                tooltip_div.transition()
                .duration(500)
                .style("opacity", 0);
            });

            // Listen for the update
            $(document).on('update', function(e, timeslice){
                d3.selectAll(selector+' circle').data(timeslice)
                .transition()
                .duration(interval_duration)
                .attr("cx", function(d) {
                   return x(d[x_var]);
                })
                .attr("cy", function(d) {
                     return y(d[y_var]);
                })

                //Move heroes on the dots
                $.each(timeslice, function(idx, val){
                    hero_icon = selector+' i.toggleface.d2mh.'+heroes[val.hero_idx]['name']
                    d3.select(hero_icon)
                        .transition()
                        .duration(interval_duration)
                        .style("left", margin.left+x(val[x_var])+'px')
                        .style("top", margin.top+y(val[y_var])+'px')
                })

            })
    }


    function goldBars(heroes, timeslice, minmax, x_var, y_var, target, params){
        loggingu('Updating '+target)
        var selector = target
        var width = $(selector).width()
        var height = $(selector).height()
        params['width'] = width
        params['height'] = 292
        var margin = {top: 15, right: 15, bottom: 25, left: 60},
            width = params.width - margin.right - margin.left,
            height = params.height - margin.top - margin.bottom;


        bar_domain = []
        $.each(heroes, function(i,v){
            bar_domain.push(v['hero_name'])
        })
        var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], 0.1).domain(bar_domain)

        var ymax = d3.max(timeslice, function(d){
            return d['reliable_gold']+d['unreliable_gold']
        })
        y_domain = [0, ymax]
        var y = d3.scale.linear()
            .domain(y_domain)
            .range(
                [height, 0]
            )

        var svg = d3.select(selector).insert('svg')
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        var xAxis = svg.append('g')
            .attr('class', 'x-axis')
            .attr('transform', 'translate(0,'+height+')')
            .call(d3.svg.axis().scale(x).orient('bottom'))

        xAxis.selectAll('text')
                .style('text-anchor', 'end')
                .attr('dx', '-1em')
                .attr('dy', '-0.3em')
                .attr('transform', function(d){
                    return 'rotate(90)';
                })
            .append('text')
                .attr('y', -16)
                .attr('x', width)
                .attr('dy', '.71em')
                .style('text-anchor', 'end')
                .text(params['x_label'])



        var yAxis = svg.append('g').attr('class', 'y axis')
            .attr('transform', 'translate(0,0)')
            .call(
                y.axis = d3.svg.axis().scale(y)
                .orient('left').tickFormat(smartTicks)
            )

        yAxis.append("text")
            .attr("class", "y-axis-label")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(params['y_label']);

        // Put minimap hero icons on bars
        d3.select(selector).style('position', 'relative')
        $.each(timeslice, function(idx, val){
            d3.select(selector)
                .append('i')
                .attr('class', 'd2mh '+heroes[val.hero_idx]['name'])
                .style('position', 'absolute')
                .style("left", x.rangeBand()/2+margin.left+x(heroes[val.hero_idx]['hero_name'])+'px')
                .style("bottom", (height-y(0))+'px')
        })

        svg.selectAll(selector +' rect.reliable').data(timeslice)
            .enter().append("rect")
            .attr("x", function(d) {
                return x(heroes[d.hero_idx]['hero_name']);
            })
            .attr("width", x.rangeBand())
            .attr("y", function(d) { return y(d['reliable_gold']); })
            .attr("height", function(d) {
                return height - y(d['reliable_gold']);
            })
            .attr("class", function(d) {
                 return heroes[d.hero_idx]['name']+' reliable';
            })
            .on("mouseover", function(d) {
                tooltip_div.transition()
                  .duration(200)
                  .style("opacity", 0.9);
                tooltip_div.html(heroes[d.hero_idx]['hero_name'] + ' Reliable Gold')
                  .style("left", (d3.event.pageX) + "px")
                  .style("top", (d3.event.pageY - 28) + "px");
                }
            )
            .on("mouseout", function(d) {
                tooltip_div.transition()
                .duration(500)
                .style("opacity", 0);
            });

        svg.selectAll(selector +' rect.unreliable').data(timeslice)
            .enter().append("rect")
            .attr("x", function(d) {
                return x(heroes[d.hero_idx]['hero_name']);
            })
            .attr("width", x.rangeBand())
            .attr("y", function(d) {
                return y(d['reliable_gold']+d['unreliable_gold']);
            })
            .attr("height", function(d) {
                return height - y(d['unreliable_gold']);
            })
            .attr("class", function(d) {
                 return heroes[d.hero_idx]['name']+' unreliable';
            })
            .on("mouseover", function(d) {
                tooltip_div.transition()
                  .duration(200)
                  .style("opacity", 0.9);
                tooltip_div.html(heroes[d.hero_idx]['hero_name'] + ' Unreliable Gold')
                  .style("left", (d3.event.pageX) + "px")
                  .style("top", (d3.event.pageY - 28) + "px");
                }
            )
            .on("mouseout", function(d) {
                tooltip_div.transition()
                .duration(500)
                .style("opacity", 0);
            });

            // Listen for the update
            $(document).on('update', function(e, timeslice){

                ymax = Math.max(d3.max(timeslice, function(d){
                    return d['reliable_gold']+d['unreliable_gold']
                }), ymax)
                y_domain = [0, ymax]
                y.domain(y_domain)

                yAxis.transition()
                    .duration(interval_duration)
                    .ease('linear')
                    .call(y.axis)

                svg.selectAll(selector +' rect.unreliable').data(timeslice)
                    .transition()
                    .duration(interval_duration)
                    .attr("x", function(d) {
                        return x(heroes[d.hero_idx]['hero_name']);
                    })
                    .attr("width", x.rangeBand())
                    .attr("y", function(d) {
                        return y(d['reliable_gold']+d['unreliable_gold']);
                    })
                    .attr("height", function(d) {
                        return height - y(d['unreliable_gold']);
                    })
                svg.selectAll(selector +' rect.reliable').data(timeslice)
                    .transition()
                    .duration(interval_duration)
                    .attr("x", function(d) {
                        return x(heroes[d.hero_idx]['hero_name']);
                    })
                    .attr("width", x.rangeBand())
                    .attr("y", function(d) { return y(d['reliable_gold']); })
                    .attr("height", function(d) {
                        return height - y(d['reliable_gold']);
                    })

            })
    }

    function statBars(heroes, timeslice, minmax, target, params){
        loggingu('Updating '+target)
        var selector = target
        var width = $(selector).width()
        var height = $(selector).height()
        params['width'] = width
        params['height'] = 292
        var margin = {top: 15, right: 15, bottom: 25, left: 60},
            width = params.width - margin.right - margin.left,
            height = params.height - margin.top - margin.bottom;


        var num_series = 3
        var num_heroes = 10

        bar_domain = []
        $.each(heroes, function(i,v){
            bar_domain.push(v['hero_name'])
        })

        var x0 = d3.scale.ordinal()
            .domain(bar_domain)
            .rangeBands([0, width], .2)

        var x1 = d3.scale.ordinal()
            .domain(['str', 'int', 'agi'])
            .rangeBands([0, x0.rangeBand()]);

        var ymax = d3.max(timeslice, function(d){
            return Math.max(
                d['str_total'],
                d['int_total'],
                d['agi_total']
            )
        });
        y_domain = [0, ymax];
        var y = d3.scale.linear()
            .domain(y_domain)
            .range(
                [height, 0]
            );

        var svg = d3.select(selector).insert('svg')
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        var xAxis = svg.append('g')
            .attr('class', 'x-axis')
            .attr('transform', 'translate(0,'+height+')')
            .call(d3.svg.axis().scale(x0).orient('bottom'))

        xAxis.selectAll('text')
                .style('text-anchor', 'end')
                .attr('dx', '-1em')
                .attr('dy', '-0.3em')
                .attr('transform', function(d){
                    return 'rotate(90)';
                })
            .append('text')
                .attr('y', -16)
                .attr('x', width)
                .attr('dy', '.71em')
                .style('text-anchor', 'end')
                .text(params['x_label'])

        var yAxis = svg.append('g').attr('class', 'y axis')
            .attr('transform', 'translate(0,0)')
            .call(
                y.axis = d3.svg.axis().scale(y)
                .orient('left').tickFormat(smartTicks)
            )

        yAxis.append("text")
            .attr("class", "y-axis-label")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(params['y_label']);

        // Put minimap hero icons on bars
        d3.select(selector).style('position', 'relative')
        $.each(timeslice, function(idx, val){
            d3.select(selector)
                .append('i')
                .attr('class', 'd2mh '+heroes[val.hero_idx]['name'])
                .style('position', 'absolute')
                .style("left", x0.rangeBand()/2+margin.left+x0(heroes[val.hero_idx]['hero_name'])+'px')
                .style("bottom", (height-y(0))+'px')
        })

        // Put bars in for each series
        $.each(['str', 'int', 'agi'], function(idx, val){
            stat = val+'_total'
            rect_select = selector+' rect.'+stat

            svg.selectAll(rect_select)
                .data(timeslice)
                .enter()
                .append('rect')
                .attr('x', function(d){
                    name = heroes[d.hero_idx]['hero_name']
                    return x1(val)+x0(name)
                })
                .attr('y', function(d){
                    return height-y(d[stat])
                })
                .attr('width', function(d){
                   return x1.rangeBand()
                })
                .attr('height', function(d){
                   return y(d[stat])
                })
                .attr('class', function(d){
                    name = heroes[d.hero_idx]['hero_name']

                    return stat+' '+name
                })
        })

            // Listen for the update
            $(document).on('update', function(e, timeslice){

                ymax = Math.max(d3.max(timeslice, function(d){
                    return Math.max(
                        d['str_total'],
                        d['int_total'],
                        d['agi_total']
                    )
                }), ymax)
                y_domain = [0, ymax+5]
                y.domain(y_domain)

                yAxis.transition()
                    .duration(interval_duration)
                    .ease('linear')
                    .call(y.axis)

                $.each(['str', 'int', 'agi'], function(idx, val){
                    stat = val+'_total'
                    rect_select = selector+' rect.'+stat

                    svg.selectAll(rect_select)
                        .data(timeslice)
                        .attr('x', function(d){
                            name = heroes[d.hero_idx]['hero_name']
                            return x1(val)+x0(name)
                        })
                        .attr('y', function(d){
                            console.log
                            return y(d[stat])
                        })
                        .attr('width', function(d){
                           return x1.rangeBand()
                        })
                        .attr('height', function(d){
                           return height-y(d[stat])
                        })
                })
            })
    }

    function setUp(heroes, timeline){
        loggingu('Setting up.')
        healthBars(heroes, timeline)
        // killDmg(heroes, timeline, minmax)
        miniMap(heroes, timeline)
        updatingScatter(
            heroes, timeline, minmax,
            'calc_kills', 'hero_damage_dealt', 'div#kill_dmg',
            {'x_label': 'Kills', 'y_label': 'Hero Damage Dealt'}

        )
        updatingScatter(
            heroes, timeline, minmax,
            'deaths', 'hero_damage_taken', 'div#death_dmg',
            {'x_label': 'Deaths', 'y_label': 'Hero Damage Taken'}
        )
        updatingScatter(
            heroes, timeline, minmax,
            'level', 'lh', 'div#lh_level',
            {'x_label': 'Level', 'y_label': 'Last Hits'}
        )
        updatingScatter(
            heroes, timeline, minmax,
            'gold', 'xp', 'div#gold_exp',
            {'x_label': 'Gold Total', 'y_label': 'XP Total'}
        )
        goldBars(
            heroes, timeline, minmax,
            'gold', 'xp', 'div#gold_bars',
            {'x_label': 'Heroes', 'y_label': 'Gold Total'}
        )
        statBars(heroes, timeline, minmax, 'div#stat_bars',
            {'x_label': 'Heroes', 'y_label': 'Stat Total'})
    }


    // Animation Controls
    $('#stop-animation').toggle()
    $('#start-animation').click(function(){
        $('#start-animation').toggle();
        $('#stop-animation').toggle();
        $('#back-animation').toggle();
        $('#forward-animation').toggle();
    });
    $('#stop-animation').click(function(){
        $('#start-animation').toggle();
        $('#stop-animation').toggle();
        $('#back-animation').toggle();
        $('#forward-animation').toggle();
    });

    var url = '{% static timeline %}';
    var chats;
    var hero_creeps = $.getJSON(url, function(result){

        // Wir mussen sie data machen
        timeline = result['timeline']
        heroes = result['heroes']
        chats = result['chats']
        minmax = result['minmax']
        $.each(heroes, function(i, v){
            name = heroes[i]['name']
            name = name.replace('npc_dota_hero_', '')
            name = name.replace('_', ' ')
            heroes[i]['hero_name'] = name
        })
        ints = Object.keys(timeline)

        var numArray = []
        $.each(ints, function(i, v){
            numArray.push(parseInt(v))
        })
        numArray.sort(sortNumber);

        function updateTimer(state){
            $('#time-display').val(state['time'])
        }

        // Prep the ticker
        var make_metronome = function(numArray, timeline){
            function new_index(adder){

                // GFD, javascript.  You're drunk.
                fakemod = function(n, modulus) {
                    return ((n%modulus)+modulus)%modulus;
                }
                tick_idx = fakemod((tick_idx+adder),numArray.length)
            }
            var myfun = function(change){
                new_index(change)

                // Take the hero data for that tick
                slice = slice_timeline(timeline[numArray[tick_idx]])
                $(document).trigger('update', [slice])
                updateTimer(timeline[numArray[tick_idx]])

            }
            return myfun;
        }
        metronome = make_metronome(numArray, timeline)
        bindHandlers(metronome)

        // Get the min tick
        data = []
        $.each(Object.keys(timeline), function(idx, val){
            data.push(parseInt(val));
        })
        tick = Math.min.apply(null, data)

        slice = slice_timeline(timeline[tick])
        // Set up graphics!
        updateTimer(timeline[tick])
        setUp(heroes, slice, minmax);
    });

    // Handling Handlers
    function bindHandlers(broadcast){
        var myhandle
        var play = function(){
            broadcast(1)
        }
        var start = function(){
            myhandle = setInterval(play, interval_duration)
        }

        var stop = function (){
            clearInterval(myhandle)
        }

        $('#start-animation').click(function(){
            start();
        })

        $('#stop-animation').click(function(){
            stop();
        })


        $('#back-animation').click(function(){
            broadcast(-1);
        });
        $('#forward-animation').click(function(){
            broadcast(1);
        });
    }
})
</script>

{% endblock extra_js %}

{% block extra_css %}
    <style type="text/css">
    {% for key, value in css_color_dict.iteritems %}
        .{{key}} {
            fill: {{value}};
        }
    {% endfor %}
    {% for key, value in slot_dict.iteritems %}
        .player-slot-{{key}} {
             box-shadow: 0 0 25.5px {{value}};
        }
    {% endfor %}
    path{
        fill: none;
    }
    .animation-button{
        height:45px;
    }
    circle{
        stroke-width:1;
        /*stroke-fill:#000000;*/
        stroke: #000000;
        r: 2;
    }
    .health-bar{
        fill: #84F721;
    }
    .mana-bar{
        fill: #507AEF;
    }
    rect.unreliable{
        fill: #F6E800;
        stroke: #000000;
        stroke-width: 1;
    }
    rect.reliable{
        fill: #C4B900;
        stroke: #000000;
        stroke-width: 1;
    }
    rect.str_total{
        fill: #D90000;
        stroke: #000000;
        stroke-width: 1;
    }
    rect.int_total{
        fill: #0000D9;
        stroke: #000000;
        stroke-width: 1;
    }
    rect.agi_total{
        fill: #00D900;
        stroke: #000000;
        stroke-width: 1;
    }
    .mana-bar{
        fill: #507AEF;
    }
    img.desaturate{
        filter: grayscale(100%);
    }
    div.goofyspacer{
        margin-top:10px;
        margin-bottom:10px;
    }
    </style>
{% endblock extra_css %}

