{% extends "matches/base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block page_title %}Match #{{ match.steam_id }}
<small>  {{ match.game_mode.description }} {{ match.lobby_type.description }},
    {{ match.hms_duration }} @ {{ match.hms_start_time }}</small>
    {% if match.league.leaguedossier %}
      <br>
      <small>Tournament:
      {% if match.league.leaguedossier.tournament_url %}
        <a href="{{match.league.leaguedossier.tournament_url}}">{{match.league.leaguedossier.display_name}}</a>
      {% else %}
        {{match.league.leaguedossier.display_name}}
      {% endif %}</small>
    {% endif %}
    {% endblock page_title %}

{% block content %}

  {% include "matches/_match_cards.html" %}
    <div class='container'>
        <div class='row' id='header'></div>
        <div class='row' id='side-charts'>

            <div class='col-md-4' id='kills'>
                <h4>Hero Kills</h4>
            </div>
            <div class='col-md-4' id='tower-dmg'>
                <h4>Tower Kills</h4>

            </div>
            <div class='col-md-4' id='life'>
                <h4>Hero Health</h4>

            </div>
        </div>
        <div class='row' id='hero-charts'>
            <div class='col-md-4' id='lasthits-lvls'>
                <h4>Last Hits vs Levels</h4>
            </div>
            <div class='col-md-4' id='dealt_dmg-kill'>
                <h4>Hero Damage vs Kills</h4>
            </div>
            <div class='col-md-4' id='taken_dmg-deaths'>
                <h4>Damage Taken vs Deaths</h4>

            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    // kills=[
    //     {
    //         'data': [[1,1], [2.5,1.5]],
    //         'color': '#FF3100'
    //     },
    //     {
    //         'data': [[2,2], [2.5,1.85]],
    //         'color': '#0400FF'
    //     },
    //     {
    //         'data': [[3,3], [2.75, 1.15]],
    //         'color': '#00FF20'
    //     }
    // ]
    // var margin = {top: 20, right: 20, bottom: 20, left: 30},
    //     padding = {top: 0, right: 0, bottom: 0, left: 0},
    //     outerWidth = 300,
    //     outerHeight = 300,
    //     innerWidth = outerWidth - margin.left - margin.right,
    //     innerHeight = outerHeight - margin.top - margin.bottom,
    //     width = innerWidth - padding.left - padding.right,
    //     height = innerHeight - padding.top - padding.bottom;

    // x_label = 'Hi'
    // y_label = 'Bye'
    // var x_min = d3.min(kills, function(d){ return(d['data'][0][0])}),
    //     y_min = d3.min(kills, function(d){ return(d['data'][0][1])}),
    //     x_max = d3.max(kills, function(d){ return(d['data'][0][0])}),
    //     y_max = d3.max(kills, function(d){ return(d['data'][0][1])});

    // var x = d3.scale.linear()
    //     .range([0, width])
    //     .domain([x_min, x_max]);

    // var y = d3.scale.linear()
    //     .range([height, 0])
    //     .domain([y_min, y_max]);

    // var xAxis = d3.svg.axis()
    //     .scale(x)
    //     .orient("bottom");

    // var yAxis = d3.svg.axis()
    //     .scale(y)
    //     .orient("left");

    // $(function(){

    // inner_svg = d3.select("div#kills").append("svg")
    //     .attr("width", width + margin.left + margin.right)
    //     .attr("height", height + margin.top + margin.bottom)
    //     .attr("class", 'kills-outer-chart')
    //     .append("g")
    //     .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    //     .attr("class", 'kills-inner-chart')

    // //Draw X
    // inner_svg.append("g")
    //     .attr("class", "x-axis")
    //     .attr("transform", "translate(0," + height + ")")
    //     .call(xAxis)
    //     .append("text")
    //     .attr("class", "x-axis-label")
    //     .attr("y", -16)
    //     .attr("x", width)
    //     .attr("dy", ".71em")
    //     .style("text-anchor", "end")
    //     .text(x_label);

    // //Draw Y
    // inner_svg.append("g")
    //     .attr("class", "y-axis")
    //     .attr("transform", "translate(0,0)")
    //     .call(yAxis)
    //     .append("text")
    //     .attr("class", "y-axis-label")
    //     .attr("transform", "rotate(-90)")
    //     .attr("y", 6)
    //     .attr("dy", ".71em")
    //     .style("text-anchor", "end")
    //     .text(y_label);

    // inner_svg.selectAll('.series')
    //     .data(kills)
    //     .enter()
    //     .append('circle')
    //     .attr('cx',function(d){
    //         return(x(d['data'][0][0]));
    //     })
    //     .attr('cy',function(d){
    //         return(y(d['data'][0][1]));
    //     })
    //     // .attr("class", function(d){
    //     //     for(var key in d.classes){
    //     //         d.classes[key]=convertToSlug(d.classes[key]);
    //     //     }
    //     //     return 'data-toggleable dataset points '+d.classes.join(' ');
    //     // })
    //     .attr('r', function(d){
    //         return(5);
    //     })
    //     .attr('stroke-width', function(d){
    //         return(1);
    //     })
    //     .style("fill", function(d) { return(d['color'])})
    //     .style("stroke", function(d) {
    //         return('#000000')
    //     })
    //     .transition()
    //     .ease('linear')
    //     .delay(1000)
    //     .duration(1000)
    //     .attr('cx',function(d){
    //         return(x(d['data'][1][0]));
    //     })
    //     .attr('cy',function(d){
    //         return(y(d['data'][1][1]));
    //     })

    // })
</script>
<script type="text/javascript">
// Side Kill Progression
$(function(){

    function plot(chart_json){

    var margin = {top: 20, right: 20, bottom: 20, left: 30},
        padding = {top: 0, right: 0, bottom: 0, left: 0},
        outerWidth = 300,
        outerHeight = 300,
        innerWidth = outerWidth - margin.left - margin.right,
        innerHeight = outerHeight - margin.top - margin.bottom,
        width = innerWidth - padding.left - padding.right,
        height = innerHeight - padding.top - padding.bottom;

    x_label = 'Time'
    y_label = 'Kills'
    placement_div = "div#kills"
    var x_min = 0,
        y_min = 0,
        x_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['time'])
                }))
            });
        y_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['kills'])
                }))
            });

    var x = d3.scale.linear()
        .range([0, width])
        .domain([x_min, x_max]);

    var y = d3.scale.linear()
        .range([height, 0])
        .domain([y_min, y_max]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(6)
        .tickFormat(function (d) {
            strng = String((d-d%60)/60)+':'+String(d%60)
            return strng;
        });

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var line = d3.svg.line()
        .x(function(d){
            return x(d['time'])
        })
        .y(function(d){
            return y(d['kills'])
        });


    function transition(path) {
      path.transition()
          .duration(7500)
          .attrTween("stroke-dasharray", tweenDash)
          .each("end", function() { d3.select(this).call(transition); });
    }

    function tweenDash() {
      var l = this.getTotalLength(),
          l = 510
          i = d3.interpolateString("0," + l, l + "," + l);
      return function(t) { return i(t); };
    }

    inner_svg = d3.select(placement_div).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("class", 'outer-chart')
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .attr("class", 'inner-chart')

    //Draw X
    inner_svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .append("text")
        .attr("class", "x-axis-label")
        .attr("y", -16)
        .attr("x", width)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(x_label);

    //Draw Y
    inner_svg.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(0,0)")
        .call(yAxis)
        .append("text")
        .attr("class", "y-axis-label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(y_label);

    inner_svg.selectAll('.series')
        .data(chart_json)
        .enter()
        .append('g')
        .append("svg:path")
        .attr("d", function(d){
            return(line(d['data']));})
        .style("stroke-width", 2)
        .style("stroke", function(d) {
          return(d['color']);
        })
        // .call(transition)
        // .attr('cx',function(d){
        //     return(x(d['data'][0][0]));
        // })
        // .attr('cy',function(d){
        //     return(y(d['data'][0][1]));
        // })
        // // .attr("class", function(d){
        // //     for(var key in d.classes){
        // //         d.classes[key]=convertToSlug(d.classes[key]);
        // //     }
        // //     return 'data-toggleable dataset points '+d.classes.join(' ');
        // // })
        // .attr('r', function(d){
        //     return(5);
        // })
        // .attr('stroke-width', function(d){
        //     return(1);
        // })
        // .style("fill", function(d) { return(d['color'])})
        // .style("stroke", function(d) {
        //     return('#000000')
        // })
        // .transition()
        // .ease('linear')
        // .delay(1000)
        // .duration(1000)
        // .attr('cx',function(d){
        //     return(x(d['data'][1][0]));
        // })
        // .attr('cy',function(d){
        //     return(y(d['data'][1][1]));
        // })
    }

    var data = '/assets/787900748kills.json';
    var foo = $.getJSON(data, function(data){
        chart_json = foo['responseJSON'];
        plot(chart_json)
    });

})
</script>
<script type="text/javascript">
// Side Kill Progression
$(function(){

    function plot(chart_json){

    var margin = {top: 20, right: 20, bottom: 20, left: 50},
        padding = {top: 0, right: 0, bottom: 0, left: 0},
        outerWidth = 300,
        outerHeight = 300,
        innerWidth = outerWidth - margin.left - margin.right,
        innerHeight = outerHeight - margin.top - margin.bottom,
        width = innerWidth - padding.left - padding.right,
        height = innerHeight - padding.top - padding.bottom;

    x_label = 'Time'
    y_label = 'Tower Damage'
    placement_div = "div#tower-dmg"
    var x_min = 0,
        y_min = 0,
        x_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['time'])
                }))
            });
        y_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['dmg'])
                }))
            });

    var x = d3.scale.linear()
        .range([0, width])
        .domain([x_min, x_max]);

    var y = d3.scale.linear()
        .range([height, 0])
        .domain([y_min, y_max]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(6)
        .tickFormat(function (d) {
            strng = String((d-d%60)/60)+':'+String(d%60)
            return strng;
        });

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var line = d3.svg.line()
        .x(function(d){
            return x(d['time'])
        })
        .y(function(d){
            return y(d['dmg'])
        });


    function transition(path) {
      path.transition()
          .duration(7500)
          .attrTween("stroke-dasharray", tweenDash)
          .each("end", function() { d3.select(this).call(transition); });
    }

    function tweenDash() {
      var l = this.getTotalLength(),
        l = 510
          i = d3.interpolateString("0," + l, l + "," + l);
      return function(t) { return i(t); };
    }

    inner_svg = d3.select(placement_div).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("class", 'outer-chart')
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .attr("class", 'inner-chart')

    //Draw X
    inner_svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .append("text")
        .attr("class", "x-axis-label")
        .attr("y", -16)
        .attr("x", width)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(x_label);

    //Draw Y
    inner_svg.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(0,0)")
        .call(yAxis)
        .append("text")
        .attr("class", "y-axis-label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(y_label);

    inner_svg.selectAll('.series')
        .data(chart_json)
        .enter()
        .append('g')
        .append("svg:path")
        .attr("d", function(d){
            return(line(d['data']));})
        .style("stroke-width", 2)
        .style("stroke", function(d) {
          return(d['color']);
        })
        // .call(transition)
        // .attr('cx',function(d){
        //     return(x(d['data'][0][0]));
        // })
        // .attr('cy',function(d){
        //     return(y(d['data'][0][1]));
        // })
        // // .attr("class", function(d){
        // //     for(var key in d.classes){
        // //         d.classes[key]=convertToSlug(d.classes[key]);
        // //     }
        // //     return 'data-toggleable dataset points '+d.classes.join(' ');
        // // })
        // .attr('r', function(d){
        //     return(5);
        // })
        // .attr('stroke-width', function(d){
        //     return(1);
        // })
        // .style("fill", function(d) { return(d['color'])})
        // .style("stroke", function(d) {
        //     return('#000000')
        // })
        // .transition()
        // .ease('linear')
        // .delay(1000)
        // .duration(1000)
        // .attr('cx',function(d){
        //     return(x(d['data'][1][0]));
        // })
        // .attr('cy',function(d){
        //     return(y(d['data'][1][1]));
        // })
    }

    var data = '/assets/787900748towers.json';
    var foo = $.getJSON(data, function(data){
        chart_json = foo['responseJSON'];
        plot(chart_json)
    });

})
</script>
<script type="text/javascript">
// Kill Dmg Scatter
var chart_json
$(function(){

    function plot(chart_json){
    var margin = {top: 20, right: 20, bottom: 20, left: 50},
        padding = {top: 0, right: 0, bottom: 0, left: 0},
        outerWidth = 300,
        outerHeight = 300,
        innerWidth = outerWidth - margin.left - margin.right,
        innerHeight = outerHeight - margin.top - margin.bottom;
        width = innerWidth - padding.left - padding.right,
        height = innerHeight - padding.top - padding.bottom;

    var x_label = 'Kills'
    var y_label = 'Hero Damage'
    var placement_div = "div#dealt_dmg-kill"
    var transitionDelay = 500
    var x_min = 0,
        y_min = 0,
        x_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['kills'])
                }))
            });
        y_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['dmg_dealt'])
                }))
            });

    var x = d3.scale.linear()
        .range([0, width])
        .domain([x_min, x_max]);

    var y = d3.scale.linear()
        .range([height, 0])
        .domain([y_min, y_max]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(6)

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var line = d3.svg.line()
        .x(function(d){
            return x(d['time'])
        })
        .y(function(d){
            return y(d['dmg'])
        });



    inner_svg = d3.select(placement_div).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("class", 'outer-chart')
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .attr("class", 'inner-chart')

    //Draw X
    inner_svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .append("text")
        .attr("class", "x-axis-label")
        .attr("y", -16)
        .attr("x", width)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(x_label);

    //Draw Y
    inner_svg.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(0,0)")
        .call(yAxis)
        .append("text")
        .attr("class", "y-axis-label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(y_label);

    inner_svg.selectAll('.series')
        .data(chart_json)
        .enter()
        .append('circle')
        .attr('cx',function(d){
            return(x(d['data'][0]['kills']));
        })
        .attr('cy',function(d){
            return(y(d['data'][0]['dmg_dealt']));
        })
        .attr('r', function(d){
            return(5);
        })
        .attr('stroke-width', function(d){
            return(1);
        })
        .style("fill", function(d) { return('#FFFFFF')})
        .style("stroke", function(d) {
            return('#000000')
        })

        var idx = 1
        var duration = 100
        var max_len = console.log(chart_json[0]['data'].length)
        var myhandle = setInterval(function() {
            if(idx>max_len){clearInterval(myhandle)}
             d3.selectAll(placement_div+' circle')
            .transition()
            .ease('linear')
            .duration(duration)
            .attr('cx',function(d){
                return(x(d['data'][idx]['kills']));
            })
            .attr('cy',function(d){
                return(y(d['data'][idx]['dmg_dealt']));
            })
            idx +=1
        }, duration);
    }

    var data = '/assets/787900748kill_dmg.json';
    var foo = $.getJSON(data, function(data){
        var chart_json = foo['responseJSON'];
        plot(chart_json);
    });

})
</script>
<script type="text/javascript">
// Death Taken Scatter
$(function(){
    function plot(chart_json){
    var margin = {top: 20, right: 20, bottom: 20, left: 50},
        padding = {top: 0, right: 0, bottom: 0, left: 0},
        outerWidth = 300,
        outerHeight = 300,
        innerWidth = outerWidth - margin.left - margin.right,
        innerHeight = outerHeight - margin.top - margin.bottom;
        width = innerWidth - padding.left - padding.right,
        height = innerHeight - padding.top - padding.bottom;

    x_label = 'Deaths'
    y_label = 'Damage Taken'
    placement_div = "div#taken_dmg-deaths"
    transitionDelay = 500
    var x_min = 0,
        y_min = 0,
        x_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['deaths'])
                }))
            });
        y_max = d3.max(
            chart_json,
            function(d){
                return(d3.max(d['data'], function(p){
                    return(p['dmg_taken'])
                }))
            });

    var x = d3.scale.linear()
        .range([0, width])
        .domain([x_min, x_max]);

    var y = d3.scale.linear()
        .range([height, 0])
        .domain([y_min, y_max]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(6)

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");


    inner_svg = d3.select(placement_div).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("class", 'outer-chart')
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .attr("class", 'inner-chart')

    //Draw X
    inner_svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .append("text")
        .attr("class", "x-axis-label")
        .attr("y", -16)
        .attr("x", width)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(x_label);

    //Draw Y
    inner_svg.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(0,0)")
        .call(yAxis)
        .append("text")
        .attr("class", "y-axis-label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(y_label);

    inner_svg.selectAll('.series')
        .data(chart_json)
        .enter()
        .append('circle')
        .attr('cx',function(d){
            return(x(d['data'][0]['deaths']));
        })
        .attr('cy',function(d){
            return(y(d['data'][0]['dmg_taken']));
        })
        .attr('r', function(d){
            return(5);
        })
        .attr('stroke-width', function(d){
            return(1);
        })
        .style("fill", function(d) { return('#FFFFFF')})
        .style("stroke", function(d) {
            return('#000000')
        })

        var duration = 100
        var max_len = console.log(chart_json[0]['data'].length)
        var myhandle =  setInterval(function() {
            if(idx>=max_len){clearInterval(myhandle)}
             d3.selectAll(placement_div+' circle')
            .transition()
            .ease('linear')
            .duration(duration)
            .attr('cx',function(d){
                return(x(d['data'][idx]['deaths']));
            })
            .attr('cy',function(d){
                return(y(d['data'][idx]['dmg_taken']));
            })
            idx +=1
        }, duration);

        var idx = 1
    }

    var data = '/assets/787900748death_dmg.json';
    var foo = $.getJSON(data, function(data){
        var chart_json = foo['responseJSON'];
        plot(chart_json);
    });

})
</script>
{% endblock extra_js %}

{% block extra_css %}
    <style type="text/css">
    path{
        fill: none;
    }
    </style>
{% endblock extra_css %}

