{% extends "matches/base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block page_title %}Match #{{ match.steam_id }}
<small>  {{ match.game_mode.description }} {{ match.lobby_type.description }},
    {{ match.hms_duration }} @ {{ match.hms_start_time }}</small>
    {% if match.league.leaguedossier %}
      <br>
      <small>Tournament:
      {% if match.league.leaguedossier.tournament_url %}
        <a href="{{match.league.leaguedossier.tournament_url}}">{{match.league.leaguedossier.display_name}}</a>
      {% else %}
        {{match.league.leaguedossier.display_name}}
      {% endif %}</small>
    {% endif %}
    {% endblock page_title %}

{% block content %}

  {% include "matches/_match_cards.html" %}

    <div class='container'>
        <div class='row' id='buttons'>
            <h2>Animation (times approximate):</h2>
            <div class='col-md-1'>
                <button id='stop-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">Stop</button>
            </div>
            <div class='col-md-1'>
                <button id='start-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">Start</button>
            </div>
            <div class='col-md-1'>
                <button id='back-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">
                    <span  class="info glyphicon glyphicon-backward">
                </button>
            </div>
            <div class='col-md-1'>
                <button id='forward-animation' type="button" class="btn btn-primary btn-lg btn-block animation-button">
                    <span  class="info glyphicon glyphicon-forward">
                </button>
            </div>
            <div class='col-md-2'>
                <input style='margin-top:5px' id='time-display' class='form-control' type='text' placeholder='Replay Time' readonly>
            </div>

            <div class='col-md-4 col-md-offset-1' id='related-match'>
                <a href="{%url 'matches:match_detail' match_id=match.steam_id%}"><button id='start-animation' type="button" class="btn btn-primary btn-lg btn-block">Match Summary</button></a>

            </div>
        </div>
        <div class='row' id='side-charts'>
            <div class='col-md-4' id='kills'>
                <h4>Hero Kills <span  class="info glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Kills by team, from combat log.  Times are replay time, so the flat stretch is drafting.  Counts times hero health hits 0, so there is some overcounting (aegis)." data-placement="right"></span></h4>

            </div>
            <div class='col-md-4' id='tower-dmg'>
                <h4>Tower Damage <span  class="info glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Cumulative building damage by side.  Times are replay time, so the flat stretch is drafting." data-placement="right"></span></h4>

            </div>

             <div class='col-md-4' id='side-last-hits'>
                <h4>Last Hits <span  class="info glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Last hits on the neutrals list or opposing side creeps.  Not a perfect map to the reported last hits number yet." data-placement="right"></span></h4>
            </div>

        </div>
        <div class='row' id='hero-charts'>

            <div class='col-md-4' id='dealt_dmg-kill'>
                <h4>Hero Damage vs Kills <span  class="info glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Kills vs hero damage dealing by player, from the combat log.  (Due to weird underlying data, this damage is different from endgame damage; reductions etc make the numbers slightly different.)" data-placement="right"></span></h4>
            </div>
            <div class='col-md-4' id='taken_dmg-deaths'>
                <h4>Damage Taken vs Deaths <span  class="info glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Deaths vs damage taken from heroes, from combat log." data-placement="right"></span></h4>
            </div>
            <div class='col-md-4' id='lasthits-lvls'>
                <h4>Last Hits vs Levels <span  class="info glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Hero last hits on the neutrals list or opposing side creeps.  Not a perfect map to the reported last hits number yet." data-placement="right"></span></h4>
            </div>

        </div>
        <div class='row'>
            <div class='col-md-6 col-md-offset-3' id='note'>
                <p>Note: This is alpha tech.  There are some known issues (the way kills are counted cannot detect resurrections, the last hit set is not quite right, the charts desync after a while) but the gist is here.</p>
            </div>
        </div>

    </div>{% endblock content %}

{% block extra_js %}


<script type="text/javascript">

$(function(){
    $('#stop-animation').toggle()

    var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


    // Side Towers
    var data = '{% static side_towers %}';
    var side_towers = $.getJSON(data, function(data){
        chart_json = side_towers['responseJSON'];
        window.d3ening.side_progess_plot(
            chart_json,
            x_var='time',
            x_label='Time',
            y_var='dmg',
            y_label='Tower Damage',
            placement_div="div#tower-dmg",
            margin={top: 20, right: 20, bottom: 20, left: 50},
            slider_name='tower-slider',
            autostart=false,
            button_controller=true
        )
    });

    // Side Kills
    var data = '{% static side_kills %}';
    var side_kills = $.getJSON(data, function(data){
        chart_json = side_kills['responseJSON'];
        window.d3ening.side_progess_plot(
            chart_json,
            x_var='time',
            x_label='Time',
            y_var='kills',
            y_label='Kills',
            placement_div="div#kills",
            margin={top: 20, right: 20, bottom: 20, left: 30},
            slider_name='dmg-slider'
        )
    });

    //Side Creeps
    var data = '{% static side_creeps %}';
    var side_creeps = $.getJSON(data, function(data){
        chart_json = side_creeps['responseJSON'];
        window.d3ening.side_progess_plot(
            chart_json,
            x_var='time',
            x_label='Time',
            y_var='creep_kills',
            y_label='Creep Kills',
            placement_div="div#side-last-hits",
            margin={top: 20, right: 20, bottom: 20, left: 40},
            slider_name='creep-slider'
        )
    });

    //Hero Kills
    var data = '{% static hero_kills %}';
    var hero_kills = $.getJSON(data, function(data){
        chart_json = hero_kills['responseJSON'];
        window.d3ening.hero_dot_plot(
            chart_json,
            margin={top: 20, right: 20, bottom: 20, left: 50},
            x_var='kills',
            x_label='Kills',
            y_var='dmg_dealt',
            y_label='Hero Damage',
            placement_div="div#dealt_dmg-kill"
        )
    });

    //Hero Deaths
    var data = '{% static hero_deaths %}';
    var hero_deaths = $.getJSON(data, function(data){
        chart_json = hero_deaths['responseJSON'];
        window.d3ening.hero_dot_plot(
            chart_json,
            margin={top: 20, right: 20, bottom: 20, left: 50},
            x_var='deaths',
            x_label='Deaths',
            y_var='dmg_taken',
            y_label='Damage Taken',
            placement_div="div#taken_dmg-deaths"

        )
    });

    //Hero Deaths
    var data = '{% static hero_creeps %}';
    var hero_creeps = $.getJSON(data, function(data){
        chart_json = hero_creeps['responseJSON'];
        window.d3ening.hero_dot_plot(
            chart_json,
            margin={top: 20, right: 20, bottom: 20, left: 50},
            x_var='creep_kills',
            x_label='Creep Kills',
            y_var='level',
            y_label='Level',
            placement_div="div#lasthits-lvls"
        )
    });



})
</script>

{% endblock extra_js %}

{% block extra_css %}
    <style type="text/css">
    {% for key, value in css_color_dict.iteritems %}
        .{{key}} {
            fill: {{value}};
        }
    {% endfor %}
    {% for key, value in slot_dict.iteritems %}
        .player-slot-{{key}} {
             box-shadow: 0 0 25.5px {{value}};
        }
    {% endfor %}
    path{
        fill: none;
    }
    .animation-button{
        height:45px;
    }
    </style>
{% endblock extra_css %}

