{% extends "row_base.html" %}

{% load staticfiles player_extras %}

{% block title %}
  Performance Summary
{% endblock title %}


{% block aligned_content %}

  <div class='col-md-12'>
    {% include "matches/_density_advice.html" %}
  </div>
  <div class='col-md-12'>
    <h4>Controls</h4>
    <form>
    <div class='row'>
      <div class='col-md-3'>
          <div class="form-group">
          <label>Match IDs</label>
              <select id='shards' multiple='multiple' style='width:200px'></select>
          </div>
      </div>
      <div class='col-md-3'>
          <div class="form-group">
          <label>Labels (Comma separated)</label>
              <input type="textarea" class="form-control" id="labels" placeholder="(ex 'My Pudge, Dendi Pudge, Friend Pudge')">
          </div>
      </div>
      <div class='col-md-2'>
        <div class="form-group">
          <label >Start Time</label>
          <input type="textarea" class="form-control" id="start_time" placeholder="Start Time (eg 12:41)">
        </div>
      </div>

      <div class='col-md-2'>
        <div class="form-group">
          <label >End Time</label>
          <input type="textarea" class="form-control" id="end_time" placeholder="End Time (eg 23:10)">
        </div>
      </div>

      <div class='col-md-2'>
        <div class="form-group">
          <label >Sample Freq (s)</label>
          <input type="textarea" class="form-control" id="granularity" placeholder="Sample rate (eg 10)" value="30">
        </div>
      </div>


      <div class='col-md-3' style='margin-top:10px'>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button id='chart-button' type="button" class="btn btn-primary">
              Chart! <i class="fa fa-line-chart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>

  <div id='overview' class='col-md-12' height='900px'>


    <div class='row'>

      <div id='inventory' class='col-md-6'>
        <div class='page-header'>
          <h2>Item inventory</h2>
        </div>
        <label></label>
        <div id='target' class='chart'></div>
      </div>

      <div id='position'  class='col-md-6'>
        <div class='page-header'><h2>Position Heatmap</h2></div>
        <label></label>
        <div class='minimap-chart'></div>
        <div class='legend'></div>
      </div>

    </div>


  </div>

  <div id='kda-dash' class='col-md-4' height='900px'>

    <div class='row'>
        <div class='page-header'>
          <h2>KDA</h2>
        </div>

        <div class='col-md-12 vert-md-4' id='kills'>
        </div>

        <div class='col-md-12 vert-md-4' id='deaths'>
        </div>

        <div class='col-md-12 vert-md-4' id='assists'>
        </div>
    </div>

  </div>

  <div id='income-dash' class='col-md-4' height='900px'>

    <div class='row'>
        <div class='page-header'>
          <h2>Gold</h2>
        </div>

        <div class='col-md-12 vert-md-4' id='earned_income'>
        </div>

        <div class='col-md-12 vert-md-4' id='creep_kill_income'>
        </div>

        <div class='col-md-12 vert-md-4' id='hero_kill_income'>
        </div>
    </div>

  </div>

  <div id='misc-dash' class='col-md-4' height='900px'>

    <div class='row'>
        <div class='page-header'>
          <h2>Misc</h2>
        </div>

        <div class='col-md-12 vert-md-4' id='health'>
        </div>

        <div class='col-md-12 vert-md-4' id='mana'>
        </div>

        <div class='col-md-12 vert-md-4' id='total_damage'>
        </div>
    </div>

  </div>


  <div class='col-md-12'>
  <h2>Want to see your data here?</h2>
    {% include "accounts/mixins/_ping_request.html" %}
  </div>

<style type="text/css">
  .select2-result-pms__avatar{
    height:36px;
    width:64px;
  }
  .select2-result-pms__title{
    color: black;
  }
  .legendtext{
    fill: black;
  }
/*  .col-md-2, .col-md-3, .col-md-4{
    border: red solid 5px;
  }
*/</style>
{% endblock aligned_content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
  inputs.pms_select2('#shards', true);

  var match_id = window.jsUtils.getParameterByName('match_id');
  if(match_id!==undefined){
    $.getJSON('/rest-api/parse-shards/?match_id='+match_id)
      .success(function(shards){
        var slices = window.jsUtils.getParameterByName('pmses').split(',')
          var url_shards = shards.filter(function(shard){
            return slices.includes(shard.dataslice);
          })
        var params = {
          granularity: 30,
        };
        draw(url_shards, params);
      });
  }

  $('#chart-button').click(function(){

    var shards = $('#shards').select2('data');
    var labels = $('#labels').val();
    draw(shards, params);
  })

  var draw = function(shards, params){
    var shardfacets = shards.map(function(d){
      return [d, 'kills', 'statelog']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#kills', params, 'Kills'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'deaths', 'statelog']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#deaths', params, 'Deaths'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'assists', 'statelog']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#assists', params, 'Assists'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'earned_income', 'combatseries']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#earned_income', params, 'Earned Gold'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'creep_kill_income', 'combatseries']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#creep_kill_income', params, 'Creep Kill Gold'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'hero_kill_income', 'combatseries']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#hero_kill_income', params, 'Hero Kill Gold'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'health', 'statelog']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#health', params, 'Health'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'mana', 'statelog']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#mana', params, 'Mana'
        );

    var shardfacets = shards.map(function(d){
      return [d, 'total_damage', 'statelog']
    });
    d7.extensions.charts.replays.multifacet_lineup(
        shardfacets, '#total_damage', params, 'Total Damage'
        );

    d7.extensions.charts.replays.item_inventory(
        shards, '#inventory', shards.map(function(d){
          return d.name
        })
        );

    d7.extensions.charts.replays.position_heatmap(
        shards, '#position', params
        );
  }
});
</script>
{% endblock extra_js %}
