{% extends "row_base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block page_title %}
    {% include "matches/_match_header_card.html" %}
{% endblock page_title %}

{% block content %}
    <div class='container'>
        <div class='col-md-12' id='charts'>
            <h4>charts</h4>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
var replay;
var gold;
var time_idx = 0;
$(function(){

    Promise.resolve(
        $.ajax({
            url: '{{match.compressed_replay.url}}',
            dataType: 'json',
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                if (XMLHttpRequest.status == 0) {
                  console.log(' Check Your Network.');
                } else if (XMLHttpRequest.status == 404) {
                  console.log('Requested URL not found.');
                } else if (XMLHttpRequest.status == 500) {
                  console.log('Internel Server Error.');
                }  else {
                   console.log('Unknow Error.\n' + XMLHttpRequest.responseText);
                }
            }
        })
    ).then(function(data){
        console.log("{{match.compressed_replay.url}}")
        replay = data;
    }).catch(function(jqXhr, err, errStr){
        // console.log('Error :(');
        // console.log(jqXhr);
        // console.log(jqXhr.responseText);
        // console.log(jqXhr.status);
        // console.log(jqXhr.statusText);
        // console.log(jqXhr.statusCode());
    })

})
</script>
{% endblock extra_js %}

{% block extra_css %}
{% endblock extra_css %}

