{% extends "row_base.html" %}
{% load staticfiles player_extras %}

{% block aligned_content %}
<div class='col-md-12'>
  <div class='row'>
    {% for summary in match.radiant.all %}
    <div class='col-md-2 col-xs-6' id='slot-{{summary.player_slot}}'>
      <img class='ajax-loader' style='margin-top:40px;' src="{% static 'images/loading.gif' %}">
    </div>
    {% endfor %}
  </div>

  <div class='row'>
    {% for summary in match.dire.all %}
    <div class='col-md-2 col-xs-6' id='slot-{{summary.player_slot}}'>
      <img class='ajax-loader' style='margin-top:40px;' src="{% static 'images/loading.gif' %}">
    </div>
    {% endfor %}
  </div>

  <div class='col-md-6' id='minimap'>
    <div class='minimap-chart'></div>
  </div>

  <div class='row'>
    {% for summary in match.dire.all %}
    <div class='col-md-2' id='slot-{{summary.player_slot}}'>
      <img class='ajax-loader' style='margin-top:40px;' src="{% static 'images/loading.gif' %}">
    </div>
    {% endfor %}
  </div>

  <div class='col-md-6' id='minimap'>
    <label></label>
    <div class='chart vert-md-6'></div>
  </div>
</div>
{% endblock aligned_content %}

{% block extra_js %}
<script type="text/javascript">
  $(function(){
    var params = {
      granularity: 30,
    };

    var unwrapped_shards = [];

    var urls = [
    {% for summary in match.playermatchsummary_set.all %}
    '/rest-api/parse-shards/?pms_ids=['+{{summary.id}}+']',
    {% endfor %}
    ];

    var positions = [
    {% for summary in match.playermatchsummary_set.all %}
    '#slot-{{summary.player_slot}}',
    {% endfor %}
    ];

    Promise.all(
        urls.map(function(url){
          return $.getJSON(url);
        })
    )
    .then(function(shards){
      shards.map(function(shard, i){
        shard = shard[0];
        d7.extensions.charts.replays.stat_card(
            shard, positions[i], params
            );
        unwrapped_shards.push(shard);
      });
      d7.extensions.charts.replays.playback_shards(unwrapped_shards);
      d7.extensions.charts.replays.minimap(unwrapped_shards, '#minimap', params);
    }).catch(function(e){
      console.log(e);
    });

    $('#pause-play').click(function(){
      $('#chart-button').toggle();
    });
  });
</script>
{% endblock extra_js %}
