{% extends "row_base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{match.steam_id}}{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block content %}
  <div class='col-md-6'>
      <h4>Controls</h4>
      <form>
      <div class='row'>
          <div class='col-md-3'>
              <label id='radiant'>Radiant</label>
              <div class="form-group" id='radiant'>
                  {% for pms in match.playermatchsummary_set.all %}
                    {% if pms.is_radiant %}

                      <div class="checkbox">
                          <label><input type='checkbox' value='{{pms.slot_sequence}}' checked=""> {{pms.hero.name}}</label>
                      </div>

                    {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class='col-md-3'>
              <label id='dire'>Dire</label>
              <div class="form-group" id='dire'>
                  {% for pms in match.playermatchsummary_set.all %}
                    {% if pms.is_dire %}

                      <div class="checkbox">
                          <label><input type='checkbox' value='{{pms.slot_sequence}}' checked=""> {{pms.hero.name}}</label>
                      </div>

                    {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class='col-md-6'>
              <div class='row'>
                  <div class='col-md-12'>
                      <div class="form-group">
                        <label>Roll-up</label>
                        <select class="form-control" id='rollup'>
                          <option value='player'>Player</option>
                          <option value='side'>Side</option>
                          <option value='match'>Match</option>
                        </select>
                      </div>
                  </div>
                  <div class='col-md-12'>
                      <div class="form-group">
                      <label>Data</label>
                      <select class="form-control" id='data'>
                        <optgroup label='Killing'>
                          <option value='kills'>
                            Kills
                          </option>
                          <option value='deaths'>
                            Deaths
                          </option>
                          <option value='last_hits'>
                            Last Hits
                          </option>
                        </optgroup>
                        <optgroup label='Damage'>
                          <option value='hero_dmg_dealt'>
                            Hero Dmg Dealt
                          </option>
                          <option value='hero_dmg_taken'>
                            Hero Dmg Taken
                          </option>
                          <option value='other_dmg_dealt'>
                            Other Dmg Dealt
                          </option>
                          <option value='other_dmg_taken'>
                            Other Dmg Taken
                          </option>
                        </optgroup>
                        <optgroup label='Gold'>
                          <option value='earned_gold'>
                            Earned Gold
                          </option>
                          <option value='all_gold'>
                            All Gold
                          </option>
                          <option value='building_income'>
                            Gold from Buildings
                          </option>
                          <option value='buyback_expense'>
                            Gold Spent on Buyback
                          </option>
                          <option value='courier_kill_income'>
                            Gold from Courier Kills
                          </option>
                          <option value='creep_kill_income'>
                            Gold from Creep Kills
                          </option>
                          <option value='death_expense'>
                            Gold Lost Dying
                          </option>
                          <option value='hero_kill_income'>
                            Gold From Killing Heroes
                          </option>
                          <option value='roshan_kill_income'>
                            Gold From Killing Roshan
                          </option>
                        </optgroup>
                        <optgroup label='Experience'>
                          <option value='xp'>
                            All Experience
                          </option>
                          <option value='hero_xp'>
                            Hero Experience
                          </option>
                          <option value='creep_xp'>
                            Creep Experience
                          </option>
                          <option value='roshan_xp'>
                            Roshan Experience
                          </option>
                        </optgroup>
                        <option value='healing'>
                          Healing
                        </option>
                      </select>
                      </div>
                  </div>
                  <div class='col-md-12'>
                      <div class="form-group">
                          <label >Start Time</label>
                          <input type="textarea" class="form-control" id="start_time" placeholder="Start Time (eg 12:41)">
                      </div>
                  </div>
                  <div class='col-md-12'>
                      <div class="form-group">
                          <label >End Time</label>
                          <input type="textarea" text='7' class="form-control" id="end_time" placeholder="End Time (eg 23:10)">
                      </div>
                  </div>
                  <div class='col-md-12'>
                      <div class="form-group">
                          <label >Chart Position</label>
                          <select class="form-control" id='destination'>
                            <option value='top'>Top</option>
                            <option value='middle'>Middle</option>
                            <option value='bottom'>Bottom</option>
                          </select>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class='col-md-12' style='margin-top:10px'>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button id='draw' type="button" class="btn btn-default">
                Chart! <i class="fa fa-line-chart"></i>
              </button>
              <h2 style='margin-top:50px'>Note:</h2>
              <p>
              Not all of our metric match the official ones right now, ex for hero damage.  We are working on tying out the discrepancies.
              </p>

            </div>
           </div>
      </div>
  </form>
  </div>

  <div class='col-md-6'>
      <div id='top'>
        <label></label>
        <div id='top' class='vert-md-6 chart toggling'>
        </div>
      </div>

      <div id='middle'>
        <label></label>
        <div class='vert-md-3 chart toggling'>
        </div>
      </div>

      <div id='bottom'>
      <label></label>
      <div class='vert-md-3 chart toggling'>
      </div>
      </div>
    </div>

<div class='col-md-12'>
<h2>Want to see your data here?</h2>
  {% include "accounts/mixins/_ping_request.html" %}
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){

    $("label#radiant").click(function() {
        var checkBoxes = $("div#radiant input");
        checkBoxes.prop("checked", !checkBoxes.prop("checked"));
    });
    $("label#dire").click(function() {
        var checkBoxes = $("div#dire input");
        checkBoxes.prop("checked", !checkBoxes.prop("checked"));
    });
    d7.extensions.charts.pms_shards.special_shard_lineup(
      {{match.steam_id}}
    );
    d7.extensions.utils.visuals.toggle_sides()

});


</script>
{% endblock extra_js %}

{% block extra_css %}
{% endblock extra_css %}

