{% extends "row_base.html" %}

{% load staticfiles player_extras %}

{% block title %}Match #{{ match.steam_id }}{% endblock title %}

{% block page_title %}
    {% include "matches/_match_header_card.html" %}
{% endblock page_title %}

{% block content %}
    <div class='container'>
        <div class='col-md-4'>
            <h4>Chart</h4>
            <div id='test_chart' class='vert-md-4 chart'>
              <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){

    $.ajax({
        url: "",
        dataType: "json",
    })


    // Do promise magic
    var ids = [8819, 8820, 8821, 8822, 8823, 8824, 8825, 8826, 8827, 8828];

    d7.extensions.charts.pms_shards.shard_lineup(
        ids,
        d7.extensions.utils.filter.kills,
        d7.extensions.utils.map.count,
        d7.extensions.utils.reshape.noop,
        d7.extensions.components.axes.offset_time,
        d7.extensions.components.axes.cumsum,
        '#test_chart'
    );

})


</script>
{% endblock extra_js %}

{% block extra_css %}
{% endblock extra_css %}

