{% extends "row_base.html" %}

{% load staticfiles player_extras %}

{% block title %}Time Lapse{% endblock title %}

{% block aligned_content %}
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>
        Time Lapse
      </h2>
    </div>
    <p>See data down to the second from <a href="{% url 'matches:parsed_index' %}">parsed</a> matches.</p>
  </div>

  <div class='col-md-12'>
    {% include "matches/_density_advice.html" %}
  </div>

  {% include "mixins/_match_form.html" %}

  <div class='col-md-6'>
      <h4>Controls</h4>
      <form>
      <div class='row'>
          <div class='col-md-12'>
            <div class="form-group">
              <label>
                Data
                <i class="fa fa-asterisk required" aria-hidden="true"></i>
              </label>
              <select class="form-control" id='data'>
                <optgroup label='Hero Attributes'>
                  <option value='agility'>
                          Agility
                  </option>
                  <option value='agility_total'>
                          Agility Total
                  </option>
                  <option value='strength'>
                          Strength
                  </option>
                  <option value='strength_total'>
                          Strength Total
                  </option>
                  <option value='intelligence'>
                          Intelligence
                  </option>
                  <option value='intelligence_total'>
                          Intelligence Total
                  </option>
                  <option value='armor'>
                          Armor
                  </option>
                  <option value='base_damage'>
                          Base Damage
                  </option>
                  <option value='bonus_damage'>
                          Bonus Damage
                  </option>
                  <option value='total_damage'>
                          Total Damage
                  </option>
                  <option value='health'>
                          Health
                  </option>
                  <option value='max_health'>
                          Max Health
                  </option>
                  <option value='pct_health'>
                          Percent Health
                  </option>
                  <option value='mana'>
                          Mana
                  </option>
                  <option value='max_mana'>
                          Max Mana
                  </option>
                  <option value='pct_mana'>
                          Percent Mana
                  </option>
                </optgroup>
                <optgroup label='Combat'>
                  <option value='kills'>
                          Kills
                  </option>
                  <option value='deaths'>
                          Deaths
                  </option>
                  <option value='assists'>
                          Assists
                  </option>
                  <option value='last_hits'>
                          Last Hits
                  </option>
                  <option value='denies'>
                          Denies
                  </option>
                  <option value='misses'>
                          Misses
                  </option>
                  <option value='healing'>
                          Healing
                  </option>
                  <option value='roshan_kills'>
                          Roshan Kills
                  </option>
                  <option value='nearby_creep_deaths'>
                          Nearby Creep Deaths
                  </option>
                  <option value='tower_kills'>
                          Tower Kills
                  </option>
                  <option value='hero_dmg_dealt'>
                          Hero Damage Dealt
                  </option>
                  <option value='hero_dmg_taken'>
                          Hero Damage Taken
                  </option>
                  <option value='other_dmg_taken'>
                          Other Damage Taken
                  </option>
                  <option value='other_dmg_dealt'>
                          Other Damage Dealt
                  </option>
                  <option value='key_bldg_dmg_dealt'>
                          Key Building Damage Dealt
                  </option>
                </optgroup>
                <optgroup label='Gold and XP'>
                  <option value='total_earned_gold'>
                          Total Earned Gold
                  </option>
                  <option value='creep_kill_gold'>
                          Creep Kill Gold
                  </option>
                  <option value='hero_kill_gold'>
                          Hero Kill Gold
                  </option>
                  <option value='income_gold'>
                          Income Gold
                  </option>
                  <option value='shared_gold'>
                          Shared Gold
                  </option>
                  <option value='reliable_gold'>
                          Reliable Gold
                  </option>
                  <option value='unreliable_gold'>
                          Unreliable Gold
                  </option>
                  <option value='buyback_expense'>
                          Buyback Gold Lost
                  </option>
                  <option value='death_expense'>
                          Death Gold Lost
                  </option>
                  <option value='xp'>
                          All Xp
                  </option>
                  <option value='creep_xp'>
                          Creep XP
                  </option>
                  <option value='hero_xp'>
                          Hero XP
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class='col-md-7'>
            <div class="form-group">
              <label>
              Match IDs
                <i class="fa fa-asterisk required" aria-hidden="true"></i>
              </label>
              <select id='shards' multiple='multiple' style='width:100%'></select>
            </div>
            <div class="form-group">
              <label>Labels</label>
                <input type="textarea" class="form-control" id="labels" placeholder="(comma-separated, ex 'Fast Midas,Fast Radiance')">
            </div>
          </div>
          <div class='col-md-5'>
            <div style='margin-top:20px'>
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#match-select">
                Find Matches
              </button>
              <ul id="filtered-matches" class="list-unstyled">
              </ul>
            </div>
          </div>


          <div class='col-md-12'>
            <div class="form-group">
              <label >Start Time</label>
              <input type="textarea" class="form-control" id="start_time" placeholder="Start Time (eg 12:41)">
            </div>
          </div>

          <div class='col-md-12'>
            <div class="form-group">
              <label >End Time</label>
              <input type="textarea" class="form-control" id="end_time" placeholder="End Time (eg 23:10)">
            </div>
          </div>

          <div class='col-md-12'>
            <div class="form-group">
              <label >Chart Position</label>
              <select class="form-control" id='destination'>
                <option value='top'>Top</option>
                <option value='middle'>Middle</option>
                <option value='bottom'>Bottom</option>
              </select>
            </div>
          </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button id='chart-button' type="button" class="btn btn-primary btn-lg">
                  Chart! <i class="fa fa-line-chart"></i>
                </button>
              </div>
            </div>
        </div>
      </div>
  </form>
  </div>


  <div class='col-md-6'>
    <div id='top' class='vert-md-6'>
    </div>

    <div id='middle' class='vert-md-3'>
    </div>

    <div id='bottom'  class='vert-md-3'>
    </div>
  </div>

<div class='col-md-12'>
  {% include "accounts/mixins/_login_convert.html" %}
</div>
{% endblock aligned_content %}

{% block extra_js %}
<script src="{% static 'js/match-select.js' %}"></script>
<script type="text/javascript">
  $(function(){
    inputs.pms_select2('#shards', true);

    $('#chart-button').click(function(){
      var shards = $('#shards').select2('data');
      var destination = '#'+$('#destination :selected').val();
      var facet = $('#data :selected').val();
      var labels = $('#labels').val().split(',');

      var params = {
        end_time: $('#end_time').val(),
        start_time: $('#start_time').val(),
      };

      shards.map(function(d, i){
        d.name = labels[i] ? labels[i] : d.name;
      })
      var combatlog_flag = [
        'buyback_expense',
        'creep_xp',
        'death_expense',
        'hero_dmg_dealt',
        'hero_dmg_taken',
        'hero_xp',
        'key_bldg_dmg_dealt',
        'other_dmg_dealt',
        'other_dmg_taken',
        'reliable_gold',
        'shared_gold',
        'unreliable_gold',
      ].indexOf(facet);
      console.log(combatlog_flag, facet);
      if(combatlog_flag===-1){
        d7.extensions.charts.replays.stat_lineup(
          shards,
          facet,
          destination,
          params,
          'statelog'
        );
        console.log('a');
      }else{
        console.log('b');
          d7.extensions.charts.replays.stat_lineup(
          shards,
          facet,
          destination,
          params,
          'combatseries'
        );
      }
    });
  });
</script>
{% endblock extra_js %}

{% block extra_css %}
<style type="text/css">
  .select2-result-pms__avatar{
    height:36px;
    width:64px;
  }
  .select2-result-pms__title{
    color: black;
  }
  .required{
    color:#D42E34;
  }
</style>
{% endblock extra_css %}
