<div class="modal fade" role="dialog" id="match-select">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" method="get" action=".">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Select a match</h4>
        </div>
        <div class="modal-body">
          <p>
          Just fill in anything you know, and we'll give you back a list to choose from.
          </p>
          <div class="form-group">
            <label for="player" class="col-sm-2 control-label">Player:</label>
            <div class="col-sm-10">
              <input id="player" name="player" type="text" class="form-control" placeholder="player ID">
            </div>
          </div>
          <div class="form-group">
            <label for="hero" class="col-sm-2 control-label">as Hero:</label>
            <div class="col-sm-10">
              <select id="hero" name="hero" class="form-control"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="start_date" class="col-sm-2 control-label">between:</label>
            <div class="col-sm-10">
              <input id="start_date" name="start_date" type="date" class="form-control datepicker">
            </div>
          </div>
          <div class="form-group">
            <label for="end_date" class="col-sm-2 control-label">and</label>
            <div class="col-sm-10">
              <input id="end_date" name="end_date" type="date" class="form-control datepicker">
            </div>
          </div>
          <div class="form-group">
            <label for="league" class="col-sm-2 control-label">in</label>
            <div class="col-sm-10">
              <select id="league" name="league" class="form-control"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="radiant_team" class="col-sm-2 control-label">between</label>
            <div class="col-sm-10">
              <select id="radiant_team" name="radiant_team" class="form-control"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="dire_team" class="col-sm-2 control-label">and</label>
            <div class="col-sm-10">
              <select id="dire_team" name="dire_team" class="form-control"></select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="match-search btn btn-primary" value="Filter">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
function addSelect2ToModal (fieldId, placeholder, url, mapping_function) {
  $(fieldId).select2({
    placeholder: placeholder,
    ajax: {
      url: url,
      dataType: 'json',
      delay: 350,
      data: function (params) {
        return {
          search: params.term
        };
      },
      processResults: function (data, params) {
        return {
          results: data.map(mapping_function)
        };
      },
      cache: true
    },
    minimumInputLength: 1
  });
}

function mapDisplayName (e) {
  return {
    text: e.display_name,
    id: e.display_name
  };
}

function mapName (e) {
  return {
    text: e.name,
    id: e.name
  };
}

$(document).ready(function() {
  addSelect2ToModal('#hero', 'Hero', '/rest-api/heroes/', mapName);
  addSelect2ToModal('#league', 'League', '/rest-api/leagues/', mapDisplayName);
  addSelect2ToModal('#radiant_team', 'Radiant team', '/rest-api/teams/', mapName);
  addSelect2ToModal('#dire_team', 'Dire team', '/rest-api/teams/', mapName);
});
</script>
