<div class="modal fade" tabindex="-1" role="dialog" id="match-select">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" method="get" action=".">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Select a match</h4>
        </div>
        <div class="modal-body">
          <p>
          Just fill in anything you know, and we'll give you back a list to choose from.
          </p>
          <div class="form-group">
            <label for="player" class="col-sm-2 control-label">Player:</label>
            <div class="col-sm-10">
              <input id="player" name="player" type="text" class="form-control" placeholder="player ID">
            </div>
          </div>
          <div class="form-group">
            <label for="hero" class="col-sm-2 control-label">as Hero:</label>
            <div class="col-sm-10">
              <input id="hero" name="hero" type="text" class="form-control" placeholder="hero name">
            </div>
          </div>
          <div class="form-group">
            <label for="start_date" class="col-sm-2 control-label">between:</label>
            <div class="col-sm-10">
              <input id="start_date" name="start_date" type="date" class="form-control datepicker">
            </div>
          </div>
          <div class="form-group">
            <label for="end_date" class="col-sm-2 control-label">and</label>
            <div class="col-sm-10">
              <input id="end_date" name="end_date" type="date" class="form-control datepicker">
            </div>
          </div>
          <div class="form-group">
            <label for="league" class="col-sm-2 control-label">in</label>
            <div class="col-sm-10">
              <input id="league" name="league" type="text" class="form-control" placeholder="league">
            </div>
          </div>
          <div class="form-group">
            <label for="radiant_team" class="col-sm-2 control-label">between</label>
            <div class="col-sm-10">
              <input id="radiant_team" name="radiant_team" type="text" class="form-control" placeholder="Radiant team">
            </div>
          </div>
          <div class="form-group">
            <label for="dire_team" class="col-sm-2 control-label">and</label>
            <div class="col-sm-10">
              <input id="dire_team" name="dire_team" type="text" class="form-control" placeholder="Dire team">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="match-search btn btn-primary" value="Filter">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
