{% load staticfiles %}

{% comment %}
  Required for things like vitals until we refactor js.
{% endcomment %}
<div>
  <div class='form-container'>
    <form class='chart-form' action="" method='GET'>
      {% include "_form.html" %}
      <div class="control-group">
        <div class="controls pull-right">
          <button type="submit" class="btn btn-small btn-primary">Submit</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
  {% if error %}
    <img src="{% static 'images/sad_panda_caption.png' %}">
  {% elif image_name %}
    <img src="{{MEDIA_URL}}{{image_name}}">
    {# <img src="{% static image_name %}"> #}
  {% endif %}
  <div id='chart'></div>
</div>
