{% extends "base.html" %}

{% block title %}FAQs{% endblock title %}

{% block page_title %}FAQs{% endblock page_title %}

{% block content %}
<div class='category' id='replay-parse'>
    <h4>Replay Parsing</h4>
    <div class='question'>
        <h5>What is replay parsing?</h5>
        <h6>TL;DR: We examine each frame of a game and extract data to display on the internet.</h6>
        <p>"Replay parsing" means taking a Dota 2 replay file and extracting the data from it in the same way that the official Dota 2 client replay software works.  The replay file encodes the state of every model and particle in the replay roughly 30 times a second, and that information is useful for re-watching a game.  However, it is also possible to intercept that data, analyze it, and store the result to examine later.  We take key data elements from the replay file and render them online, as <a href="https://www.datadrivendota.com/matches/787453665/parse_match">here.</a></p>
    </div>
    <div class='question'>
        <h5>Why go to the trouble to parse replays?</h5>
        <h6>TL;DR: Too much detail is a burden, too little is not informative.  We want "just right".</h6>
        <p>End-of-game data is useful, but can't distinguish <em>when</em> something happened; a 15 kill lead starting at 10 minutes looks the same as a 15 kill lead from fountain farming at the end of the game.  Testing hypotheses about when a game turned a certain way and why is therefore not possible with mere end-of-game data, and watching the entire replay can be a huge slog (even with fast-forwarding).  It shouldn't take 10+ minutes to see when a particular player started taking off in a game, or whether you or your friend had done more hero damage at a given time in a replay.  We are making it easy to learn more, and faster </p>
    </div>

    <div class='question'>
        <h5>What are the current shortcomings in replay parsing?</h5>
        <h6>TL;DR: This is alpha tech, but we are working on it.</h6>
        <p>Making Dota 2 as responsive as it is for players all around the globe is quite technically tricky; Valve is using archmage-grade technical wizardry to make it happen, and unpacking their work can be a challenge.  Currently, a few known things can go wrong:</p>
        <ul>
        <li>
            A kill is counted whenever a player hits 0 life.  This results in overcounting with an aegis or Resurrection.
        </li>
        <li>
            When non-player characters kill towers, it doesn't show up in the traditional place, and we can't tell that the tower went down.
        </li>
        <li>
            Values like hero agility or gold can be incorrect early in the game because the replay file only stores changes, ie the first time an item or skill updates hero agility.  We have some hacks in place for some of these problems, but need a more comprehensive fix.
        </li>
        <li>
            Some items are modeled differently than others in the file, which makes it challenging to do things we would like to (like show hero inventory, or notifications for big buys).  This is one of our big next steps.
        </li>
        </ul>
    </div>

    <div class='question'>
        <h5>What new features are upcoming?</h5>
        <h6>TL;DR: Mostly fixes, item data, and opening the automatic replays to users.</h6>
        <p>Fixing the known shortcomings, adding item data, and improving the user interface are our current to-dos for parsed replays in general.  We are also working on making our replay pipeline production-ready and letting users sign up to have their replays parsed automagically, with a small fee to cover costs.  If this appealing to you, let us know!  (contact@datadrivendota.com)</p>
    </div>


</div>
<div class='category' id='data-access'>
    <h4>Data Access</h4>
    <div class='question'>
        <h5>Why isn't every match on here?</h5>
        <h6>TL; DR: Valve caps official access.  We are reaching out to them about it.</h6>
        <p>Valve's official developer API has an unfortunate cap: without special dispensation, any developer is only allowed 100K API calls per day.  This sounds like a lot, until you realize that every detailed match import requires its own call.  If you want to import the default 500 match history for each player, you may only import 200 players per day; if you want to maintain an updating list of players and leagues, all the calls you make to maintain that list get subtracted off of your daily cap.  We would like to include as much data as possible here, but 1) Valve currently limits us, and 2) it gets expensive to store the great big Dota dataset.  We are working on resolving these problems.</p>
    </div>
    <div class='question'>
        <h5>How can I see my data?</h5>
        <h6>TL; DR: One-off import request behind the <a href="www.datadrivendota.com/premium">premium link</a> during beta.</h6>
        <p>During our beta, we are offering a free one-time 200 match data import by request.  This offer is contingent on availability; if we get swamped by requests, we will strive to be fair about whose data we import.  (See the question about API limitations above.)</p>
        <p>After the beta, the plan is less clear.  The sketch of the current plan involves ~$2/mo subscription accounts that can import their own data streams to help defray our costs (because servers and rent are expensive), but at the same time we want to offer as much free content as possible.  We will update this section as things unfold.</p>
    </div>
</div>

<div class='category'>
<h4>Accounts</h4>
    <div class='question'>
        <h5>What is the "Login with Steam" button for?</h5>
        <h6>TL; DR: Public features do not require it.  Players in our test group need it.</h6>
        <p>In our design philosophy, login is not mandatory just because it makes things easier for developers; login should be an optional step that unlocks features that actually require login information.  For example, reddit works just fine without logging in, but the nicer customizations (like selecting subreddit subscriptions) require a notion of persistence; reddit knowing who "you" claim to be, and your past choices influencing your current settings. </p><p> We want to offer no-requirements content without login, but provide optional extra features that vary based on who you are.  These might include charts adding your data by default, access to the data management panel (to add more data feeds), removal of ads, and other things.  These features are currently in the test phase, so public users don't need to login, but our testers need the option. </p>
    </div>
    <div class='question'>
        <h5>Can I be in the test group?</h5>
        <h6>TL; DR: Not yet, but soon.</h6>
        <p>We are working on building out features for logged-in users, but they are not quite ready enough for outside testing.  If you are interested in being a tester and using alpha features that are unpolished and potentially buggy, drop us a line at contact@datadrivendota.com with "Testing" in the subject.</p>
    </div>
</div>

<div class='category'>
<h4>Jargon</h4>
    <div class='question'>
        <h5>What do all these terms mean?</h5>
        <h6>KDA2 = K-D+A/2 = Kills - Deaths + Assists/2</h6>
        <p>This is a sort of "net score" for a hero in a game.  These are the ratios used for fantasy points.</p>

        <h6>Effective HP = Hit points accounting for armor</h6>
        <p>If a hero has 1000 HP and 25 armor, then incoming physical damage is reduced by 60%.  It would take 2500 physical damage to kill this hero, because 2500*.4 = 1000; the hero has 2500 effective HP.  For more on armor see <a href="http://dota2.gamepedia.com/Armor">the wiki</a>, or to compare effective HP <a href="www.datadrivendota.com/heroes/lineups">the lineup tool.</a></p>
        <h6>GPM = Gold per minute</h6>
        <h6>XPM = Experience per minute</h6>
        <h6>Attack Point</h6>
        <p>The time in seconds between a hero starting an attack command and that attack actually happening.  Some heroes have very low latency between command and execution, like Sniper; others (like Lina or Zeus) have a long lead time before actually hitting their target.</p>
        <h6>Attack Backswing</h6>
        <p>The closing part of a hero's attack animation, after it deals damage, in seconds.  This part of the animation is entirely optional; heroes can take and execute additional commands to cancel this animation.  For some heroes with heinous backswings, like Pudge, animation canceling is key to keeping up with a target.</p>
        <h6>Cast Point</h6>
        <p>Like an attack point, but with spells.  This number can vary by spell; for example, Earthshaker's Fissure has a windup animation, while Echo Slam is an instant-cast.</p>
        <h6>Cast Backswing</h6>
        <p>Like an attack backswing, but with spells.  Some heroes naturally do wave their arms/staves/etc around after a spell has been cast, but can be commanded to do more productive things instead, canceling this animation.</p>
    </div>
</div>

<div class='category'>
<h4>Future Features</h4>
    <div class='question'>
        <h5>Is this all DDD is offering?</h5>
        <h6>TL; DR: Nope!</h6>
        <p>This project started off as merely rendering the endgame screen in data tables, but has continously evolved to accumulate new features and tools for the data.  Replay parsing, as demonstrated here, is the newest experimental feature in the pipeline, but it is not the last.  We are working on:</p>
        <ul>
        <li>
            New tools to assist during the draft/pick phase.
        </li>
        <li>
            Better between-match comparisons to help you improve, like your ingame Phantom Lancer play vs. Merlini's (for any hero or player of your choosing)
        </li>
        <li>
            Context-sensitive browsing, like charts that automatically include your own data.
        </li>
        <li>
            Improved chart functionality, with mroe and better selectors and data toggling.
        </li>
        <li>
            Ad-free browsing, with custom new data feeds.
        </li>
        <li>
            More sophisticated replay parsing than is demonstrated here.
        </li>
        </ul><p>and more!</p>
    </div>
</div>
<style type="text/css">
    .category{
        margin:10px;
    }
    .question{
        margin:10px;
    }
</style>

{% endblock content %}
