{% load staticfiles compressed navigation_extras steam_extras intercom_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}datadrivendota{% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% compressed_css 'all' %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>

  <div id="main-wrap">
      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DataDrivenDota<span id="alpha">alpha</span></a>
        </div>

        {% block primary_nav %}
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown {% active 'heroes' main_nav %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Heroes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'heroes:index' %}">Index</a></li>
                <li><a href="{% url 'heroes:vitals' %}">Vitals</a></li>
                <li><a href="{% url 'heroes:lineup' %}">Lineups</a></li>
                <li><a href="{% url 'heroes:hero_performance' %}">Performance</a></li>
                <li><a href="{% url 'heroes:hero_skill_bars' %}">Skill Time Bars</a></li>
              </ul>
            </li>

            <li class="{% active 'items' main_nav %}"><a href="{% url 'items:index' %}">Items</a></li>

            <li class="dropdown {% active 'matches' main_nav %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'matches:index' %}">Index</a></li>
                <li><a href="{% url 'matches:endgame' %}">Endgame Charts</a></li>
                <li><a href="{% url 'matches:team_endgame' %}">Team Endgame Charts</a></li>
                <li><a href="{% url 'matches:ability_build' %}">Ability Build</a></li>
              </ul>
            </li>

            <li class="dropdown {% active 'players' main_nav %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'players:index' %}">Index</a></li>
                <li><a href="{% url 'players:player_winrate' %}">Winrate</a></li>
                <li><a href="{% url 'players:timeline' %}">Timeline</a></li>
                <li><a href="{% url 'players:management' %}">Management</a></li>
              </ul>
            </li>

            <li class="{% active 'about' main_nav %}">
              <a href="/about/">About</a>
            </li>
            <li>
              <a id="contact-link" target="_blank" href="mailto:contact@datadrivendota.com">Contact</a>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_active %}
            <li><a href="{% url 'players:management' %}">Preferences</a></li>
            <li><a href="{% url 'logout' %}">Logout, {{user}}?</a></li>
            {% else %}
            <li><a href="{% url 'social:begin' 'steam' %}"><img src="{% static 'images/sits_small.png' %}"></a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
        {% endblock primary_nav %}
      </nav>
      <div id="body" class="container">
        <div class="row">
          {% block extra_nav %}{% endblock extra_nav %}

          <h2>{% block page_title %}Hello!{% endblock page_title %}</h2>

          {% block content %}
            <div class='glyphicon glyphicon-question-sign tourglyph'  title='Click me!'></div>
            <p>Welcome to DataDrivenDota.  Use the menu items in the top nav bar to access charting data; heroes and matches are the best built out right now.</p>
          {% endblock content %}

        </div>
      </div> <!-- /container -->
    </div>

    <div id='footer'>
      <div class="container">
        Copyright 2013 Deep Dive Data LLC. Dota 2 is a registered trademark of
        Valve Corporation.  <a href="http://steampowered.com">Powered By
        Steam</a>, Privacy stuff <a href="{% url 'privacy' %}">here</a>.
      </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</script>

    {% compressed_js 'all' %}

    {% block extra_js %}

    {% endblock extra_js %}

    {% if request.user.is_authenticated %}

    {% block tour %}
      <script type="text/javascript">
  $(function () {
    var tour = new Tour({
      backdrop: true
    });

    tour.addSteps([
      {
        orphan: true,
        title: "Welcome!",
        content: "We are a bit different, so let's overview a couple big things."
      },
      {
        element: "#IntercomDefaultWidget",
        title: "Feedback",
        content: "If you have any problems, questions, or feature requests, let us know here!",
        placement: "left"
      },
      {
        element: ".primary_nav",
        title: "Navigation",
        content: "Find tools to use here.  Basically everything that is not an index is a chart.",
        placement: "bottom"
      },
      {
        orphan: true,
        title: "Ready to go!",
        content: "Now you know all there is! Happy hunting!"
      }
    ]);

    $(".tourglyph").on("click",function(){
      tour.start('.page-tour');
    })

  });
      </script>
    {% endblock tour %}

      <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
          user_id: "{% steam_id request.user %}",
          created_at: {{ request.user.date_joined|date:"U" }},
          user_hash: "{% intercom_user_hash request.user %}",
          widget: {
            activator: "#IntercomDefaultWidget"
          },
          app_id: "e089370216a8acf00a4718fd341c87883461a240",
          // Custom data
          steam_id: "{% steam_id request.user %}",
          name: "{{ request.user.username }}",
          avatar: "{% steam_avatar request.user %}"
        };
      </script>
      <script>
        (function () {
          var w = window;
          var ic = w.Intercom;
          if (typeof ic === "function") {
            ic('reattach_activator');
            ic('update', intercomSettings);
          } else {
            var d = document;
            var i = function () {
              i.c(arguments)
            };
            i.q = [];
            i.c = function (args) {
              i.q.push(args)
            };
            w.Intercom = i;
            function l() {
              var s = d.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'https://static.intercomcdn.com/intercom.v1.js';
              var x = d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
            }
            if (w.attachEvent) {
              w.attachEvent('onload', l);
            } else {
              w.addEventListener('load', l, false);
            }
          };
        })()
      </script>
    {% endif %}
  </body>
</html>
