{% load staticfiles compressed navigation_extras steam_extras intercom_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}datadrivendota{% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% compressed_css 'all' %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DataDrivenDota</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="{% active 'heroes' main_nav %}"><a href="{% url 'heroes:index' %}">Heroes</a></li>
          <li class="{% active 'items' main_nav %}"><a href="{% url 'items:index' %}">Items</a></li>
          <li class="{% active 'matches' main_nav %}"><a href="{% url 'matches:index' %}">Matches</a></li>
          <li class="{% active 'players' main_nav %}"><a href="{% url 'players:index' %}">Players</a></li>
          <li class="{% active 'about' main_nav %}"><a href="/about/">About</a></li>
          <li><a href="mailto:datadrivendota@gmail.com">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_active %}
          <li><a href="{% url 'logout' %}">Logout, {{user}}?</a></li>
          {% else %}
          {% comment %}

          <li><a href="{% url 'socialauth_begin' 'steam' %}">Login</a></li>
          {% endcomment %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div id="body" class="container">
      <div class="row">
        {% block extra_nav %}{% endblock extra_nav %}

        <h2>{% block page_title %}Hello!{% endblock page_title %}</h2>

        {% block content %}
          <p>We are still under construction.  Please come back later.</p>
        {% endblock content %}

      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    {% compressed_js 'all' %}
    <!-- @todo: get local copies of these, put them in pipeline. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/start/jquery-ui.css" />

    {% block extra_js %}
    {% endblock extra_js %}

    {% if request.user.is_authenticated %}
      <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
          user_id: "{% steam_id request.user %}",
          created_at: {{ request.user.date_joined|date:"U" }},
          user_hash: "{% intercom_user_hash request.user %}",
          widget: {
            activator: "#IntercomDefaultWidget"
          },
          app_id: "e089370216a8acf00a4718fd341c87883461a240",
          // Custom data
          steam_id: "{% steam_id request.user %}",
          name: "{{ request.user.username }}",
          avatar: "{% steam_avatar request.user %}"
        };
      </script>
      <script>
        (function () {
          var w = window;
          var ic = w.Intercom;
          if (typeof ic === "function") {
            ic('reattach_activator');
            ic('update', intercomSettings);
          } else {
            var d = document;
            var i = function () {
              i.c(arguments)
            };
            i.q = [];
            i.c = function (args) {
              i.q.push(args)
            };
            w.Intercom = i;
            function l() {
              var s = d.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'https://static.intercomcdn.com/intercom.v1.js';
              var x = d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
            }
            if (w.attachEvent) {
              w.attachEvent('onload', l);
            } else {
              w.addEventListener('load', l, false);
            }
          };
        })()
      </script>
    {% endif %}

  </body>
</html>
