{% load staticfiles compressed navigation_extras steam_extras intercom_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}datadrivendota{% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% compressed_css 'all' %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    {% block extra_css %}{% endblock extra_css %}
  </head>

      {# Google Analytics #}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51075768-1', 'datadrivendota.com');
        ga('send', 'pageview');

      </script>


  <body>

  <div id="main-wrap">
      <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id='main-nav'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DataDrivenDota<span id="alpha">alpha</span></a>
        </div>

        {% block primary_nav %}
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown {% active 'heroes' main_nav %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Heroes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="{% active 'heroes:index' %}"><a href="{% url 'heroes:index' %}">Index</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Advanced Charts</li>
                <li class="{% active 'heroes:vitals' %}"><a href="{% url 'heroes:vitals' %}">Vitals</a></li>
                <li class="{% active 'heroes:lineup' %}"><a href="{% url 'heroes:lineup' %}">Lineups</a></li>
                <li class="{% active 'heroes:hero_performance' %}"><a href="{% url 'heroes:hero_performance' %}">Performance Scatter</a></li>
                <li class="{% active 'heroes:hero_performance_lineup' %}"><a href="{% url 'heroes:hero_performance_lineup' %}">Performance Lineup</a></li>
                <li class="{% active 'heroes:hero_skill_progressions' %}"><a href="{% url 'heroes:hero_skill_progression' %}">Skill Progression</a></li>
              </ul>
            </li>

            <li class="{% active 'items' main_nav %}"><a href="{% url 'items:index' %}">Items</a></li>

            <li class="dropdown {% active 'matches' main_nav %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="{% active 'matches:index' %}"><a href="{% url 'matches:index' %}">Index</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Advanced Charts</li>
                <li class="{% active 'matches:endgame' %}"><a href="{% url 'matches:endgame' %}">Endgame Charts</a></li>
                <li class="{% active 'matches:team_endgame' %}"><a href="{% url 'matches:team_endgame' %}">Partial Team Endgame Charts</a></li>
                <li class="{% active 'matches:own-team-endgame' %}"><a href="{% url 'matches:own_team_endgame' %}">Separate Team Endgame Charts</a></li>
                <li class="{% active 'matches:ability_build' %}"><a href="{% url 'matches:ability_build' %}">Ability Build</a></li>
                <li class="{% active 'matches:progression_list' %}"><a href="{% url 'matches:progession_list' %}">Match List Hero Progression</a></li>
              </ul>
            </li>

            <li class="dropdown {% active 'players' main_nav %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="{% active 'players:pro_index' %}"><a href="{% url 'players:pro_index' %}">Pro Index</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Advanced Charts</li>
                <li class="{% active 'players:player_winrate' %}"><a href="{% url 'players:player_winrate' %}">Winrate</a></li>
                <li class="{% active 'players:hero_abilities' %}"><a href="{% url 'players:hero_abilities' %}">Ability Comparison</a></li>
              </ul>
            </li>

            <li class="{% active 'about' main_nav %}">
              <a href="/blog/1">About</a>
            </li>
            <li class="{% active 'blog' main_nav %}">
              <a href="/blog/">Blog</a>
            </li>
            <li id="contact-link">
              <a target="_blank" href="mailto:contact@datadrivendota.com">Contact</a>
            </li>


          </ul>
          <span id='combobox'>
            <input type='text' class='combobox-tags' style='margin-top:5px' >
            <button type='button' class='btn btn-small btn-primary click-selector' style='margin-top:8px; margin-left:3px'>Select</button>
          </span>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_active %}
            <li><a href="{% url 'players:management' %}">Data Management</a></li>
            <li><a href="{% url 'logout' %}">Logout, {{user}}?</a></li>
            {% else %}
            <li><a href="{% url 'social:begin' 'steam' %}"><img src="{% static 'images/sits_small.png' %}"></a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
        {% endblock primary_nav %}
      </nav>


      <div id="body" class="container">
        <div class="row">
          <div id='main-block'>

          {% block topbar %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Mid Leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-5103417759775678"
                 data-ad-slot="9512130742"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          {% endblock topbar %}

          {% block extra_nav %}{% endblock extra_nav %}

          <h2>{% block page_title %}Hello!{% endblock page_title %}</h2>

          {% block content %}
          {% endblock content %}
          </div>
        </div>
      </div> <!-- /container -->
    </div>

    <div id='footer'>
      <div class="container">
        Copyright 2013 Deep Dive Data LLC. Dota 2 is a registered trademark of
        Valve Corporation.  <a href="http://steampowered.com">Powered By
        Steam</a>, Privacy stuff <a href="{% url 'privacy' %}">here</a>.
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% comment %}

    {% endcomment %}
    {% compressed_js 'all' %}
      <script type="text/javascript">
        window.comboBox();
      </script>

    {% block extra_js %}
    {% endblock extra_js %}

    {% block tour %}
    {% endblock tour %}

    {% if user.is_authenticated %}
      <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
          user_id: "{% steam_id request.user %}",
          created_at: {{ request.user.date_joined|date:"U" }},
          user_hash: "{% intercom_user_hash request.user %}",
          widget: {
            activator: "#IntercomDefaultWidget"
          },
          app_id: "e089370216a8acf00a4718fd341c87883461a240",
          // Custom data
          steam_id: "{% steam_id request.user %}",
          name: "{{ request.user.username }}",
          avatar: "{% steam_avatar request.user %}"
        };
      </script>
      <script>
        (function () {
          var w = window;
          var ic = w.Intercom;
          if (typeof ic === "function") {
            ic('reattach_activator');
            ic('update', intercomSettings);
          } else {
            var d = document;
            var i = function () {
              i.c(arguments)
            };
            i.q = [];
            i.c = function (args) {
              i.q.push(args)
            };
            w.Intercom = i;
            function l() {
              var s = d.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'https://static.intercomcdn.com/intercom.v1.js';
              var x = d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
            }
            if (w.attachEvent) {
              w.attachEvent('onload', l);
            } else {
              w.addEventListener('load', l, false);
            }
          };
        })()
      </script>
    {% endif %}
  </body>
</html>
