{% extends "base.html" %}

{% block topbar %}
{% endblock topbar %}
{% block page_title %}{% endblock page_title %}

{% block content %}
<div class='jumbotron'>
  <h1>Welcome to DataDrivenDota</h1>

      <p>We think a chart is worth a thousand stats, and are building the framework to prove it.</p>
      <p>DataDrivenDota is a project dedicated to doing data analysis right in Dota 2.  We are currently boiling down our code for better charts, deeper analytics, and more features.  Check back soon, or follow our <a href="{% url 'blog:index' %}">blog</a> and <a href="https://twitter.com/datadrivendota">twitter</a>!</p>
</div>

<div class='col-md-6'>
  <div class='big-d-stats'>

    <div class='page-header'>
      <h1>Stats are useful...</h1>
    </div>

    <table class='table'>
      <thead>
        <tr>
          <td></td>
          <td>Avg X</td>
          <td>Avg Y</td>
        </tr>
      </thead>
      <tbody>
        <tr class='group-a'>
          <td>Group 1</td>
          <td id='group-a-x'></td>
          <td id='group-a-y'></td>
        </tr>
        <tr class='group-b'>
          <td>Group 2</td>
          <td id='group-b-x'></td>
          <td id='group-b-y'></td>
        </tr>
        <tr class='group-c'>
          <td>Group 3</td>
          <td id='group-c-x'></td>
          <td id='group-c-y'></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class='col-md-6'>

  <div class='page-header'>
    <h1>...but miss the big picture</h1>
  </div>

  <div class='big-d'>
  </div>

</div>

{% endblock content %}

{% block extra_js %}

  <script type="text/javascript">
  $(function(){
    window.splash_gimmick();
  })
  </script>

{% endblock extra_js %}

{% block extra_css %}
  <style type="text/css">

  .group-a{
    fill:#882d61;
    color:#882d61;
  }
  .group-b{
    fill:#aa3939;
    color:#aa3939;
  }
  .group-c{
    fill:#2d862d;
    color:#2d862d;
  }
  </style>
{% endblock extra_css %}
