{% extends "base.html" %}
{% block title %}Thanks!{% endblock title %}
{% block page_title %}{% endblock page_title %}

{% block topbar %}{% endblock topbar %}

{% block content %}

    <div class='jumbotron'>
        <div class='pull-right'>
            <img class='thumbnail' src="https://s3.amazonaws.com/datadrivendota/images/genuine_trove.jpg">
        </div>
        <h1>Thanks!</h1>
        <p>Your response has been submitted.  We'll post the results of the raffle in a few days!</p>
    </div>
{% endblock content %}
