{% extends "base.html" %}

{% block title %}Privacy{% endblock title %}

{% block page_title %}Privacy!{% endblock page_title %}

{% block content %}
<p>
  Data associated with Dota 2 has a built-in privacy setting to regulate third party access.  This setting is inside the game client and defaults to 'private'.  When users make this data public, we (Deep Dive Data LLC) have access to it via the Steam Web API.  At the request of our users, we pull in data that is public.  Additionally, in canvassing for a representative sample, we might pull games in which you participated.  If you would prefer we not see your data, you can anonymize it in the game client.  (If you would like to access your data without going through us, see <a href="http://dev.dota2.com/showthread.php?t=58317">this thread</a> and the <a href="http://steamcommunity.com/dev/apiterms">Terms &amp; Conditions</a>.  Valve makes accessing your data pretty straightforward, and we are not selling you your data; you can get the data for free from them.)
</p>
<p>
  We collect email addresses from messages sent to us, email addresses submitted to us, and site usage information from visitors to our servers. This information may contain data about you including your name, your email, etc, but we are not allowed to disclose such personal information without your written permission. However, some information collected from you and about you is used to provide and improve on our services. The information we collect is not shared with or sold to others, except under special circumstances, including: in order to prevent, investigate, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our terms of service, or as otherwise required by law.  You usage of our service is taken as consent to these terms.
</p>
<p>
  We do not rent, sell, or share personal information about you with other companies except to provide products or services you’ve requested or with your permission. We will transfer information about you if we are acquired by or merged with another company. In this event, we will notify you by putting a prominent notice on the DataDrivenDota web site, (or by email if you have requested email updates and have submitted your address,) before information about you is transferred and becomes subject to a different privacy policy.
</p>
<p>
  Deep Dive Data LLC keeps non-public information (like payment details and steam login information) non-public by outsourcing to known trustworthy sources (such as Stripe and Valve).  If we don't know the hidden information, we can't accidentally share it.  As a result, when you enter sensitive data to companies offering such secure services, (like Valve or a payment processor,) you are subject to their protocols and terms. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet or method of electronic storage is 100% secure. We strive to use commercially acceptable means to protect your personal information, but we cannot guarantee its absolute security.
</p>
<p>
  Deep Dive Data LLC may disclose personally identifiable information under special circumstances, such as to comply with court orders requiring us to do so or when your actions violate the Terms of Service.
</p>
<p>
  We use small tokens of data called cookies, which may include anonymous unique IDs, to persist current session information.  These tokens are sent from our servers and reside on your hard drive.  Our cookies typically exist perpetually and we provide the ability to remove your session cookie with a sign out link.
</p>
<p>
  We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here or by means of a notice on our homepage.  This way, you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.
</p>
<p>
  Content on DataDrivenDota is neither endorsed by nor affiliated with Steam.  We are independent folks.
</p>
{% endblock content %}
