{% load navigation_extras %}
<nav class="nav-special-container">
  <ul class="nav nav-pills nav-special">
    <li role="presentation" class='{% active 'leagues:detail' %}'>
      <a href="{% url 'leagues:detail' steam_id=league.steam_id %}">Detail</a>
    </li>
    <li role="presentation" class='{% active 'leagues:detail-timewalk' %}'>
      <a href="{% url 'leagues:detail-timewalk' steam_id=league.steam_id %}">Time Walk <i class="fa fa-clock-o"></i></a>
    </li>
    <li role="presentation">
      <a href="{% url 'matches:index'%}?league_id={{league.steam_id}}">League Matches <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
    </li>
  </ul>
</nav>
