{% extends "base.html" %}

{% load staticfiles player_extras %}
{% block title %}
    {{league.display_name}}
{% endblock title %}
{% block page_title %}
    {{league.display_name}}
{% endblock page_title %}
{% block content %}
    <div class='row'>
      <div class='col-md-4'>
          <h4>Hero Winrate</h4>
          <span id='winrate_chart'></span>
      </div>
      <div class='col-md-4'>
          <h4>Hero Pick/Ban Rate</h4>
          <span id='pick_ban'></span>
      </div>
      <div class="league-infobox col-md-4">
          <img class='thumbnail' style='margin-top:10px' src="{{ league.image }}">
          <h2>{{ league.display_name }}
          </h2>

      </div>
    </div>

    {% if match_list %}
      {% for match in match_list %}
        {% include "matches/_match_card.html" %}
      {% endfor %}
      {% include "_pagination.html" with pages_list=match_list page_links_to_display=match_list.paginator.page_range_with_ellipses %}
    {% endif %}

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
  Promise.resolve(
    $.ajax(
      '/rest-api/hero-winrate/?'+$.param(
        {league_id:{{league.steam_id}}}
      )
    )
  )
  .then(function(data){
      window.Chartreuse.winrate_scatter(data, '#winrate_chart')
  })
  .catch(function(e){
    console.log(e)
  })

  Promise.resolve(
    $.ajax(
      '{% url "rest-api:hero-pickban-list"%}?'+$.param(
        {league_id:{{league.steam_id}}}
      )
    )
  )
  .then(function(data){
      window.Chartreuse.pickban_scatter(data, '#pick_ban')
  })
  .catch(function(e){
    console.log(e)
  })

})
</script>
{% endblock extra_js %}
