{% extends "base.html" %}

{% load staticfiles %}
{% block title %}
    Leagues!
{% endblock title %}
{% block page_title %}
    Leagues!
{% endblock page_title %}
{% block content %}
    {% for league in league_list %}
        {% if league.logo_image %}
        <div class='col-md-3'>
            <a href="{% url 'leagues:detail' steam_id=league.steam_id %}" class='thumbnail'>
                <img src="{{ league.logo_image.url }}" alt="{{league.name}}"/>
            </a>
            <p class='overlayer'>{{league.display_name}}</p>

        </div>
        {% endif %}
    {% endfor %}
    </div>
    {% comment %}
        Move pagination outside main block.  We should probably refactor.
    {% endcomment %}
    {% include "_pagination.html" with pages_list=league_list page_links_to_display=league_list.paginator.page_range_with_ellipses %}

{% endblock content %}
