{% extends "row_base.html" %}

{% load staticfiles player_extras %}
{% block title %}
    {{league.display_name}}
{% endblock title %}
{% block page_title %}
    {{league.display_name}}
{% endblock page_title %}
{% block content %}


 <nav>
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="#">Overview</a></li>
      <li role="presentation" class="active"><a href="{% url 'leagues:detail-timewalk' steam_id=league.steam_id %}">Time Walk <i class="fa fa-clock-o"></i></a></li>
    </ul>
  </nav>


  <div class='row'>
    <div class='col-md-4'>
        <h4>Hero Picks &amp; Bans</h4>
        <div id='pickban_chart' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class='col-md-4'>
        <h4>Hero Winrate</h4>
        <div id='winrate_chart' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class='col-md-4'>
        <div id='current_match' class='vert-md-4'>
          <h5 class='text-primary' id='match_id'></h5>
          <p id='duration'></p>
          <p id='start_time'></p>

          <div >
            <h5><span class='radiant-team text-primary'></h5>
            <div>
              <span>Picks:</span> <span id='radiant-picks'></span>
            </div>
            <div>
              <span>Bans:</span> <span id='radiant-bans'></span>
            </div>
          </div>

          <div >
            <h5><span class='dire-team  text-primary'></h5>
            <div>
              <span>Picks:</span> <span id='dire-picks'></span>
            </div>
            <div>
              <span>Bans:</span> <span id='dire-bans'></span>
            </div>
          </div>

        </div>
    </div>
    <div class='col-md-8'>
        <h4>Relative Strength</h4>
        <div id='strength_barchart' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class='col-md-4'>
      <h4>What is relative strength?</h4>
      <p>This metric tries to condense wins &amp; losses for each hero down to a single number.  Is a hero that went 5-2 better or worse than one that went 3-0?  This tries to answer.  More is better. </p>
    </div>
  </div>


{% endblock content %}


{% block extra_js %}
<script type="text/javascript">
$(function(){

  Promise.join(
    $.ajax(
      "/rest-api/match-pickban/?" + $.param(
        {league_id:{{league.steam_id}}, page_size:300}
      )
    ),
    $.ajax("/rest-api/hero-dossiers/")
  ).then(function(data){

    Messenger().post({
      message: "Use the playback controls to change the charts",
      type: "info",
      hideAfter: 5
    });

    match_data = data[0];
    dossiers = data[1];
    var idx = 0;
    var update = function(tick){
      idx = (idx + tick).mod(match_data.length);
      $(window).trigger('update', idx);
    }

    $('#progress-bar-current').html(0);
    $('#progress-bar-max').html(match_data.length);


    // Set up timing controls
    var timer;
    function runner() {
      update(1);
      timer = setTimeout(runner, 1000);
    }
    $(window).on('play', function(){
      runner();
    });
    $(window).on('pause', function(){
       clearTimeout(timer);
    });
    $(window).on('forward', function(){
      update(1);
    });
    $(window).on('back', function(){
      update(-1);
    });
    var isDragging = false;
    $('#progress-bar').mousedown(function (evt) {
      isDragging = true;
      // Brittle af
      var progressBarWidth = $(evt.currentTarget).children('span').width();
      idx = ((evt.offsetX / progressBarWidth) * match_data.length) | 0;
      $(window).trigger('update', idx);
    }).mousemove(function (evt) {
      if (isDragging) {
        // Brittle af
        var progressBarWidth = $(evt.currentTarget).children('span').width();
        idx = ((evt.offsetX / progressBarWidth) * match_data.length) | 0;
        $(window).trigger('update', idx);
      }
    }).mouseup(function (evt) {
      isDragging = false;
    });

    doss_map = []
    dossiers.map(function(d){
        doss_map[d.hero.steam_id] = d.hero.internal_name
    })

    var pickfaces = function(idx, team, pick){

      if (team=='Radiant'){
        var team_id=0;
      } else if (team=='Dire'){
        var team_id=1;
      } else {
        console.log('What is this team? '+ team)
      }

      var faces = match_data[idx].pickbans.filter(
          function(d){return d.team==team_id && d.is_pick==pick}
      ).map(
      function(d){return "<span><i class='d2mh "+doss_map[d.hero.steam_id]+"'></i></span>"}
      ).join(separator='');
      return faces;
    }
    $(window).on('update', function (evt, idx) {

      // Progbar
      var width = (idx / match_data.length) * 100;
      $('#progress-bar').css('width', '' + width + '%');
      $('#progress-bar').attr('aria-valuenow', width);
      // Update progress bar time.
      // @TODO make this show time, not ticks?
      $('#progress-bar-current').html(idx);

      //Match card
      var current_match = match_data[idx]
      $('#match_id').html("Next Match #: " + current_match.steam_id)

      var start_time = moment.unix(current_match.start_time).format("dddd, MMMM Do YYYY, h:mm:ss a");
      var duration = moment.duration(current_match.duration*1000).asMinutes().toFixed(2);

      $('#duration').html(duration+' minutes');
      $('#start_time').html(start_time);
      // $('#teams').html(current_match.radiant_team+' vs. '+current_match.dire_team);
      $('.radiant-team').html(current_match.radiant_team);
      $('.dire-team').html(current_match.dire_team);

      $('#radiant-picks').html(pickfaces(idx, 'Radiant', true));
      $('#dire-picks').html(pickfaces(idx, 'Dire', true));
      $('#radiant-bans').html(pickfaces(idx, 'Radiant', false));
      $('#dire-bans').html(pickfaces(idx, 'Dire', false));
    });

    $(window).trigger('update', 0);

    d7.extensions.charts.heroes.pickban_scatter(
      '#pickban_chart', {league_id:{{league.steam_id}}, page_size:300}
    );
    d7.extensions.charts.heroes.winrate_scatter(
      '#winrate_chart', {league_id:{{league.steam_id}}, page_size:300}
    );
    d7.extensions.charts.heroes.quality_barchart(
      '#strength_barchart', {league_id:{{league.steam_id}}, page_size:300}
    );

  });

  // Highlights
  $('.chart')
  .on(
    "mouseenter", ".nv-point, rect",
    function (evt) {
      var hero = $(evt.currentTarget).data('hero');
      $('[data-hero=' + hero + ']').each(function () {
        var target = $(this);
        var classes = target.attr('class').split(' ');
        classes.push('hover');
        target.attr('class', classes.join(' '));
      });
    }
  ).on(
    "mouseleave", ".nv-point, rect",
    function (evt) {
      var hero = $(evt.currentTarget).data('hero');
      $('[data-hero=' + hero + ']').each(function () {
        var target = $(this);
        var classes = target.attr('class').split(' ').filter( function (e) {
            return e !== 'hover';
        });
        target.attr('class', classes.join(' '));
      });
    }
  );
});
</script>
{% endblock extra_js %}
