{% extends "row_base.html" %}

{% load staticfiles player_extras %}
{% block title %}
    {{league.display_name}}
{% endblock title %}
{% block page_title %}
    {{league.display_name}}
{% endblock page_title %}
{% block content %}

  <nav>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Overview</a></li>
      <li role="presentation" class="active"><a href="{% url 'leagues:detail-timewalk' steam_id=league.steam_id %}">Time Walk <i class="fa fa-clock-o"></i></a></li>
    </ul>
  </nav>

  <div class='row'>
    <div class='col-md-4'>
        <h4>Hero Picks &amp; Bans</h4>
        <div id='pickban_chart' class='vert-md-1'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class='col-md-4'>
        <h4>Hero Winrate</h4>
        <div id='winrate_chart' class='vert-md-1'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class='col-md-4'>
        <h4>Current Match</h4>
        <div id='current_match' class='vert-md-1'>
        <h3 id='match_id'></h3>
        <h3 id='duration'></h3>
        <h3 id='start_time'></h3>
        <p id='radiant_team'></p>
        <p id='dire_team'></p>
        </div>
    </div>
    <div class='col-md-8'>
        <h4>Relative Strength</h4>
        <div id='strength_barchart' class='vert-md-1'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
  </div>


{% endblock content %}


{% block extra_js %}
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>
<script type="text/javascript">
$(function(){

  Promise.resolve(
    $.ajax(
      "/rest-api/matches/?" + $.param(
        {league_id:{{league.steam_id}}, page_size:300}
      )
    )
  ).then(function(data){
    match_data = data;
    var idx = 0;
    var update = function(tick){
      idx = (idx + tick).mod(match_data.length);
      $(window).trigger('update', idx);
    }

    $('#progress-bar-current').html(0);
    $('#progress-bar-max').html(match_data.length);


    // Set up timing controls
    var timer;
    function runner() {
      update(1);
      timer = setTimeout(runner, 1000);
    }
    $(window).on('play', function(){
      console.log('Playing');
      runner();
    });
    $(window).on('pause', function(){
       console.log('Stopping');
       clearTimeout(timer);
    });
    $(window).on('forward', function(){
      update(1);
    });
    $(window).on('back', function(){
      update(-1);
    });
    var isDragging = false;
    $('#progress-bar').mousedown(function (evt) {
        isDragging = true;
        // Brittle af
        var progressBarWidth = $(evt.currentTarget).children('span').width();
        idx = ((evt.offsetX / progressBarWidth) * match_data.length) | 0;
        $(window).trigger('update', idx);
    }).mousemove(function (evt) {
        if (isDragging) {
            // Brittle af
            var progressBarWidth = $(evt.currentTarget).children('span').width();
            idx = ((evt.offsetX / progressBarWidth) * match_data.length) | 0;
            $(window).trigger('update', idx);
        }
    }).mouseup(function (evt) {
        isDragging = false;
    });

    $(window).on('update', function (evt, idx) {

      // Progbar
      var width = (idx / match_data.length) * 100;
      $('#progress-bar').css('width', '' + width + '%');
      $('#progress-bar').attr('aria-valuenow', width);
      // Update progress bar time.
      // @TODO make this show time, not ticks?
      $('#progress-bar-current').html(idx);

      //Match card
      var current_match = match_data[idx]
      $('#match_id').html("Match #: " + current_match.steam_id)

      var start_time = moment.unix(current_match.start_time).format("dddd, MMMM Do YYYY, h:mm:ss a");
      var duration = moment.duration(current_match.duration*1000).asMinutes().toFixed(2);

      $('#duration').html(duration+' minutes');
      $('#start_time').html(start_time);
      $('#radiant_team').html(current_match.radiant_team);
      $('#dire_team').html(current_match.dire_team);
    });

    d7.extensions.charts.heroes.pickban_scatter(
      '#pickban_chart', {league_id:{{league.steam_id}}, page_size:300}
    );
    d7.extensions.charts.heroes.winrate_scatter(
      '#winrate_chart', {league_id:{{league.steam_id}}, page_size:300}
    );
    d7.extensions.charts.heroes.quality_barchart(
      '#strength_barchart', {league_id:{{league.steam_id}}, page_size:100}
    );

  })
})
</script>
{% endblock extra_js %}

{% block extra_css %}

<style type="text/css">

.tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(100, 100, 100, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.vert-md-1{
  height:303px;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
}

/* Style northward tooltips differently */
/*.tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
*/
</style>
{% endblock extra_css %}
