{% extends "row_base.html" %}

{% load staticfiles player_extras %}

{% block title %}
    {{league.display_name}}
{% endblock title %}

{% block content %}

<nav class='app-nav'>
  <ul class="nav nav-pills">
    <li role="presentation" class='active'><a href="{% url 'leagues:detail' steam_id=league.steam_id %}">Detail</a></li>
    <li role="presentation"><a href="{% url 'leagues:detail-timewalk' steam_id=league.steam_id %}">Time Walk <i class="fa fa-clock-o"></i></a></li>
    <li role="presentation"><a href="{% url 'matches:index'%}?league_id={{league.steam_id}}">Matches</a></li>
  </ul>
</nav>

<section class='app-section'>
  <div class='row'>
    <div class='col-md-4'>
        <h4>Hero Pick/Ban Rate</h4>
        <div id='pick_ban' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class='col-md-4'>
        <h4>Hero Winrate</h4>
        <div id='winrate_chart' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class="league-infobox col-md-4">
        <h4>Overview</h4>
        <div>
        {% include "leagues/_league_card.html" %}
        </div>
        {% if validity_metrics and user.is_superuser %}
          <table class='table table-bordered'>
            <thead>
              <td>Validity</td>
              <td>MatchCount</td>
            </thead>
          {% for row in validity_metrics %}
            <tr>
              <td>{{row.name}}</td>
              <td>{{row.total}}</td>
            </tr>
          {% endfor %}
          </table>
        {% endif %}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
        <h4>Relative Hero Strength</h4>
        <div id='strength_bars' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class="col-md-4">
      <p>Charts are capped at 300 matches for now until we optimize performance.  Some leagues include their qualifiers in the same tournament due to a Valve convention, which we are working on splitting out.</p>
    </div>
    <div class='col-md-12'>
      <h4>Match Timeline</h4>
      <div id='match_timeline' class='vert-md-1 chart'>
        <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
      </div>
    </div>
  </div>

</section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){

    $('#start-date').datepicker(); $('#start-date').val(
      moment.unix({{max_match_time}}).subtract(10,'days').format("MM/DD/YYYY")
    );
    $('#end-date').datepicker();  $('#end-date').val(
      moment.unix({{max_match_time}}).add(1,'days').format("MM/DD/YYYY")
    );

    $('button#chart').click(function(){

      var start_unix = moment($('#start-date').val(), "MM/DD/YYYY").unix();
      var end_unix = moment($('#end-date').val(), "MM/DD/YYYY").unix();

      d7.extensions.charts.heroes.pickban_scatter(
        '#pick_ban',
        {
          league_id:{{league.steam_id}},
          start_time_gte: start_unix,
          start_time_lte: end_unix,
          page_size:300,
        },
        true
      );
      d7.extensions.charts.heroes.winrate_scatter(
        '#winrate_chart', {
          league_id:{{league.steam_id}},
          start_time_gte: start_unix,
          start_time_lte: end_unix,
          page_size:300
        }, true
      );
      d7.extensions.charts.heroes.quality_barchart(
        '#strength_bars', {
          league_id:{{league.steam_id}},
          start_time_gte: start_unix,
          start_time_lte: end_unix,
          page_size:300
        }, true
      );

      d7.extensions.charts.matches.match_timeline(
        '#match_timeline',
        {
          league_id:{{league.steam_id}},
          page_size:10
        }
      );
    });


    $('button#chart').click();

})
</script>
{% endblock extra_js %}

