{% extends "row_base.html" %}

{% load staticfiles player_extras %}
{% block title %}
    {{league.display_name}}
{% endblock title %}
{% block page_title %}
    {{league.display_name}}
{% endblock page_title %}
{% block content %}

  <nav>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Overview</a></li>
      <li role="presentation" class="active"><a href="{% url 'leagues:detail-timewalk' steam_id=league.steam_id %}">Time Walk <i class="fa fa-clock-o"></i></a></li>
    </ul>
  </nav>

  <div class='row'>
    <div class='col-md-4'>
        <h4>Hero Winrate</h4>
        <div id='pickban_chart'></div>
    </div>
  </div>


{% endblock content %}


{% block extra_js %}
<script type="text/javascript">
$(function(){

  window.comboBox();
  $('#combo-select').select2({
    ajax: {
      delay: 250,
      url:'/matches/api/combobox_tags/',
      processResults: function (data) {
        var res = data.results.map(function (elt) {
         return {id: elt.label, text: elt.value}; }
        )
        return {results: res};
      },
    },
    minimumInputLength: 3,
  });


  var winrate_data;
  var dossier_data;
  var working_set;

  Promise.join(
    $.ajax(
      '/rest-api/match-pickban/?'+$.param(
        {league_id:{{league.steam_id}}}
      )
    ),
    $.ajax(
      '/rest-api/hero-dossiers/?'+$.param(
        {league_id:{{league.steam_id}}}
      )
    )
  )
  .then(function(data){
      winrate_data = data[0];
      dossier_data = data[1];
      var idx = 0;
      var get_working_set = function(idx){
        var data = winrate_data.slice(0, idx);
        return data;
      }

      working_set = get_working_set(idx);

      var update = function(tick){
        idx = (idx + tick).mod(winrate_data.length);
        $(window).trigger('update', [get_working_set(idx)]);
      }

      // Set up timing controls
      $(window).on('play', function(){
        timer = setTimeout(update(1), 1000);
      });
      $(window).on('pause', function(){
         clearTimeout(timer);
      });
      $(window).on('forward', function(){
        update(1);
      });
      $(window).on('back', function(){
        update(-1);
      });

  })
  .then(function(){

      var blank_data = function(dossiers){
        var return_obj = {};
        var values_ary = [];
        var test = dossiers.map(function(h){
          var steam_id = h.hero.steam_id;
          values_ary[steam_id] = {
            picks: 0,
            bans: 0,
            wins: 0,
            losses: 0,
            hero: h.hero
          };
        });
        return_obj['key'] = 'Winrate';
        return_obj['values'] = values_ary;
        return return_obj;
      }

      var extract = function(working_set, dossier_data){
        var data = blank_data(dossier_data);

        working_set.map(function(match){
          pickbans = match.pickbans;
          pickbans.map(function(pickban){
            var steam_id = pickban.hero;
            var is_win = (
              match.radiant_win && pickban.team == 0 ||
              !match.radiant_win && pickban.team == 1
              );
            if (pickban.is_pick){
              if(is_win){
                data.values[steam_id].wins +=1;
              } else {
                data.values[steam_id].losses +=1;
              }
              data.values[steam_id].picks += 1;
            } else {
              data.values[steam_id].bans += 1;
            }
          })
        })

        // Because nvd3 has baked-in assumptions about values being an array starting at 0.
        values = []
        data.values.map(function(d){
          values.push(d);
        })
        data.values=values;
        return [data];
      };

      plot_data = extract(working_set, dossier_data);
      callback = function(svg, chart){
        $(window).on('update', function(e, p1){

          new_data = extract(p1, dossier_data);
          chart_data = svg.datum(new_data);
          chart_data.transition().duration(500).call(chart);


          nv.utils.windowResize(chart.update);
        })

      }
      window.Chartreuse.pickban_scatter_walk(
        plot_data, '#pickban_chart', callback
      );

  })
  .catch(function(e){
    console.log(e)
  })


})
</script>
{% endblock extra_js %}

{% block extra_css %}
  <style type="text/css">
  .agility{
    stroke:green;
    fill:green;
    stroke-fill:green;
  }
  .strength{
    stroke:red;
    fill:red;
    stroke-fill:red;
  }
  .intelligence{
    stroke:blue;
    fill:blue;
    stroke-fill:blue;
  }
  </style>
{% endblock extra_css %}
