{% extends "row_base.html" %}

{% load staticfiles player_extras %}
{% block title %}
    {{league.display_name}}
{% endblock title %}
{% block page_title %}
    {{league.display_name}}
{% endblock page_title %}
{% block content %}

  <nav>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Overview</a></li>
      <li role="presentation"><a href="{% url 'leagues:detail-timewalk' steam_id=league.steam_id %}">Time Walk <i class="fa fa-clock-o"></i></a></li>
    </ul>
  </nav>

  <div class='row'>
    <div class='col-md-4'>
        <h4>Hero Pick/Ban Rate</h4>
        <div id='pick_ban' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class='col-md-4'>
        <h4>Hero Winrate</h4>
        <div id='winrate_chart' class='vert-md-4 chart'>
          <img class='ajax-loader' src="{% static 'images/loading.gif' %}">
        </div>
    </div>
    <div class="league-infobox col-md-4">
        <img class='thumbnail' style='margin-top:10px' src="{{ league.image }}">
        <h2>{{ league.display_name }}
        </h2>

    </div>
  </div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function(){

    d7.extensions.charts.heroes.pickban_scatter(
      '#pick_ban', {league_id:{{league.steam_id}}, page_size:300}, true
    );
    d7.extensions.charts.heroes.winrate_scatter(
      '#winrate_chart', {league_id:{{league.steam_id}}, page_size:300}, true
    );

})
</script>
{% endblock extra_js %}

