{% extends "base.html" %}
{% load human_seconds %}
{% block title %}
Current Live Games
{% endblock title %}

{% block page_title %}
Current Live Games
{% endblock page_title %}


{% block content %}

<div id='games'>
    {% for game in games %}
        <div class='game-card'>
            <div class='page-header'>
                <h1>  Match: {{game.match_id}}, {{game.scoreboard.duration|human_seconds}}</h1>
            </div>
            <a href="{% url 'leagues:live_game_detail' match_id=game.match_id %}" >
                <span class='default-link'></span>
            </a>
            <div class='sections'>
                <div class='league-card'>
                    <div class='league-thumb'>
                        <img src="{{game.league_logo_url}}" class='thumbnail league-logo'>
                    </div>
                </div>
                <div class='match-card'>
                    <div class='side-row'>
                        {% for hero in game.scoreboard.radiant.picks %}
                            <div class='hero-thumb'>
                                <img src="{{hero.url}}" class='thumbnail'>
                            </div>
                        {% endfor %}
                        {% if game.radiant_team.logo_url %}
                            <div class='team-thumb'>
                                <img src="{{game.radiant_team.logo_url}}" class='thumbnail'>
                            </div>
                        {% endif %}
                    </div>
                    <div class='side-row'>
                        {% for hero in game.scoreboard.dire.picks %}
                            <div class='hero-thumb'>
                                <img src="{{hero.url}}" class='thumbnail'>
                            </div>
                        {% endfor %}
                        {% if game.dire_team.logo_url %}
                            <div class='team-thumb'>
                                <img src="{{game.dire_team.logo_url}}" class='thumbnail'>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block extra_css %}
<style type="text/css">
.league-logo {
    max-height: 175px;
}
</style>
{% endblock extra_css %}

{% block extra_js %}

{% comment %}

<script type="text/javascript" src='https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js'></script>
<script src="http://cdn.jsdelivr.net/handlebarsjs/3.0.0/handlebars.js"></script>

{% endcomment %}

{% comment %}
    Helperthings!
<script type="text/x-handlebars-template" id='game-template'>
{% verbatim %}
    {{#games}}
    {{!--
    <div class="{{summary.hero_safe_name}}_slot {{summary.internal_hero_name}}_slot">
    <img src="{{ summary.hero_mugshot_url }}" alt="{{ summary.name }}" title="{{ summary.hero.name }}" class="topbar-hero-mugshot thumbnail player-slot-{{summary.slot}}">
    </div>
    --}}

        <a href="/leagues/live-game-detail/{{match_id}}">
        <div id={{league_id}} class='col-md-2'>

            <img id="{{league_id}}" src="{{league_logo_url}}" class='thumbnail'>
            {{!-- <img id="{{radiant_team.team_id}}"src="{{radiant_team.logo_url}}" class='thumbnail'> --}}
            <p class='overlayer'>{{match_id}}</p>
        </div>
        </a>
    {{/games}}
{% endverbatim %}
</script>
{% endcomment %}


{% comment %}
<script type="text/javascript">

    Handlebars is a fun exercise, but not required here.
    var source = $('#game-template').html()
    var template = Handlebars.compile(source);
    console.log(template)

    $(function(){
        var p = Promise.resolve(
            $.get(
                "{% url 'leagues:api_live_games_list' %}"
            )
        ).then(function(result){
            console.log(result['data'])
            $('div#games').html(template({'games': result['data']}))
        })

    })
    </script>
{% endcomment %}
{% endblock extra_js %}
