{% extends "row_base.html" %}
{% load human_seconds %}
{% block title %}
Current Live Games
{% endblock title %}

{% block aligned_content %}

<div id='games'>
    {% for game in games %}
        <div class='game-card'>
            <div class='page-header'>
                {# <h1>  Match: {{game.match_id}}, {{game.scoreboard.duration|human_seconds}}</h1> #}
            </div>
            <a href="{% url 'leagues:live_game_detail' match_id=game.match_id %}" >
                <span class='default-link'></span>
            </a>
            <div class='sections'>
                <div class='league-card'>
                    <div class='league-thumb'>
                        <img src="{{game.league_logo_url}}" class='thumbnail league-logo'>
                    </div>
                </div>
                <div class='match-card'>
                    <div class='side-row'>
                        {% for hero in game.scoreboard.radiant.picks %}
                            <div class='hero-thumb'>
                                <img src="{{hero.url}}" class='thumbnail'>
                            </div>
                        {% endfor %}
                        {% if game.radiant_team.logo_url %}
                            <div class='team-thumb'>
                                <img src="{{game.radiant_team.logo_url}}" class='thumbnail'>
                            </div>
                        {% endif %}
                    </div>
                    <div class='side-row'>
                        {% for hero in game.scoreboard.dire.picks %}
                            <div class='hero-thumb'>
                                <img src="{{hero.url}}" class='thumbnail'>
                            </div>
                        {% endfor %}
                        {% if game.dire_team.logo_url %}
                            <div class='team-thumb'>
                                <img src="{{game.dire_team.logo_url}}" class='thumbnail'>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock aligned_content %}

{% block extra_css %}
<style type="text/css">
  .league-logo {
    max-height: 175px;
  }
</style>
{% endblock extra_css %}
