{% extends "player_base.html" %}


{% block title %}Player Summary{% endblock title %}

{% block page_title %}Steam ID: {{ player.steam_id }}{% endblock page_title %}

{% block content %}

  <div class="player-infobox">
    <img src="{{ player.avatar_full }}">
    <h2>{{ player.persona_name }}</h2>
  </div>
  <div class="player-charts">
    {% if winratebase %}
      <img src="{{ MEDIA_URL }}{{ winratebase }}">
    {% endif %}
    {% if kdabase %}
      <img src="{{ MEDIA_URL }}{{ kdabase }}">
    {% endif %}
  </div>
  <div id='chart'></div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}


