{% extends "base.html" %}
{% block extra_nav %}
<div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Players</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--<li><a href="/players/vitals">Vitals</a></li>-->
              <!--<li><a href="/heroes/lineups">Lineups</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% comment %}
{% endcomment %}
{% endblock extra_nav %}
