{% extends "heroes/base.html" %}

{% block title %}{{ ability.name }}{% endblock %}

{% block page_title %}{{ ability.name }}{% endblock %}

{% block content %}
<div class="ability-card thumbnail">
  <div class="aligner">
    <a class="ability thumbnail">
      <img src="{{ ability.picture.url }}" alt="{{ ability.name }}" class="ability">
    </a>
  </div>
  {% if ability.description %}
    <p class="description">{{ ability.description }}</p>
  {% endif %}
  {% if ability.lore %}
    <blockquote class="lore">{{ ability.lore }}</blockquote>
  {% endif %}
  {% if ability.notes %}
    <p class="notes">{{ ability.notes }}</p>
  {% endif %}
  <ul>
    {% if ability.channel_time %}
      <li>Channel time: {{ ability.channel_time }}</li>
    {% endif %}
    {% if ability.damage_type %}
      <li>Damage Type: {{ ability.display_damage_type }}</li>
    {% endif %}
    {% if ability.damage %}
      <li>Damage: {{ ability.damage }}</li>
    {% endif %}
    {% if ability.cast_range %}
      <li>Cast Range: {{ ability.cast_range }}</li>
    {% endif %}
    {% if ability.mana_cost %}
      <li>Mana Cost: {{ ability.mana_cost }}</li>
    {% endif %}
    {% if ability.cooldown %}
      <li>Cooldown: {{ ability.cooldown }}</li>
    {% endif %}
    <li>Behavior:
      <ul>
        {% for b in ability.behavior.all %}
          <li>{{forloop.counter}}: {{ b.display_name }}</li>
        {% endfor %}
      </ul>
    </li>

    {% if ability.target_flags.all %}
    <li>Target flags:
      <ul>
        {% for b in ability.target_flags.all %}
          <li>{{ b.display_name }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}


    {% if ability.target_type.all %}
    <li>Target type:
      <ul>
        {% for b in ability.target_type.all %}
          <li>{{ b.display_name }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}

    {% if ability.target_team.all %}
    <li>Target team:
      <ul>
        {% for b in ability.target_team.all %}
          <li>{{ b.display_name }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    <li>Special Values:
      <ul>
        {% for b in ability.abilityspecialvalues_set.all %}
          <li>{{ b.display_key }}: {{ b.value }}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>

{% endblock %}
