{% extends "heroes/base.html" %}

{% block title %}{{ ability.name }}{% endblock %}

{% block page_title %}{{ ability.name }}{% endblock %}

{% block content %}
  <a class="ability thumbnail">
    <img src="{{ ability.picture.url }}" alt="{{ ability.name }}" class="ability">
  </a>
  {% if ability.description %}
    <p>{{ ability.description }}</p>
  {% endif %}
  {% if ability.lore %}
    <p>{{ ability.lore }}</p>
  {% endif %}
  {% if ability.notes %}
    <p>{{ ability.notes }}</p>
  {% endif %}
{% endblock %}
