{% extends "heroes/base.html" %}
{% load staticfiles %}

{% block title %}{{ hero.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
  <div class="hero-lore">
    <h1>{{ hero.name }}</h1>

    <div class="infobox thumbnail">
      {% if hero.mugshot %}
      <div class="aligner">
        <a class="thumbnail">
          <img class="hero" src='{{ hero.mugshot.url }}'>
        </a>
        <div class='roles'>
          {% for assignment in hero.assignment_set.all %}
            {# <p alt="{{ assignment.role.name }}" title="{{ assignment.role.name }}" class="role-magnitude-{{ assignment.magnitude }}">{{ assignment.role.name }}</p> #}
            <img src="{{ assignment.role.thumbshot.url }}" alt="{{ assignment.role.name }}" title="{{ assignment.role.name }}" class="role-magnitude-{{ assignment.magnitude }}">
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <td>Stat</td>
            <td>Level 1</td>
            <td>Level 16</td>
            <td>Level 25</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            Strength: {{ dossier.strength }} + <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength_gain&level=16">{{ dossier.strength_gain }}</a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
            Agility: {{ dossier.agility }} + <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility_gain&level=16">{{ dossier.agility_gain }}</a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
            Intelligence: {{ dossier.intelligence }} + <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence_gain&level=16">{{ dossier.intelligence_gain }}</a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div>Day/Night vision: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=day_vision&level=16">{{ dossier.day_vision }}</a> / <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=night_vision&level=16">{{ dossier.night_vision }}</a></div>
      <div>HP/Mana regen: {{ dossier.hp_regen }} / {{ dossier.mana_regen }}</div>
      <div>Move speed: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=movespeed&level=16">{{ dossier.movespeed }}</a></div>
      <div>Range: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=range&level=16">{{ dossier.range }}</a></div>
      <div>Base Atk Time: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=base_atk_time&level=16">{{ dossier.base_atk_time }}</a></div>
    </div>
  </div>

    <div class='row'>

      <div class='col-md-4'>
        <h4>Winrate by Player</h4>
        <span id='player_winrate'></span>
      </div>

      <div class='col-md-4'>
        <h4>Very High Skill Item Use</h4>
        <span id='high_skill_item_winrate'></span>
      </div>

      <div class="hero-ability-list col-md-8">
        <h4>Abilities</h4>
        {% for ability in abilities %}
          {% if  ability.picture %}

            <a href="{% url 'heroes:ability_detail' ability_name=ability.machine_name %}" class="ability thumbnail">
              <img src="{{ ability.picture.url }}" alt="{{ ability.name }}" class="ability">
              <p class='overlayer'>{{ ability.name }}</p>
            </a>
          {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
      </div>

    </div>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Mid Leaderboard -->
      <div class='adbar'>
        <ins class="adsbygoogle"
             style="display:inline-block;width:970px;height:90px"
             data-ad-client="ca-pub-5103417759775678"
             data-ad-slot="9512130742"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

    <h4>Lore</h4>

    <blockquote class="lore">
      {{ hero.lore }}
    </blockquote>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Mid Leaderboard -->
    <div class='adbar'>
      <ins class="adsbygoogle"
           style="display:inline-block;width:970px;height:90px"
           data-ad-client="ca-pub-5103417759775678"
           data-ad-slot="9512130742"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

<h4>Hero Performance by Skill Bracket</h4>
<div class="hero-chart-list row">

    <div class='col-md-4' id='chart1'></div>
    <div class='col-md-4' id='chart2'></div>
    <div class='col-md-4' id='chart3'></div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">

    window.apiHit(
      "#player_winrate",
      '{% url "heroes:api_update_player_winrate_chart" %}',
        $.param({
          hero: "{{ hero.steam_id }}",
          game_modes: [1,2,3,4,5],
          width: 300,
          height: 300,
        }, true
      )
    );
  window.apiHit(
    "#high_skill_item_winrate",
    '{% url "items:api_item_endgame_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        skill_level: '3',
        game_modes: [1, 2, 3, 4, 5],
        no_legend: true,
        width: 300,
        height: 300,
      }, true
    )
  );

    window.apiHit(
      "#chart3",
      '{% url "heroes:api_hero_performance_chart" %}',
        $.param({
          hero: "{{ hero.steam_id }}",
          x_var: 'duration',
          y_var: 'gold_total',
          group_var: 'skill_name',
          panel_var: 'None',
          chart: 'hero_performance_chart',
          width: 300,
          height: 300,
          game_modes: [1,2,3,4,5],
          x_ticks: 6,
        }, true
      )
    );
    window.apiHit(
      "#chart1",
      '{% url "heroes:api_hero_performance_chart" %}',
        $.param({
          hero: "{{ hero.steam_id }}",
          x_var: 'duration',
          y_var: 'kills',
          group_var: 'skill_name',
          panel_var: 'None',
          chart: 'hero_performance_chart',
          width: 300,
          height: 300,
          game_modes: [1,2,3,4,5],
          x_ticks: 6,
        }, true
      )
    );
    window.apiHit(
      "#chart2",
      '{% url "heroes:api_hero_performance_chart" %}',
        $.param({
          hero: "{{ hero.steam_id }}",
          x_var: 'duration',
          y_var: 'K-D+.5*A',
          group_var: 'skill_name',
          panel_var: 'None',
          chart: 'hero_performance_chart',
          game_modes: [1,2,3,4,5],
          width: 300,
          height: 300,
          x_ticks: 6,
        }, true
      )
    );

  </script>
{% endblock extra_js  %}



