{% extends "heroes/base.html" %}
{% load staticfiles %}

{% block title %}{{ hero.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
  <div class="hero-lore">
    <h1>{{ hero.name }}</h1>

    <div class="infobox thumbnail">
      {% if hero.mugshot %}
      <div class="aligner">
        <a class="thumbnail">
          <img class="hero" src='{{ hero.mugshot.url }}'>
        </a>
        <div class='roles'>
          {% for assignment in hero.assignment_set.all %}
            {# <p alt="{{ assignment.role.name }}" title="{{ assignment.role.name }}" class="role-magnitude-{{ assignment.magnitude }}">{{ assignment.role.name }}</p> #}
            <img src="{{ assignment.role.thumbshot.url }}" alt="{{ assignment.role.name }}" title="{{ assignment.role.name }}" class="role-magnitude-{{ assignment.magnitude }}">
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <td>Stat</td>
            <td>Level 1</td>
            <td>Level 16</td>
            <td>Level 25</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Strength: {{ dossier.strength }} + {{ dossier.strength_gain }}
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=strength&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=strength&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=strength&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              Agility: {{ dossier.agility }} + {{ dossier.agility_gain }}
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=agility&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=agility&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=agility&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              Intelligence: {{ dossier.intelligence }} + {{ dossier.intelligence_gain }}
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=intelligence&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=intelligence&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.name}}&stat=intelligence&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div>Day/Night vision: {{ dossier.day_vision }} / {{ dossier.night_vision }}</div>
      <div>HP/Mana regen: {{ dossier.hp_regen }} / {{ dossier.mana_regen }}</div>
    </div>
    <div id='top_charts'>
      <h4>Winrate by Player</h4>
      <div id='player_winrate'></div>
      <h4>High-Skill Item Use</h4>
      <div id='high_skill_item_winrate'></div>

    </div>
    <blockquote class="lore">
      {{ hero.lore }}
    </blockquote>
  </div>
  <div class="hero-ability-list">
    {% for ability in abilities %}
      <a href="{% url 'heroes:ability_detail' ability_name=ability.machine_name %}" class="ability thumbnail">
        <img src="{{ ability.picture.url }}" alt="{{ ability.name }}" class="ability">
        <p class='overlayer'>{{ ability.name }}</p>
      </a>
    {% endfor %}
    <div class="clearfix"></div>
  </div>

<h4>Hero Performance by Skill Bracket</h4>
<div class="hero-chart-list">

    <span id='chart1'></span>
    <span id='chart2'></span>
    <span id='chart3'></span>
  </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">

    window.apiHit(
      "#player_winrate",
      '{% url "heroes:api_update_player_winrate_chart" %}',
        $.param({
          hero: '{{ hero.name }}',
          game_modes: [1,2,3,4,5],
          width: 300,
          height: 300,
        }, true
      )
    );
  window.apiHit(
    "#high_skill_item_winrate",
    '{% url "items:api_item_endgame_chart" %}',
      $.param({
        hero: '{{hero.name}}',
        skill_level: '3',
        game_modes: [1, 2, 3, 4, 5],
        no_legend: true,
        width: 275,
        height: 275,
      }, true
    )
  );

    window.apiHit(
      "#chart3",
      '{% url "heroes:api_hero_performance_chart" %}',
        $.param({
          hero: '{{ hero.name }}',
          x_var: 'duration',
          y_var: 'gold_total',
          group_var: 'skill_name',
          panel_var: 'None',
          chart: 'hero_performance_chart',
          width: 300,
          height: 300,
          game_modes: [1,2,3,4,5],
        }, true
      )
    );
    window.apiHit(
      "#chart1",
      '{% url "heroes:api_hero_performance_chart" %}',
        $.param({
          hero: '{{ hero.name }}',
          x_var: 'duration',
          y_var: 'kills',
          group_var: 'skill_name',
          panel_var: 'None',
          chart: 'hero_performance_chart',
          width: 300,
          height: 300,
          game_modes: [1,2,3,4,5],
        }, true
      )
    );
    window.apiHit(
      "#chart2",
      '{% url "heroes:api_hero_performance_chart" %}',
        $.param({
          hero: '{{ hero.name }}',
          x_var: 'duration',
          y_var: 'K-D+.5*A',
          group_var: 'skill_name',
          panel_var: 'None',
          chart: 'hero_performance_chart',
          game_modes: [1,2,3,4,5],
          width: 300,
          height: 300,
        }, true
      )
    );

  </script>
{% endblock extra_js  %}



