{% extends "heroes/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block page_title %}{{ title }}
<span class='glyphicon glyphicon-question-sign tourglyph' title='Click me!'></span>
{% endblock page_title %}

{% block content %}
<div>
  {% include "_image_form_embed.html" %}
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  var input_data;
  d3.json('{{MEDIA_URL}}{{json_data}}',function(source){
    var x;
    input_data = source;
    window.d3ening.plot(source, '#chart')
  });
</script>
{% endblock extra_js %}

{% block tour %}
<script type="text/javascript">
  $(function () {
    var tour = new Tour({
      backdrop: true
    });

    tour.addSteps(
      {{tour|safe}}
    );

    $(".tourglyph").on("click",function(){
      tour.restart();
    })

  });
</script>
{% endblock tour %}

