{% extends "row_base.html" %}

{% block title %}Hero List{% endblock %}

{% block page_title %}
  Hero Index
  <form id="hero-filter" class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only" for="hero-filter-select">Filter by role:</label>
      <select id="hero-filter-select" class="form-control">
        <option value=''>Select role&hellip;</option>
        {% for role in role_list %}
          <option value="{{ role.name }}">{{ role.name }}</option>
        {% endfor %}
      </select>
    </div>
  </form>
{% endblock %}

{% block aligned_content %}
  <div class="row">
    {% for hero in hero_list %}
      <div class='col-md-3'>
        {% if hero.thumbshot and hero.name %}
          {% include "heroes/_hero_card.html" %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
  $(function(){
    $('#hero-filter-select').change(function () {
      var role_select = $(this).val();
      if (!!role_select) {
        $(`.col-md-2:not(.${role_select})`).fadeOut();
        $('.col-md-2.' + role_select).fadeIn();
      } else {
        $('.col-md-2').fadeIn();
      }
    });
  });
</script>
{% endblock extra_js %}
