{% extends "row_base.html" %}
{% load staticfiles %}

{% block title %}{{ hero.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block aligned_content %}
  <div class="hero-lore">
    <h1>{{ hero.name }}</h1>

    <div class="hero-infobox thumbnail">
      {% if hero.mugshot %}
      <div class="aligner">
        <a class="thumbnail">
          <img class="hero" src='{{ hero.mugshot_url }}'>
        </a>
        <div class='roles'>
          {% for assignment in hero.assignment_set.all %}
            {# <p alt="{{ assignment.role.name }}" title="{{ assignment.role.name }}" class="role-magnitude-{{ assignment.magnitude }}">{{ assignment.role.name }}</p> #}
            <img src="{{ assignment.role.thumbshot_url }}" alt="{{ assignment.role.name }}" title="{{ assignment.role.name }}" class="role-magnitude-{{ assignment.magnitude }}">
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <td>Stat</td>
            <td>Level 1</td>
            <td>Level 16</td>
            <td>Level 25</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            Strength: {{ dossier.strength }} + <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength_gain&level=16">{{ dossier.strength_gain }}</a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=strength&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
            Agility: {{ dossier.agility }} + <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility_gain&level=16">{{ dossier.agility_gain }}</a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=agility&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
            Intelligence: {{ dossier.intelligence }} + <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence_gain&level=16">{{ dossier.intelligence_gain }}</a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence&level=1">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence&level=16">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
            <td>
              <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=intelligence&level=25">
                <i class='glyphicon glyphicon-signal'  title='Click me!' style='display:inline-block'></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div>Day/Night vision: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=day_vision&level=16">{{ dossier.day_vision }}</a> / <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=night_vision&level=16">{{ dossier.night_vision }}</a></div>
      <div>HP/Mana regen: {{ dossier.hp_regen }} / {{ dossier.mana_regen }}</div>
      <div>Move speed: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=movespeed&level=16">{{ dossier.movespeed }}</a></div>
      <div>Range: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=range&level=16">{{ dossier.range }}</a></div>
      <div>Base Atk Time: <a href="{% url 'heroes:lineup' %}?heroes={{hero.steam_id}}&stat=base_atk_time&level=16">{{ dossier.base_atk_time }}</a></div>
    </div>
  </div>

    <div class='row'>

      <div class='col-md-4'>
        <h4>Winrate by pro</h4>
        <div id='pro_winrate'></div>
      </div>


      <div class="hero-ability-list col-md-8">
        <h4>Abilities</h4>
        {% for ability in abilities %}
          {% if  ability.picture %}

            <a href="{% url 'heroes:ability_detail' ability_name=ability.machine_name %}" class="ability thumbnail">
              <img src="{{ ability.picture.url }}" alt="{{ ability.name }}" class="ability">
              <p class='overlayer'>{{ ability.name }}</p>
            </a>
          {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
      </div>

    </div>


    <h4>Lore</h4>

    <blockquote class="lore">
      {{ hero.lore }}
    </blockquote>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Mid Leaderboard -->
    <div class='adbar'>
      <ins class="adsbygoogle"
           style="display:inline-block;width:970px;height:90px"
           data-ad-client="ca-pub-5103417759775678"
           data-ad-slot="9512130742"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

<h4>Hero Performance by Skill Bracket (Wins)</h4>
<div class="hero-chart-list row">

    <div class='col-md-4' id='gold-duration'></div>
    <div class='col-md-4' id='xp-duration'></div>
    <div class='col-md-4' id='twr-dmg-duration'></div>
  </div>
{% endblock aligned_content %}

{% block extra_js %}
<script type="text/javascript">
  $(function(){

    Promise.join(
      $.ajax('{% url "rest-api:player-match-summary-list" %}?skill=1&hero_id={{hero.steam_id}}'),
      $.ajax('{% url "rest-api:player-match-summary-list" %}?skill=2&hero_id={{hero.steam_id}}'),
      $.ajax('{% url "rest-api:player-match-summary-list" %}?skill=3&hero_id={{hero.steam_id}}')
    ).then(function(data){
      var chart;
      var chart_data;
      params = [
        {
          'div': '#gold-duration',
          'param': 'gold_per_min',
          'y_label': 'Gold Per Min',
        },
        {
          'div': '#xp-duration',
          'param': 'xp_per_min',
          'y_label': 'XP Per Min',
        },
        {
          'div': '#twr-dmg-duration',
          'param': 'tower_damage',
          'y_label': 'Tower Damage',
        },
      ]
      params.forEach(function(x){

        var plot_data = [
          {
            key: 'Average Skill',
            values: data[0].map(function(v){
              return {
                x: v.match.duration,
                y: v[x.param]
              }
            })
          },
          {
            key: 'High Skill',
            values: data[1].map(function(v){
              return {
                x: v.match.duration,
                y: v[x.param]
              }
            })
          },
          {
            key: 'Very High Skill',
            values: data[2].map(function(v){
              return {
                x: v.match.duration,
                y: v[x.param]
              }
            })
          },
        ]

        nv.addGraph(function(){
          chart = nv.models.scatterChart()
            .color(d3.scale.category10().range())
            .margin({
              bottom:30,
              right: 50,
              top: 70,
            })
            .showLegend(true);

          chart.xAxis.tickFormat(
            window.jsUtils.secondstotime
          )
          .axisLabel('Time (ms)')

          chart.yAxis.axisLabel(x.y_label)

          chart.forceY([0, d3.max(plot_data, function(d){
            return d3.max(d.values, function(v){
              return [x.param]
            })
          })])

          chart_data = d3
            .select(x.div)
            .append('svg')
            .attr('height', 400)
            .attr('width', 400)
            .datum(plot_data)
            .call(chart)

          nv.utils.windowResize(chart.update);
          return chart;
        })

      })

    }).catch(function(e){
      console.log("Error!");
      console.log(e);
    })

  })
</script>
<script type="text/javascript">
  $(function(){
    var url = '{% url "rest-api:player-winrate-list"%}?hero_id={{hero.steam_id}}';
    Promise.resolve($.ajax(url))
    .then(function(data){
      var destination = '#pro_winrate';
      var max_y = 0;
      var plot_data = [
        {
          key: "Winrate",
          values: data.map(function(v){
            var datum = {
              y: v.games ? +(v.wins/v.games * 100).toFixed(2) : 0,
              x: v.games ? v.games : 0,
              // hero: v.hero,
            };
            max_y = Math.max(max_y, datum.y)
            return datum;
          })
        }
      ];

      nv.addGraph(function(data){

        svg = window.make_svg(destination);

        chart = nv.models.scatterChart()
        .showLegend(false)
        .margin({
          left:60,
          bottom:40
        })
        .forceY(0, 100)
        .forceX(0, max_y);

        chart.xAxis.axisLabel("# Games").axisLabelDistance(-20);
        chart.yAxis.axisLabel("Win %").axisLabelDistance(-20);


        chart_data = svg.datum(plot_data);
        chart_data.transition().duration(500).call(chart);

      });


    })
  })
</script>
{% endblock extra_js  %}



