{% extends "row_base.html" %}

{% block title %}Hero Lineups{% endblock title %}

{% block page_title %}Hero Lineups{% endblock page_title %}

{% block content %}
    <div class='col-md-12'>
    <div id='toggles' class='form-inline'>

        <div class='form-group'>
            <label>Which attribute?</label>
            <select id='attributes' style='width:140px'>
              <option value="intelligence" selected='true'>Intelligence</option>
              <option value="strength">Strength</option>
              <option value="agility">Agility</option>
            </select>
        </div>
        <div class='form-group'>
            <label>Which level?</label>
            <select id='level'>
                <option value='1' selected='true'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
                <option value='13'>13</option>
                <option value='14'>14</option>
                <option value='15'>15</option>
                <option value='16'>16</option>
                <option value='17'>17</option>
                <option value='18'>18</option>
                <option value='19'>19</option>
                <option value='20'>20</option>
                <option value='21'>21</option>
                <option value='22'>22</option>
                <option value='23'>23</option>
                <option value='24'>24</option>
                <option value='25'>25</option>
            </select>
        </div>
        <div class="checkbox">
            <label> <input type="checkbox" id='sort'> Sort by name </label>
        </div>

        <button id='update-button' class='btn btn-primary'>Update</button>

    </div>
    </div>
<div class='col-md-12'>
    <div id='chart'></div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var chart;
    var svg;
    var api_data;
    $(function(){

        $('#attributes').select2({
            placeholder: "Select an attribute",
        });
        $('#level').select2({
            placeholder: "Select a level"
        });


        var fn = window.jsUtils.heroAttribute;
        var selector = '#chart';

        Promise.resolve(
            $.ajax('{% url "rest-api:herodossier-list" %}')
        ).then(function(data){

            var attr = $('#attributes').val();
            var level = $('#level').val();
            var sorting = $('#sort').prop('checked');
            api_data = data;

            var update = function(chart){
                var attr = $('#attributes').val();
                var x = chart.discretebar._options.xScale.copy();
                var y = chart.discretebar._options.yScale.copy();
                var level = $('#level').val();
                var sort_by_name = $('#sort').prop('checked');

                new_data = $.map(api_data, function(v){
                    return {
                        'value': fn(attr, level, v),
                        'name': v.hero.name
                    }
                })

                if (sort_by_name){
                    names = new_data.sort(
                        function(a, b){return a.name<b.name}
                    ).map(function(d){ return d.name})

                    x.domain(names)
                } else {
                    names = new_data.sort(
                        function(a, b){
                            return a.value < b.value
                        }
                    ).map(function(d){ return d.name})

                    x.domain(names)
                }

                y.domain(
                    [0, d3.max(new_data, function(d){
                    return d.value})]
                )

                delay = function(d, i) { return i * 50; };

                bargroups = svg.selectAll(".nv-bar")
                    .data(new_data, function(d){
                        return d.name
                    })
                    .transition()
                    .delay(delay)
                    .attr("transform", function(d, i) {
                        x_place = x(d.name);
                        y_place = y(d.value);
                        return "translate("+x_place+","+y_place+")";
                    })
                    .select('rect')
                    .attr('height', function(d){
                        return 205-y(d.value);
                    })

                chart.xAxis.scale(x)
                d3.select('.nv-x.nv-axis')
                    .transition()
                    .call(chart.xAxis);

                chart.yAxis.scale(y)
                d3.select('.nv-y.nv-axis').call(chart.yAxis);
                nv.utils.windowResize(chart.update);

            }

            nv.addGraph(function(){

                chart = nv.models.discreteBarChart()
                    .x(function(d){ return d.name})
                    .y(function(d){ return d.value})
                    .margin({bottom:180})
                    .tooltips(false);

                svg = d3.select(selector)
                    .append('svg:svg')
                    .attr('width', $(selector).width())
                    .attr('height', 400);

                plot_data = [{
                    key: 'Data',
                    values: $.map(data, function(v){
                        return {
                            'value': fn(attr, level, v),
                            'name': v.hero.name
                        }
                    }).sort(function(a, b){ return a.value < b.value})
                }]

                svg.datum(plot_data);
                svg.transition().duration(500).call(chart);

                d3.select('.nv-x.nv-axis > g')
                .selectAll('g')
                  .selectAll('text')
                  .attr('transform', function(d,i,j) { return 'translate (-7, 65) rotate(-90 0,0)' }) ;

                nv.utils.windowResize(chart.update);

                $('#update-button').click(function(){
                    update(chart);
                });

                return chart;
            })

        }).catch(function(e){
            console.log('Error!');
            console.log(e);
        })
    })
</script>
{% endblock extra_js %}

{% block extra_css %}
<style type="text/css">
    select{
        color:black;
    }
</style>
{% endblock extra_css %}
