<a href="{% url 'matches:detail' match_id=pms.match.steam_id %}" class="thumbnail">

  {% if pms.invalid %}
    <div class='glyphicon glyphicon-remove-circle validity-glyph' title='Invalid Match (Probably Abandon)'></div>
  {% elif pms.unprocessed %}
    <div class='glyphicon glyphicon-ban-circle unprocessed-glyph' title='Unprocessed Match'></div>
  {% endif %}

  {% if pms.is_win %}
    <span class='card-win-pip overlayer-top-left' title='Win'>Win</span>
  {% endif %}

  {% if pms.hero.mugshot %}
    <img src="{{ pms.hero.mugshot_url }}" alt="{{ hero.name }}"
      class="player-match-portrait">
  {% endif %}


  <p class='overlayer'>
    KDA2:
    <span class='scorebar'>
      {{ pms.kills }}/{{ pms.deaths }}/{{ pms.assists }}/{{ pms.kda2 }}
    </span>
    {% if pms.match.is_parsed %}
      <span class='parsed-tag'>Parsed</span>
    {% endif %}

  </p>
  <p class='overlayer-top-right small-date'>
    {{pms.display_date}}, {{pms.display_duration}}
  </p>

</a>
