{% extends "base.html" %}

{% load navigation_extras %}

{% block extra_nav %}
  <ul class='nav nav-tabs'>
    <li class="{% active 'players:index' %}"><a href="{% url 'players:index' %}">Index</a></li>
    <li class="{% active 'players:player_winrate' %}"><a href="{% url 'players:player_winrate' %}">Winrate</a></li>
    <li class="{% active 'players:timeline' %}"><a href="{% url 'players:timeline' %}">Timeline</a></li>
    <li class="{% active 'players:hero_ability_comparison' %}"><a href="{% url 'players:hero_ability_comparison' %}">Hero Skilling Comparison</a></li>
    <li class="{% active 'players:management' %}"><a href="{% url 'players:management' %}">Management</a></li>
    {% if player %}
      <li class="{% active 'players:id_detail' %}"><a href="{% url 'players:id_detail' player_id=player.steam_id %}">{{ player.persona_name }}</a></li>
    {% endif %}
    {% if pms_list %}
      <li class="{% active 'players:id_matches' %}"><a href="{% url 'players:id_matches' player_id=player.steam_id %}">{{ player.persona_name }}'s Matches</a></li>
    {% endif %}
    {% if player_id %}
      <li class="{% active 'players:id_matches' %}">
        <a href="{% url 'players:id_matches' player_id=player_id %}">Matches</a>
      </li>
    {% endif %}
  </ul>
{% endblock extra_nav %}
