{% extends "players/base.html" %}


{% block title %}Player Comparison{% endblock title %}

{% block page_title %}{{player1.persona_name}} ({{ player1.steam_id }}) vs {{player2.persona_name}} ({{ player2.steam_id }}) {% endblock page_title %}

{% block content %}

<span><input type='text' class='single-hero-tags'></span>
  <button type='button' class='btn btn-small btn-primary click-selector'>
  Select Hero</button>


  <div class="row">
    <div class="player-charts col-md-4">
    <h4>Hero Winrate</h4>
      {% if winrate_json %}
        <span id='winrate_chart'></span>
      {% endif %}
    </div>

    <div class="player-charts col-md-4">
    <h4>Hero Usage</h4>
      {% if usage_json %}
        <span id='usage_chart'></span>
      {% endif %}
    </div>

    <div class="player-charts col-md-4">
      <h4>Role Comparison</h4>
      {% if role_json %}
        <span id='role_chart'></span>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="player-charts col-md-6">
    <h4>Team KDA2</h4>
      {% if team_kda_json %}
        <span id='team_kda_chart'></span>
      {% endif %}
    </div>

    <div class="player-charts col-md-6">
    <h4>Personal KDA2</h4>
      {% if kda_json %}
        <span id='kda_chart'></span>
      {% endif %}
    </div>
  </div>

{% endblock content %}


{% block extra_js %}
<script type="text/javascript">

  var checkvar = 0;
  function chart1(callback){
    d3.json('{{MEDIA_URL}}{{winrate_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#winrate_chart')
      checkvar+=1;
      $.event.trigger({
        type:    "semaphore",
        message: "Chart 1 done."
      });
    });
  }

  function chart2(callback){
    d3.json('{{MEDIA_URL}}{{usage_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#usage_chart')
      checkvar+=2;
      $.event.trigger({
        type:    "semaphore",
        message: "Chart 2 done."
      });
    });
  }
  function chart5(callback){
      d3.json('{{MEDIA_URL}}{{role_json}}',function(source){
        var input_data = source;
        window.d3ening.plot(source, '#role_chart')
        checkvar+=5;
        $.event.trigger({
          type:    "semaphore",
          message: "Chart 5 done."
        });
      });
  }


  function chart3(callback){
    d3.json('{{MEDIA_URL}}{{kda_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#kda_chart')
      checkvar+=3;
      $.event.trigger({
        type:    "semaphore",
        message: "Chart 3 done."
      });

    });
  }

  function chart4(callback){
    d3.json('{{MEDIA_URL}}{{team_kda_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#team_kda_chart')
      checkvar+=4;
      $.event.trigger({
        type:    "semaphore",
        message: "Chart 4 done."
      });

    });
  }


  function addenda(){
    function convertToSlug(Text)
    {
        return Text
            .toLowerCase()
            .replace(/ /g,'-')
            .replace(/[^\w-]+/g,'')
            ;
    }

    function make_tooltip(){
        var div = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);
        return div;
    }

    // Points manipulation
    var div = make_tooltip();
    d3.selectAll('.points')
      .on('mouseover.filter',function(d){
          var str = 'circle:not(.'+convertToSlug(d.label)+')';

          selection = d3.selectAll(str)
          .transition()
          .duration(500)
          .attr('opacity',0);

          div.transition()
            .duration(500)
            .style("opacity", 0.9);

          div .html(d.tooltip)
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");

      })
      .on('mouseout.filter',function(d){

          var str = 'circle:not(.'+convertToSlug(d.label)+')';

          d3.selectAll(str)
          .transition()
          .duration(500)
          .attr('opacity',1);

        div.transition()
          .duration(500)
          .style("opacity", 0);

      });


    // Clicker manipulation
    d3.selectAll('.click-selector')
      .on('click',function(d){
          if (!$('.click-selector').hasClass('clicked')){
            var str = 'circle:not(.'+convertToSlug(
              $('.select2-chosen').text()
            )+')';

            selection = d3.selectAll(str)
            .transition()
            .duration(500)
            .attr('opacity',0);
            $('.click-selector').addClass('clicked')
            $('.click-selector').text('Unselect hero')
          }else{
            var str = 'circle:not(.'+convertToSlug($('.select2-chosen').text())+')';

            d3.selectAll(str)
            .transition()
            .duration(500)
            .attr('opacity',1);
            $('.click-selector').removeClass('clicked')
            $('.click-selector').text('Select hero')
          }
      });
  }
  chart1();
  chart2();
  chart3();
  chart4();
  chart5();
  $(document).on('semaphore', function(evt){
    if (checkvar>=15){
      addenda()
    }
  })

</script>
<script type="text/javascript">

</script>
{% endblock extra_js %}

