{% extends "players/base.html" %}


{% block title %}Player Comparison{% endblock title %}

{% block page_title %}{{player1.persona_name}} ({{ player1.steam_id }}) vs {{player2.persona_name}} ({{ player2.steam_id }}) {% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="player-charts col-md-4">
    <h4>Hero Winrate</h4>
        <span id='winrate_chart'></span>
    </div>

    <div class="player-charts col-md-4">
    <h4>Hero Usage</h4>
        <span id='usage_chart'></span>
    </div>

    <div class="player-charts col-md-4">
      <h4>Role Comparison</h4>
        <span id='role_chart'></span>
    </div>
  </div>

  <div class="row">
    <div class="player-charts col-md-6">
    <h4>Team KDA2</h4>
        <span id='team_kda_chart'></span>
    </div>

    <div class="player-charts col-md-6">
    <h4>Personal KDA2</h4>
        <span id='kda_chart'></span>
    </div>
  </div>

{% endblock content %}


{% block extra_js %}
<script type="text/javascript">

  var checkvar = 0;
  var semaphorefunc = function(num){
        checkvar+=num;
        $.event.trigger({
          type:    "semaphore",
          message: "Chart 1 done."
        });
      }

  function chart1(callback){
      window.apiHit(
        "#usage_chart",
        '{% url "players:api_versus_winrate_chart" %}',
        $.param({
          player_1: '{{player1.persona_name}}',
          player_2: '{{player2.persona_name}}',
          game_modes: [1, 2, 3, 4, 5],
          group_var: 'alignment',
          plot_var: 'usage',
          width: 300,
          height: 300,
        }, true),
        semaphorefunc(1)
      );
    }

  function chart2(callback){
      window.apiHit(
        "#winrate_chart",
        '{% url "players:api_versus_winrate_chart" %}',
        $.param({
          player_1: '{{player1.persona_name}}',
          player_2: '{{player2.persona_name}}',
          game_modes: [1, 2, 3, 4, 5],
          group_var: 'alignment',
          plot_var: 'winrate',
          width: 300,
          height: 300,
        }, true),
        semaphorefunc(2)
      );
  }
  function chart5(callback){
      window.apiHit(
        "#kda_chart",
        '{% url "matches:api_endgame_chart" %}',
        $.param({
          players: '{{player1.persona_name}},{{player2.persona_name}}',
          game_modes: [1, 2, 3, 4, 5],
          x_var: 'duration',
          y_var: 'K-D+.5*A',
          panel_var: 'is_win',
          group_var: 'player',
          width: 300,
          height: 300,
        }, true),
        semaphorefunc(5)
      );
  }


  function chart3(callback){
      window.apiHit(
        "#team_kda_chart",
        '{% url "matches:api_own_team_endgame_chart" %}',
        $.param({
          players: '{{player1.persona_name}},{{player2.persona_name}}',
          game_modes: [1, 2, 3, 4, 5],
          x_var: 'duration',
          y_var: 'K-D+.5*A',
          group_var: 'player',
          panel_var: 'is_win',
          compressor: 'sum',
          width: 300,
          height: 300,
        }, true),
        semaphorefunc(3)
      );
  }

  function chart4(callback){
      window.apiHit(
        "#role_chart",
        '{% url "players:api_role_chart" %}',
        $.param({
          player_1: '{{player1.persona_name}}',
          player_2: '{{player2.persona_name}}',
          plot_var: 'games',
          width: 300,
          height: 300,
        }, true),
        semaphorefunc(4)
      );
    return false
  }


  function addenda(){
    function convertToSlug(Text)
    {
        Text = String(Text)
        return Text
            .toLowerCase()
            .replace(/ /g,'-')
            .replace(/[^\w-]+/g,'')
            ;
    }

    function make_tooltip(){
        var div = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);
        return div;
    }

    // Points manipulation
    var div = make_tooltip();
    d3.selectAll('.points')
      .on('mouseover.filter',function(d){
          var str = '.dataset:not(.'+convertToSlug(d.label)+')';

          selection = d3.selectAll(str)
          .transition()
          .duration(500)
          .attr('opacity',0);

          div.transition()
            .duration(500)
            .style("opacity", 0.9);

          div .html(d.tooltip)
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");

      })
      .on('mouseout.filter',function(d){

          var str = '.dataset:not(.'+convertToSlug(d.label)+')';
          d3.selectAll(str)
          .transition()
          .duration(500)
          .attr('opacity',1);

        div.transition()
          .duration(500)
          .style("opacity", 0);

      });


  }


  chart1();
  chart2();
  chart3();
  chart4();
  chart5();
  $(document).on('semaphore', function(evt){
    if (checkvar>=15){
      addenda()
    }
  })

</script>
<script type="text/javascript">

</script>
{% endblock extra_js %}

