{% extends "players/base.html" %}


{% block title %}Data Import Request{% endblock title %}

{% block page_title %}Data Import Request{% endblock page_title %}

{% block content %}
    {% if success %}
        <div class = 'alert alert-success'>Congrats!  Your data has been added to the list.</div>
    {% elif preexisting%}
        <div class = 'alert alert-warning'>We already have that ID in the list.  If that's you, rest easy; you are covered.</div>
    {% elif error%}
        <div class = 'alert alert-danger'>That form did not validate.  Check the errors!</div>
    {% endif %}
    <div class='row'>
        <div class='col-md-8'>
            <h3>What we are offering</h3>
            <p>
            We are offering a one-off 500 match data import by request during our beta.
            </p>
            <p>
            At the moment, we are rate-limited by Valve's API: we can only import about 70 people per day while keeping up with our other import obligations.  We want to keep things fair, so we are accepting data requests via the form below and choosing randomly from the applicant pool if we have more requests than spaces.  We will email you when your data is being pulled in.
            </p>
            <h3>Gotchas and howto</h3>
            <p>Please make sure your data is public, or we cannot pull it for you!</p>
            <p>(Dota 2 > Settings gear (top left) > Options (middle) > Profile (far right) > Expose Public Data Match.)</p>
            <p>To get your steam id, use the XXXX in <b><i>your</i></b> steam community URL (ex http://steamcommunity.com/profiles/XXXX), or <a href="http://steamidconverter.com/">http://steamidconverter.com/</a> to get your 64 bit ID from your account name.  (You can use the YYYY in http://steamcommunity.com/id/YYYY to get your account name).  Make sure this points to your account, not someone else's!</p>
        </div>
        <div class='col-md-4'>
            <div class='form-container'>
                <form class='chart-form' action="" method='POST'>
                  {% include "_form.html" %}
                  {% csrf_token %}
                  <div class="control-group">
                    <div class="controls pull-right">
                      <button type="submit" class="btn btn-small btn-primary">Submit</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
          </div>
      </div>
    </div>
{% endblock content %}
