{% extends "players/base.html" %}


{% block title %}Player Summary{% endblock title %}

{% block page_title %}Player Summary <a href="{{compare_url}}"><button type='button' class='btn btn-primary'>{{compare_str}}</button></a>{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="player-charts col-md-4">
      <h4>Hero Winrate</h4>
        <span id='winrate_chart'></span>
    </div>
    <div class="player-charts col-md-4">
      <h4>Endgame Comparison</h4>
        <span id='endgame_chart'></span>
    </div>

    <div class="player-infobox col-md-4">
      <img style='margin-top:10px' src="{{ player.avatar_full }}">
      <h2>{{ player.display_name }}
      {% if player.pro_name %}
      <br>
        <small>AKA: {{ player.pro_name }}</small>
      {% endif %}
      </h2>
      <h6>Wins: {{stats.wins}}</h6>
      <h6>Losses: {{stats.losses}}</h6>
      <h6>Winrate: {{stats.winrate}}%</h6>
      <h6>Total Games: {{stats.total}}</h6>
      <h6>Steam ID: {{ player.steam_id }}</h6>
    </div>
  </div>

  <div class="row">
  </div>

  <div id='chart'></div>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Big Bar -->
      <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-5103417759775678"
        data-ad-slot="2268065548"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

  <div>
        <h4>Recent Matches.  Score: <span id='show-score' class='nav-toggle'>Show</span> <span id='hide-score' class='nav-toggle'>Hide</span></h4>
        {% include "players/_player_match_cards.html" %}
    <a href="{% url 'players:id_matches' player_id=player.steam_id %}">More</a>
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  window.apiHit(
    "#winrate_chart",
    '{% url "players:api_winrate_chart" %}',
      $.param({
        player: '{{player.persona_name}}',
        game_modes: [1, 2, 3, 4, 5],
        group_var: 'alignment',
        width: 300,
        height: 300,
      }, true
    )
  );

  window.apiHit(
    "#endgame_chart",
    '{% url "matches:api_endgame_chart" %}',
      $.param({

        players: '{{endgame_chart_names}}',
        game_modes: [1, 2, 3, 4, 5],
        x_var: 'duration',
        y_var: 'K-D+.5*A',
        panel_var: 'None',
        group_var: 'player',
        width: 300,
        height: 300,
      }, true
    )
  );
</script>
<script type="text/javascript">
  $(window.jsUtils.scorebarToggles())
</script>

{% endblock extra_js %}

