{% extends "players/base.html" %}


{% block title %}Player Summary{% endblock title %}

{% block page_title %}Steam ID: {{ player.steam_id }}{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="player-charts col-md-4">
    <h4>Hero Winrate</h4>
      {% if winrate_json %}
        <span id='winrate_chart'></span>
      {% endif %}
    </div>

    <div class="player-charts col-md-4">
      <h4>Endgame Comparison</h4>
      {% if endgame_json %}
        <span id='endgame_chart'></span>
      {% endif %}
    </div>

    <div class="player-infobox col-md-3">
      <img src="{{ player.avatar_full }}">
      <h2>{{ player.persona_name }}</h2>
      {% if player.pro_name %}
        <h3>Pro name: {{ player.pro_name }}</h3>
      {% endif %}
      <h6>Wins: {{stats.wins}}</h6>
      <h6>Losses: {{stats.losses}}</h6>
      <h6>Winrate: {{stats.winrate}}%</h6>
      <h6>Total Games: {{stats.total}}</h6>
    </div>
  </div>
  <div id='chart'></div>

  <div>
        <h4>Recent Matches.  Score: <span id='show-score' class='nav-toggle'>Show</span> <span id='hide-score' class='nav-toggle'>Hide</span></h4>
        {% include "players/_player_match_cards.html" %}
    <a href="{% url 'players:id_matches' player_id=player.steam_id %}">More</a>
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  var input_data;
  d3.json('{{MEDIA_URL}}{{winrate_json}}',function(source){
    var x;
    input_data = source;
    window.d3ening.plot(source, '#winrate_chart')
  });

  d3.json('{{MEDIA_URL}}{{endgame_json}}',function(source){
    var x;
    input_data = source;
    window.d3ening.plot(source, '#endgame_chart')
  });

</script>
<script type="text/javascript">
  $(scorebarToggles())
</script>

{% endblock extra_js %}

