{% extends "players/base.html" %}


{% block title %}Hero Style{% endblock title %}

{% block page_title %}{{player.display_name}} as {{hero.name}} {% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="player-charts col-md-8">
    <h4>KDA2</h4>
        <span id='hero_kda2_chart'></span>
    </div>

    <div class="player-charts col-md-4">
    <h4>Level Progression</h4>
        <span id='hero_progression_chart'></span>
    </div>

  </div>


  <div class="row">
    <div class="player-charts col-md-8">
    <h4>Kills</h4>
        <span id='hero_kills_chart'></span>
    </div>

    <div class="player-charts col-md-4">
    <h4>Skill Usage</h4>
        <span id='skill_winrate_chart'></span>
    </div>
  </div>

  <div class="row">
    <div class="player-charts col-md-8">
    <h4>Hero Damage</h4>
        <span id='hero_dmg_chart'></span>
    </div>

    <div class="player-charts col-md-4">
    <h4>Item Usage</h4>
        <span id='item_winrate_chart'></span>
    </div>
  </div>

  <div class="row">
    <div class="player-charts col-md-8">
    <h4>Tower Damage</h4>
        <span id='hero_push_chart'></span>
    </div>
  </div>

{% endblock content %}


{% block extra_js %}
<script type="text/javascript">

  window.apiHit(
    "#hero_progression_chart",
    '{% url "heroes:api_skill_progression_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        player: "{{player.steam_id}}",
        game_modes: [1, 2, 3, 4, 5],
        division: 'Skill',
        width: 300,
        height: 300,
      }, true
    )
  );

  window.apiHit(
    "#hero_kda2_chart",
    '{% url "heroes:api_hero_performance_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        player: "{{player.steam_id}}",
        game_modes: [1, 2, 3, 4, 5],
        division: 'Skill',
        x_var: 'duration',
        y_var: 'K-D+.5*A',
        group_var: 'skill_name',
        panel_var: 'is_win',

        width: 300,
        height: 300,
      }, true
    )
  );

  window.apiHit(
    "#hero_push_chart",
    '{% url "heroes:api_hero_performance_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        player: "{{player.steam_id}}",
        game_modes: [1, 2, 3, 4, 5],
        division: 'Skill',
        x_var: 'duration',
        y_var: 'tower_damage',
        group_var: 'skill_name',
        panel_var: 'is_win',

        width: 300,
        height: 300,
      }, true
    )
  );
  window.apiHit(
    "#hero_dmg_chart",
    '{% url "heroes:api_hero_performance_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        player: "{{player.steam_id}}",
        game_modes: [1, 2, 3, 4, 5],
        division: 'Skill',
        x_var: 'duration',
        y_var: 'hero_damage',
        group_var: 'skill_name',
        panel_var: 'is_win',

        width: 300,
        height: 300,
      }, true
    )
  );
  window.apiHit(
    "#hero_kills_chart",
    '{% url "heroes:api_hero_performance_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        player: "{{player.steam_id}}",
        game_modes: [1, 2, 3, 4, 5],
        division: 'Skill',
        x_var: 'duration',
        y_var: 'kills',
        group_var: 'skill_name',
        panel_var: 'is_win',

        width: 300,
        height: 300,
      }, true
    )
  );
  window.apiHit(
    "#item_winrate_chart",
    '{% url "items:api_item_endgame_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        player: "{{player.steam_id}}",
        game_modes: [1, 2, 3, 4, 5],
        no_legend: true,
        width: 300,
        height: 300,
      }, true
    )
  );
  window.apiHit(
    "#skill_winrate_chart",
    '{% url "heroes:api_build_level_chart" %}',
      $.param({
        hero: "{{hero.steam_id}}",
        player: "{{player.steam_id}}",
        game_modes: [1, 2, 3, 4, 5],
        levels: [5, 10, 15],
        width: 300,
        height: 300,
      }, true
    )
  );


</script>
<script type="text/javascript">

</script>
{% endblock extra_js %}

