{% extends "players/base.html" %}


{% block title %}Player Comparison{% endblock title %}

{% block page_title %}{{player.display_name}} as {{hero.name}} {% endblock page_title %}

{% block content %}



  <div class="row">
    <div class="player-charts col-md-4">
    <h4>Level Progression</h4>
      {% if hero_progression_json %}
        <span id='hero_progression_chart'></span>
      {% endif %}
    </div>

    <div class="player-charts col-md-4">
    <h4>Item Usage</h4>
      {% if item_winrate_json %}
        <span id='item_winrate_chart'></span>
      {% endif %}
    </div>
    <div class="player-charts col-md-4">
    <h4>Skill Usage</h4>
      {% if skill_winrate_json %}
        <span id='skill_winrate_chart'></span>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="player-charts col-md-6">
    <h4>KDA2</h4>
      {% if hero_kda2_chart_json %}
        <span id='hero_kda2_chart'></span>
      {% endif %}
    </div>

    <div class="player-charts col-md-6">
    <h4>Kills</h4>
      {% if hero_kills_chart_json %}
        <span id='hero_kills_chart'></span>
      {% endif %}
    </div>

  </div>

  <div class="row">
    <div class="player-charts col-md-6">
    <h4>Hero Damage</h4>
      {% if hero_dmg_json %}
        <span id='hero_dmg_chart'></span>
      {% endif %}
    </div>
    <div class="player-charts col-md-6">
    <h4>Tower Damage</h4>
      {% if hero_push_json %}
        <span id='hero_push_chart'></span>
      {% endif %}
    </div>

  </div>

{% endblock content %}


{% block extra_js %}
<script type="text/javascript">

  function chart1(callback){
    d3.json('{{MEDIA_URL}}{{hero_progression_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#hero_progression_chart')
    });
  }

  function chart2(callback){
    d3.json('{{MEDIA_URL}}{{hero_kda2_chart_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#hero_kda2_chart')
    });
  }

  function chart3(callback){
    d3.json('{{MEDIA_URL}}{{hero_push_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#hero_push_chart')
    });
  }

  function chart4(callback){
    d3.json('{{MEDIA_URL}}{{item_winrate_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#item_winrate_chart')
    });
  }
  function chart5(callback){
    d3.json('{{MEDIA_URL}}{{hero_dmg_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#hero_dmg_chart')
      checkvar+=2;
    });
  }
  function chart6(callback){
    d3.json('{{MEDIA_URL}}{{skill_winrate_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#skill_winrate_chart')
    });
  }

  function chart7(callback){
    d3.json('{{MEDIA_URL}}{{hero_kills_chart_json}}',function(source){
      var input_data = source;
      window.d3ening.plot(source, '#hero_kills_chart')
    });
  }

  chart1();
  chart2();
  chart3();
  chart4();
  chart5();
  chart6();
  chart7();

</script>
<script type="text/javascript">

</script>
{% endblock extra_js %}

