{% extends "players/base.html" %}

{% block page_title %}Player Index!
<span class='nav-toggle'><a href="{% url 'players:pro_index' %}">Pros</a></span>
<span class='nav-toggle'> <a href="{% url 'players:followed_index' %}">Followed</a></span>
<span class='nav-toggle'> <a href="{% url 'players:index' %}">All</a></span>
{% endblock page_title %}

{% block content %}

  <div class="row">
    {% for player in player_list %}
      {% if player.avatar %}
        <div class="col-md-2">
          <a href="{% url 'players:id_detail' player_id=player.steam_id %}" class="thumbnail">
            <img src="{{player.avatar_full}}" alt="{{player.display_name}}" class="player-portrait">
            <p class='overlayer'>{{player.display_name}}</p>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock content %}
