{% extends "players/base.html" %}

{% block title %}Match Index{% endblock title %}

{% block page_title %}{{ player.persona_name }}'s Matches{% endblock page_title %}

{% block content %}
  <div>
<h4>Score: <span id='show-score' class='nav-toggle'>Show</span> <span id='hide-score' class='nav-toggle'>Hide</span></h4>
        {% include "players/_player_match_cards.html" %}
      {% include "_pagination.html" with pages_list=pms_list page_links_to_display=pms_list.paginator.page_range %}
  </div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
  $(scorebarToggles())
</script>

{% endblock extra_js %}
