{% extends "base.html" %}


{% block title %}
  {{ player.display_name }} - Summary - datadrivendota
{% endblock title %}

{% block page_title %}Player Summary <a href="{{compare_url}}"><button type='button' class='btn btn-primary'>{{compare_str}}</button></a>{% endblock page_title %}

{% block content %}

  <div class='player-summary'>

    <div class='row'>
      <div class='col-md-3'>
      {% if player.avatar_full %}
          <img class="img-responsive" src="{{ player.avatar_full }}">
      {% endif %}
      </div>
      <div class='col-md-6'>
        <h1>
          {{ player.display_name }}
          {% if player.pro_name %}
            <small>AKA: {{ player.pro_name }}</small>
          {% endif %}
          {% if player.is_subscribed %}
            <small class="text-primary"> - Subscribed</small>
          {% endif %}
        </h1>
      </div>
    </div>
  </div>
  <h2 class='page-header'>Recent matches</h2>
  <div class='row'>
    {% for pms in pms_list %}
      <div class="col-md-3 player-match-row">
        {% include "players/_player_performance_card.html" %}
      </div>
    {% endfor %}
  </div>

{% endblock content %}
{% block extra_css %}
  <style type="text/css">
    .player-summary{
      margin-bottom:30px;
    }
    .playerstat{
      font-size:20px;
    }
    .autoupdate{
        font-size: 50px;
    }
  </style>
{% endblock extra_css %}
