{% extends "row_base.html" %}
{% block title %}{% endblock title %}
{% block page_title %}{% endblock page_title %}

{% block aligned_content %}
<div class='col-md-12'>
    <h1>Metrics</h1>
    <div class='row'>
        <div class='col-md-6'>
        <table class='table'>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Count</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Games with no winner (past week)</td>
                    <td>{{winnerless_matches_week}}</td>
                </tr>
                <tr>
                    <td>Games with no winner (all time)</td>
                    <td>{{winnerless_matches_alltime}}</td>
                </tr>
                <tr>
                    <td>Leagues without a name that aren't failed</td>
                    <td>{{unnamed_unfailed_leagues}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <h1>Development</h1>
    <div class='row'>
        <div class='col-md-2'>
            <h2>Travis</h2>
            <img src="https://magnum.travis-ci.com/bwarren2/datadrivendota.svg?token=NmrM9gUUPxiFYksypagE">
        </div>

        <div class='col-md-2'>
            <h2>Heroku</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://dashboard.heroku.com/apps/datadrivendota/metrics/web">App Metrics</a>
                </li>
                <li>
                    <a href="https://postgres.heroku.com/databases/datadrivendota-heroku-postgresql-jade">DB Metrics</a>
                </li>
            </ul>
        </div>
        <div class='col-md-6'>
            <h2>New Relic Dash</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://rpm.newrelic.com/accounts/334522/applications/2147266">App Metrics</a>

                </li>
            </ul>

        </div>

    </div>
</div>


<div class='col-md-12'>
    <h1>Design</h1>
    <div class='row'>
        <div class='col-md-2'>
            <h2>CSS</h2>
            <ul class='list-group'>
                <li>
                    <a href="{% url 'health:styles' %}">Swatch Page</a>
                </li>
            </ul>

        </div>
    </div>
</div>


<div class='col-md-12'>
    <h1>BizDev</h1>

    <div class='row'>
        <div class='col-md-2'>
            <h2>Adsense</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://www.google.com/adsense/app#home">Ad Revenue</a>
                </li>
            </ul>
        </div>

        <div class='col-md-2'>
            <h2>GAnalytics</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://www.google.com/analytics/web/?hl=en&pli=1#report/visitors-overview/a51075768w83194093p86261914/">Demography</a>

                </li>
            </ul>

        </div>
    </div>

    <h1>Stripe</h1>
    <div class='row'>
        <div class='col-md-12' id='chart-30DRev'></div>
    </div>
    <div class='row'>
        <div class='col-md-12' id='chart-customers'></div>
    </div>
    <div class='row'>
        <div class='col-md-12' id='chart-new-customers'></div>
    </div>
</div>
{% endblock aligned_content %}
