{% extends "row_base.html" %}
{% block title %}{% endblock title %}
{% block page_title %}{% endblock page_title %}

{% block content %}
<div class='col-md-12'>
    <h1>Metrics</h1>
    <div class='row'>
        <div class='col-md-6'>
        <table class='table'>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Count</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Games with no winner (past week)</td>
                    <td>{{winnerless_matches_week}}</td>
                </tr>
                <tr>
                    <td>Games with no winner (all time)</td>
                    <td>{{winnerless_matches_alltime}}</td>
                </tr>
                <tr>
                    <td>Leagues without a name that aren't failed</td>
                    <td>{{unnamed_unfailed_leagues}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <h1>Development</h1>
    <div class='row'>
        <div class='col-md-2'>
            <h2>Travis</h2>
            <img src="https://magnum.travis-ci.com/bwarren2/datadrivendota.svg?token=NmrM9gUUPxiFYksypagE">
        </div>

        <div class='col-md-2'>
            <h2>Heroku</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://dashboard.heroku.com/apps/datadrivendota/metrics/web">App Metrics</a>
                </li>
                <li>
                    <a href="https://postgres.heroku.com/databases/datadrivendota-heroku-postgresql-jade">DB Metrics</a>
                </li>
            </ul>
        </div>
        <div class='col-md-6'>
            <h2>New Relic Dash</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://rpm.newrelic.com/accounts/334522/applications/2147266">App Metrics</a>

                </li>
            </ul>

        </div>

    </div>
</div>


<div class='col-md-12'>
    <h1>Design</h1>
    <div class='row'>
        <div class='col-md-2'>
            <h2>CSS</h2>
            <ul class='list-group'>
                <li>
                    <a href="{% url 'health:styles' %}">Swatch Page</a>
                </li>
            </ul>

        </div>
    </div>
</div>


<div class='col-md-12'>
    <h1>BizDev</h1>

    <div class='row'>
        <div class='col-md-2'>
            <h2>Adsense</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://www.google.com/adsense/app#home">Ad Revenue</a>
                </li>
            </ul>
        </div>

        <div class='col-md-2'>
            <h2>GAnalytics</h2>
            <ul class='list-group'>
                <li>
                    <a href="https://www.google.com/analytics/web/?hl=en&pli=1#report/visitors-overview/a51075768w83194093p86261914/">Demography</a>

                </li>
            </ul>

        </div>
    </div>

    <h1>Stripe</h1>
    <div class='row'>
        <div class='col-md-12' id='chart-30DRev'></div>
    </div>
    <div class='row'>
        <div class='col-md-12' id='chart-customers'></div>
    </div>
    <div class='row'>
        <div class='col-md-12' id='chart-new-customers'></div>
    </div>

</div>


{% endblock content %}

{% block extra_js %}
<script src="https://d26b395fwzu5fz.cloudfront.net/3.2.4/keen.min.js" type="text/javascript"></script>

<script type="text/javascript">
var client = new Keen({
  projectId: "{{project_id}}",
  readKey: "{{read_key}}"
});

Keen.ready(function(){


    // ===============================
    // 30D Revenue
    // ===============================

    // ===============================
    // Calculate Stripe Revenue Metric
    // ===============================
    var revenue = new Keen.Query('sum', {
        eventCollection: 'Stripe_Events',
        timeframe: 'last_30_days',
        targetProperty: 'data.object.amount',
        filters: [{
            'property_name':'type',
            'operator':'eq',
            'property_value':'charge.succeeded'
        }]
    });
    // ===============================
    // Create a new Dataviz instance
    // ===============================
    var revMetric = new Keen.Dataviz()
      .el(document.getElementById('chart-30DRev'))
      .chartOptions({
          prefix: '$'
      })
      .prepare(); // start spinner
    // ===============================
    // Run query and handle the result
    // ===============================
    client.run(revenue,
        function(err, response){
        // if (err) throw(err);
        revMetric
          .parseRawData({ result: Math.round(response.result/100) })
          .title('Last 30 Days\' Revenue')
          .render();
    });


    // ===============================
    // Unique Customers
    // ===============================
    // =========================================
    // Create Unique Paying Customers Line Chart
    // =========================================
    var payingCustomersSeries = new Keen.Query('count_unique', {
        eventCollection: 'Stripe_Events',
        timeframe: 'last_6_months',
        targetProperty: 'data.object.customer',
        interval: 'monthly',
        filters: [{
            'property_name':'type',
            'operator':'eq',
            'property_value':'invoice.payment_succeeded'
        },
        {
            'property_name':'data.object.total',
            'operator':'gt',
            'property_value': 0
        }]
    });
    // ===============================
    // Run query and draw the result
    // ===============================
    client.draw(payingCustomersSeries, document.getElementById('chart-customers'), {
        chartType: 'areachart',
        title: 'Total Unique Paying Customers',
        chartOptions: {
            hAxis: {
              slantedText: true,
              slantedTextAngle: 45
            },
            legend: { position: 'none' },
        }
    });

    // ========================================================
    // Create Line Chart of New Customers Paying for First Time
    // ========================================================
    var timeframe = 'last_6_months';
    var countNewPayingCustomers = new Keen.Query('count', {
        eventCollection: 'Stripe_Events',
        timeframe: timeframe,
        interval: 'monthly',
        filters: [{
            'property_name':'type',
            'operator':'eq',
            'property_value':'customer.subscription.updated'
        },
        {
            'property_name':'data.object.plan.amount',
            'operator':'gt',
            'property_value': 0
        },
        {
            'property_name':'data.previous_attributes.plan.amount',
            'operator':'eq',
            'property_value': 0
        }]
    });
    // ===============================
    // Run query and draw the result
    // ===============================
    client.draw(countNewPayingCustomers, document.getElementById('chart-new-customers'), {
        chartType: 'areachart',
        title: 'Count of New Customers Paying for the First Time (' + timeframe + ')',
        chartOptions: {
            hAxis: {
              slantedText: true,
              slantedTextAngle: 45
            },
            legend: { position: 'none' }
        }
    });

});
</script>

{% endblock extra_js %}
